<!doctype html>
<html>
<!-- Traceability -->
<!-- Created: 12/18/2020 -->
<!-- Updated: 5/4/2021 -->
{% extends "console/console.html" %}
{% load icon %}
{% block console_body %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    <!-- TODO: Hide tabs that are not relevant to organization type -->
    <div class="col pt-3 pb-2 mb-3">
      <h1 class="fs-5 mb-0 lh-base mb-3">Traceability</h1>
      <ul class="nav nav-tabs">
        {% for tab in traceability.tabs %}
        <li class="nav-item">
          <a
            class="nav-link {% if section == tab.section %}active{% endif %}"
            aria-current="{% if section == tab.section %}page{% endif %}"
            href="/traceability/{{ tab.section }}"
          >
            {{ tab.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Body -->
    <!-- Dynamic section -->
    <section>
      {% block section %}{% endblock %}
    </section>

    <!-- TODO: Traceability dashboard if no section -->


    

  </main>

{% endblock console_body %}
</html>
