<!doctype html>
<html>
<!--
  Get Started - Organization | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 2/20/2021
  Updated: 5/5/2021
-->
{% extends "./get-started.html" %}
{% load static icon %}
{% block unit %}

  <!-- Header -->
  <div class="mt-5">
    <div class="simple-flex position-absolute end-0 me-5">
      <div class="fs-5 text-dark me-2">2/3</div>
      <a
        class="btn btn-sm btn-light text-dark"
        href="/get-started/support/"
      >
        Skip
      </a>
    </div>
    <h1 class="fs-2">Your first organization</h1>
    <p class="fs-6 text-secondary">Get setup with an organization to maximize your productivity.<p>
  </div>

  <!-- Instructions -->
  <div class="col-md-6 d-flex justify-content-between align-items-center mt-5 mb-3">
    <h1 class="h3 mb-0">2. Setup your organization</h1>
    <button
      id="cancel-organization-choice"
      class="btn btn-sm btn-light text-dark d-none"
      onclick="cannlytics.dashboard.showOrganizationForm()"
    >
      Cancel
    </button>
  </div>

  <!-- Action cards -->
  <div id="organization-choice" class="row row-cols-1 row-cols-lg-2 g-4 mt-3 mb-5">
    <div class="col my-3">
      <div
        class="card h-100 bg-transparent border-secondary rounded-3 shadow-hover px-0 py-2"
      >
        <a
          class="card-block stretched-link text-decoration-none app-action"
          onclick="cannlytics.dashboard.showOrganizationForm('join')"
        >
          <img src="{% static 'cannlytics_console/images/illustrations/outline/lab_analyst_prep.svg' %}"
            width="150px"
            class="float-end p-2"
          >
          <div class="card-body">
            <h5 class="card-title text-dark fs-5">Join an organization</h5>
            <p class="card-text text-secondary fs-5">
              <small>Request to join an existing organization owned by someone else.</small>
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col my-3">
      <div
        class="card h-100 bg-transparent border-secondary rounded-3 shadow-hover px-0 py-2"
      >
        <a
          class="card-block stretched-link text-decoration-none app-action"
          onclick="cannlytics.dashboard.showOrganizationForm('create')"
        >
          <img src="{% static 'cannlytics_console/images/illustrations/outline/lab_tablet.svg' %}"
            width="150px"
            class="float-end p-2"
          >
          <div class="card-body">
            <h5 class="card-title text-dark fs-5">Create an organization</h5>
            <p class="card-text text-secondary fs-5">
              <small>Start a new organization. You will be the owner and
              can invite team members.</small>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Join an Organization Form (hidden by default) -->
  <form id="join-organization-form" class="col-md-6 mb-5 d-none">
    <p class="card-text fs-5 mb-3">
      <small>Request to join an existing organization owned by someone else.
      The owner of the organization will receive an email with the choice to
      onboard you onto the organization's team.</small>
    </p>
    <div class="input-group my-3">
      <input
        type="text"
        id="join-organization-input"
        class="form-control"
        placeholder="Organization name"
        aria-label="Organization name"
        aria-describedby="join-organization-button"
      >
      <button
        id="join-organization-button"
        class="btn bg-gradient-green text-white"
        type="button"
        onclick="cannlytics.dashboard.joinOrganizationRequest()"
      >
        Request to join
      </button>
    </div>
  </form>


  <!-- Organization Form (hidden by default) -->
  <form id="create-organization-form" class="mb-3 d-none">
    <div class="row">

      <!-- Organization image -->
      <div class="col-md-6 text-center py-3 mb-3 p-md-0 order-md-2">
        <p class="text-left fs-5 mb-3">
          <small>Choose an image for your organization, up to 5MB.</small>
        </p>
        <img
          src="{% static 'cannlytics_console/images/account/default.png' %}"
          style="height:200px;"
          class="pe-1"
          id="org-photo-url"
        >
        <input
          id="selectPhotoUrl"
          type="file"
          accept="image/*"
          class="visually-hidden"
          multiple
        >
        <button
          class="btn btn-sm position-absolute text-dark"
          onclick="cannlytics.dashboard.choosePhoto()"
          type="button"
        >
          {% icon "image" %}
        </button>
      </div>

      <!-- Organization fields -->
      <div class="col-md-6">
        <p class="text-left fw-bold fs-5 mb-3" style="max-width:540px;">
          <small>Setup your organization for maximum impact.</small>
        </p>

        <!-- Public / private choice -->
        <div class="mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="publicOptions" id="public-choice" value="public" checked>
            <label class="form-check-label" for="public-choice">
              Public {% icon "globe" width="16px" height="16px" %}<br>
              <small class="text-secondary">Appears in search results.</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="publicOptions" id="private-choice" value="private">
            <label class="form-check-label" for="private-choice">
              Private {% icon "lock" width="16px" height="16px" %}<br>
              <small class="text-secondary">Only visible to you.</small>
            </label>
          </div>
        </div>

        <!-- Primary Fields -->
        {% for item in get_started.organization.fields %}
          {% if not item.secondary %}
            <div class="row mb-3">

              <!-- Field label -->
              <label
                for="input-{{ item.key }}"
                class="col-sm-3 col-form-label col-form-label-sm"
              >
                {{ item.title }}
              </label>

              <!-- Field input -->
              <div class="col-sm-9">
                <input
                  type="{{ item.type }}"
                  class="form-control form-control-sm"
                  id="input-{{ item.key }}"
                  spellcheck="false"
                  name="{{ item.key }}"
                >
              </div>

            </div>
          {% endif %}
        {% endfor %}

        <!-- Extra Fields-->
        <div id="extra-organization-fields" class="d-none">
          {% for item in get_started.organization.fields %}
            {% if item.secondary %}
              <div class="row mb-3">

                <!-- Field label -->
                <label
                  for="input-{{ item.key }}"
                  class="col-sm-3 col-form-label col-form-label-sm"
                >
                  {{ item.title }}
                </label>

                <!-- Field input -->
                <div class="col-sm-9">
                  <input
                    type="{{ item.type }}"
                    class="form-control form-control-sm"
                    id="input-{{ item.key }}"
                    spellcheck="false"
                    name="{{ item.key }}"
                  >
                </div>

              </div>
            {% endif %}
          {% endfor %}
        </div>

        <!-- Optional: Show advanced fields -->
        <a
          id="extra-organization-fields-show"
          class="nav-link text-secondary app-action d-inline-block"
          onclick="toggleOrganizationFields();"
        >
          {% icon 'chevrons-down' hegiht="16px" width="16px" %} Show more
        </a>
        <a
          id="extra-organization-fields-hide"
          class="nav-link text-secondary app-action d-inline-block d-none"
          onclick="toggleOrganizationFields();"
        >
          {% icon 'chevrons-up' hegiht="16px" width="16px" %} Show less
        </a>
          
      </div><!-- End of organization fields -->

      </div>
    <div>

    <!-- Add licenses -->
    <div class="my-4">
      <p class="text-left fw-bold fs-5 mb-3">
        <small>Add your organization's licenses.</small>
      </p>
      <button
        id="license-fields-show"
        class="btn btn-sm btn-secondary"
        onclick="toggleLicenseFields(event);"
      >
        Add state-issued license
      </button>
    </div>

    <!-- License fields -->
    <div id="license-fields" class="d-none">
      <ol id="license-list" class="bold-list">
        <li id="primary-license" class="mb-3">
          <div class="row g-4">
            <div class="col-md-3">
              <label class="form-label">License</label>
              <input
                type="text"
                class="form-control form-control-sm"
              >
            </div>
            <div class="col-md-3">
              <label class="form-label">License Type</label>
              <select
                class="form-select form-select-sm"
                aria-label="License type"
              >
                <option selected></option>
                <!-- Optional: Dynamic license types-->
                <option value="lab">Lab</option>
                <option value="producer-cultivator">Cultivator</option>
                <option value="producer-processor">Processor</option>
                <option value="retailer">Retailer</option>
                <option value="other">Other</option>
              </select>
              <!-- TODO: Let user specify type if other -->
              <input
                type="text"
                class="form-control form-control-sm d-none"
                placeholder="Please specify..."
              >
            </div>
            
            <!-- <div class="col-md-3">
              <label class="form-label">Please specify</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="license-type-other-1"
              >
            </div> -->
            <div class="col-md-2">
              <label class="form-label">State</label>
              <select
                class="form-select form-select-sm license-state-selection"
                aria-label="License type"
              >
                <option selected></option>
                <!-- TODO: Dynamically list states -->
                <option value="OK">Oklahoma</option>
                <option value="other">Other</option>
              </select>
            </div>
            <!-- TODO: Only show API key if state is Oklahoma -->
            <div class="col-md-3">
              <label class="form-label">
                User API Key
                <button
                  type="button"
                  class="btn btn-tooltip-help"
                  data-bs-toggle="tooltip"
                  data-bs-html="true"
                  title="Integration with Metrc requires your user's API key, which only you can generate and obtain. This API key is tied directly to your Metrc user account (not the company or facility), and everything your software does is tied to your user's API Key. Your software will, however, be limited by the permissions granted to your user within Metrc.<br><br>Your user API key is encrypted and protected in accordance with our <a href='https://docs.cannlytics.com/about/security-policy' target='_blank'>security policy</a>.<br><br>Please see the <a href='https://api-ok.metrc.com/Documentation#getting-started_user_api_key' target='_blank'>Metrc documentation</a> for more information."
                >
                  {% icon 'help-circle' width="18px" height="18px" class="text-secondary" %}
                </button>
              </label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="license-type-other-1"
              >
            </div>
            <div class="col-md-1">
              <button
                class="btn btn-link text-danger"
                onclick="toggleLicenseFields(event);"
              >
                {% icon 'trash-2' hegiht="16px" width="16px" %}
              </button>
            </div>
          </div>
        </li>
      </ol>

      <!-- Add license button -->
      <a
        class="nav-link text-secondary app-action d-inline-block"
        onclick="cannlytics.ui.addListItem('license')"
      >
        {% icon 'plus' hegiht="16px" width="16px" %} Add a license
      </a>

    </div><!-- End of license fields -->

    <!-- Add team members -->
    <div class="my-4">
      <p class="text-left fw-bold fs-5 mb-3" style="max-width:540px;">
        <small>Add your organization's team members.</small>
      </p>
      <button
        id="team-member-fields-show"
        class="btn btn-sm btn-secondary"
        onclick="toggleTeamMemberFields(event);"
      >
        Add team member
      </button>
    </div>

    <!-- Team member fields -->
    <div id="team-member-fields" class="d-none">
      <ol id="team-member-list" class="bold-list">
        <li id="primary-team-member" class="mb-3">
          <div class="row g-4">
            <div class="col-md-3">
              <label for="team-member-name-1" class="form-label">Name</label>
              <input
                type="text"
                class="form-control form-control-sm"
              >
            </div>
            <div class="col-md-3">
              <label for="team-member-email-1" class="form-label">Email</label>
              <input
                type="text"
                class="form-control form-control-sm"
              >
            </div>
            <!-- Optional: Advanced options, such as position -->
            <!--<div class="col-md-3">
              <label for="team-member-position-1" class="form-label">Position</label>
              <input
                type="text"
                class="form-control form-control-sm"
              >
            </div>-->
            <div class="col-md-3">
              <label for="team-member-permissions-1" class="form-label">
                Permissions
                <button
                  type="button"
                  class="btn btn-tooltip-help"
                  data-bs-toggle="tooltip"
                  data-bs-html="true"
                  title="<code>CTRL + click</code> to select multiple permissions. <code>Staff</code> permissions are required for most organization operations."
                >
                  {% icon 'help-circle' width="18px" height="18px" class="text-secondary" %}
                </button>
              </label>
              <select
                class="form-select form-select-sm"
                aria-label="License type"
                id="team-member-permissions-1"
                multiple
              >
                <!-- TODO: Dynamic permission types-->
                <option selected value="staff">Staff</option>
                <option value="admin">Admin</option>
                <option value="qa">QA</option>
                <option value="billing">Billing</option>
                <option value="scheduling">Scheduling</option>
              </select>
            </div>
            <div class="col-md-3">
              <button
                class="btn btn-link text-danger"
                onclick="toggleTeamMemberFields(event);"
              >
                {% icon 'trash-2' hegiht="16px" width="16px" %}
              </button>
            </div>
          </div>
        </li>
      </ol>

      <!-- Add team member button -->
      <a
        class="nav-link text-secondary app-action d-inline-block"
        onclick="cannlytics.ui.addListItem('team-member')"
      >
        {% icon 'plus' hegiht="16px" width="16px" %} Add a team member
      </a>

    </div><!-- End of team member fields -->

  </form><!-- End of organization form -->

  <!-- Options -->
  <div class="mb-5 my-5">
    <a
      class="btn btn-secondary btn-sm"
      href="/{% if request.GET.from %}get-started/profile/?type={{ request.GET.from }}{% endif %}"
    >
      Back
    </a>
    <a
      class="btn bg-gradient-green text-white btn-sm"
      onclick="cannlytics.dashboard.saveOrganization();"
    >
      Next
    </a>
  </div>

{% endblock %}
{% block console_js %}
  <script>

    // Initialize the UI.
    cannlytics.dashboard.initializeGetStarted('organization');
  
    // Enable tooltips.
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });

    // Toggle extra organization fields
    function toggleOrganizationFields() {
      cannlytics.ui.toggleElementClass('extra-organization-fields', 'd-none');
      cannlytics.ui.toggleElementClass('extra-organization-fields-hide', 'd-none');
      cannlytics.ui.toggleElementClass('extra-organization-fields-show', 'd-none');
    }

    // Toggle add license fields
    function toggleLicenseFields(event) {
      event.preventDefault();
      cannlytics.ui.toggleElementClass('license-fields', 'd-none');
      cannlytics.ui.toggleElementClass('license-fields-show', 'd-none');
    }

    // Toggle add license fields
    function toggleTeamMemberFields(event) {
      event.preventDefault();
      cannlytics.ui.toggleElementClass('team-member-fields', 'd-none');
      cannlytics.ui.toggleElementClass('team-member-fields-show', 'd-none');
    }

    // FIXME: Only show user API Key for Oklahoma.
    // $('.license-state-selection').change(function() {
    //   console.log($(this).val());
    //   if ($(this).val() === 'OK') {
    //     $('.user-api-key').removeClass('d-none');
    //   } else {
    //     $('.user-api-key').addClass('d-none');
    //   }
    // });

    // Optional: Show other when other license type is selected
    // https://stackoverflow.com/questions/18992839/hide-show-content-if-some-option-is-selected-with-bootstrap
    // $('#pasveids').on('change', function(e){
    //   if(e.val == 'Value if clicked on other') {
    //       $('#hiddenevent').attr('type', 'text');
    //       $('#pasveids').attr('name', '');
    //       $('#hiddenevent').attr('name', 'eventtype');
    //   } else {
    //       $('#hiddenevent').attr('type', 'hidden');
    //       $('#pasveids').attr('name', 'eventtype');
    //   }
    // });

  </script>
{% endblock console_js %}
</html>
