<!doctype html>
<html>
<!-- Password Reset Confirm Page -->
<!-- Created 12/5/2020 -->
{% extends "./base_sign_in.html" %}
{% block title %} Confirm Password Reset | Cannlytics {% endblock %}
{% block login_form %}
  <div class="text-center mt-5">
    <p class="h6 font-weight-light serif text-center mb-4">
      Reset password for your account?
    </p>
    <a
      class="btn bg-gradient-green text-white"
      style="width: 191px;"
      type="button"
      href="/account/sign-in"
    >
      Reset Password
    </a>
  </div>
{% endblock %}
</html>
