<!doctype html>
<html>
<!-- Password Reset Change Page -->
<!-- Created 12/5/2020 -->
{% extends "./base_sign_in.html" %}
{% block title %} Password Change Complete | Cannlytics {% endblock %}
{% block login_form %}
  <div class="text-center">
    <p class="h6 font-weight-light serif text-center mb-4">
      Password reset change complete.
    </p>
    <a
      class="btn bg-gradient-green text-white"
      style="width: 191px;"
      type="button"
      href="/account/sign-in"
    >
      Sign In
    </a>
  </div>
{% endblock %}
</html>