<!doctype html>
<html>
<!-- User Menu -->
<!-- Created 2/20/2021 -->
{% load static icon %}
<li class="nav-item dropdown d-flex align-items-center">

  <!-- Profile image -->
  <a
    class="nav-link dropdown-toggle d-flex py-0"
    href="#"
    id="navbarUserMenu"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      id="userPhotoNav"
      src="{% if user.photo_url %}{{ user.photo_url }}{% else %}{% static "cannlytics_console/images/account/default-dark.png" %}{% endif %}"
      alt="Settings"
      title="Settings"
      width="30"
      height="30"
      class="rounded-circle"
      style="vertical-align:unset;"
      data-bs-html="true"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="{% if user.display_name %}{{ user.display_name }}{% else %}Personalize your account{% endif %}<br>{{ user.email }}"
    >
  </a>

  <!-- Dropdown menu -->
  <ul
    class="dropdown-menu dropdown-menu-end shadow mx-2"
    aria-labelledby="navbarUserMenu"
  >
    <div class="d-flex px-3 py-1">

      <!-- Profile menu image -->
      <a href="/settings/account">
        <img
          id="userPhotoMenu"
          src="{% if user.photo_url %}{{ user.photo_url }}{% else %}{% static "cannlytics_console/images/account/default-dark.png" %}{% endif %}"
          alt="Account"
          title="Account"
          width="75"
          height="75"
          class="rounded-circle"
          style="vertical-align:unset;"
        >
      </a>

      <!-- Profile name and email -->
      <div class="d-flex flex-column justify-content-center ps-2">
        <a
          id="personalize-account"
          class="text-link {% if user.display_name %}d-none{% endif %}"
          href="/settings/account"
        >
          Personalize your account &rarr;
        </a>
        <h3 id="userName" class="mb-1 fs-5">{{ user.display_name }}</h3>
        <h5 id="userEmail" class="mb-0 fs-6 text-secondary">{{ user.email }}</h5>
      </div>

      <!-- Sign-up / sign-in for anonymous users -->
      <!-- Optional: Sign-up in dialog -->
      {% if not user %}
      <div id="anonymous-signup" class="d-flex align-items-center ps-2">
        <a
          class="btn btn-sm bg-gradient-orange text-white text-no-wrap me-1"
          href="/account/sign-up"
        >
          Sign up
        </a>
        <a
          class="btn btn-sm bg-gradient-green text-white text-no-wrap ms-1"
          href="/account/sign-in"
        >
          Sign in
        </a>
      </div>
      {% endif %}

    </div>
    <li><hr class="dropdown-divider"></li>

    <!-- Account -->
    <li><a class="dropdown-item" href="/settings/account">Your account</a></li>

    <!-- Change theme -->
    {% comment %} <li>
      <a
        class="dropdown-item app-action d-flex justify-content-between"
        onClick="cannlytics.theme.changeTheme();"
      >
        <span>Change theme</span>
        {% icon "sunset" class="light-only ms-2" %}
        {% icon "sunrise" class="dark-only ms-2" %}
      </a>
    </li> {% endcomment %}

    <!-- Invite a user -->
    <li><a class="dropdown-item" href="/settings/invite">Invite a user</a></li>

    <!-- Send feedback -->
    <li><a class="dropdown-item" href="/help/feedback">Send feedback</a></li>

    <!-- Sign out-->
    <!-- Optional: Don't display if there is no user -->
    <li>
      <button class="dropdown-item" onClick="cannlytics.app.signOut();">
        Sign Out {% icon 'log-out' class="ps-1" %}
      </button>
    </li>

  </ul><!-- End of dropdown menu -->
</li>
</html>
