<!doctype html>
<html>
<!--
  Simple Table Options | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 7/6/2020
  Updated: 8/15/2021
  Parameters:
    data_models
    model
    model_singular
    limit (optional)
-->
<div class="d-flex flex-wrap align-items-center justify-content-between mt-3">

  <!-- Search -->
  {% include "./advanced_search.html" %}

  <div class="d-flex align-items-center mb-3">

    <!-- Optional: Criterion selection -->

    <!-- Date selection -->
    <div id="date-selection">
      <div class="input-daterange input-group input-group-sm me-2">
        <input
          id="time_start"
          type="text"
          class="input-sm form-control form-control-sm form-control-light"
          name="time_start"
          style="max-width:120px;"
        />
        <div class="input-group-text">to</div>
        <input
          id="time_end"
          type="text"
          class="input-sm form-control form-control-sm form-control-light"
          name="time_end"
          style="max-width:120px;"
        />
      </div>
    </div>

    <!-- Limit -->
    {% if limit %}
      <div class="input-group input-group-sm me-2" style="width:unset;">
        <input
          id="limit_input"
          type="number"
          class="form-control form-control-sm form-control-light field-tiny text-end"
          aria-label="Limit"
          aria-describedby="limit-selection"
          min="0"
          step="1"
          oninput="validity.valid||(value='');"
          value=10
          onchange="cannlytics.app.changeLimit(event);"
        >
        <div class="input-group-append">
          <span
            class="input-group-text btn-sm-light btn-md-light"
            id="limit-selection"
          >
            Limit
          </span>
        </div>
      </div>
    {% endif %}

    <!-- Import -->
    <div class="btn-group btn-group-sm me-2" role="group" aria-label="Data import">
      <form
        action="{% url "import_data" %}?model={{ model }}&organization_id={{ organizations.0.organization_id }}"
        method="post"
        enctype="multipart/form-data"
        name="import_form"
        id="import-form"
      >
        {% csrf_token %}
        <input
          id="import_input"
          type="file"
          class="visually-hidden"
          title="Upload excel file"
          name="excel_file"
          required="required"
          onchange="document.forms['import-form'].submit();"
        >
        <button
          type="button"
          class="btn btn-sm-light btn-md-light"
          onclick="document.getElementById('import_input').click();"
        >
          Import
        </button>
      </form>
      <div class="btn-group btn-group-sm" role="group">
        <button
          id="import_options"
          type="button"
          class="btn btn-sm-light btn-md-light dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        </button>
        <ul
          class="dropdown-menu shadow py-0"
          aria-labelledby="import_options"
        >
          <li>
            <a
              class="app-action dropdown-item fs-6"
              onclick="cannlytics.app.downloadWorksheet('{{ organizations.0.organization_id }}', '{{ model }}');"
            >
              <small>Download worksheet</small>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Export -->
    <button
      class="btn btn-sm-light btn-md-light me-2"
      onclick="cannlytics.app.exportDataTable('{{ model }}');"
    >
      Export
    </button>

    <!-- New -->
    <button
      id="new-button"
      class="btn btn-sm bg-gradient-green text-white"
      onclick="cannlytics.ui.openObject('{{ model }}', '{{ model_singular }}', {});"
    >
      New
    </button>

  </div>
</div>

<!-- JavaScript -->
<script>

  // Set the initial date.
  const defaultPeriod = 14;
  document.getElementById('time_start').value = new Date(new Date().setDate(new Date().getDate() - defaultPeriod)).toISOString().substring(0, 10);
  document.getElementById('time_end').value = new Date().toISOString().substring(0, 10);

  // Initialize date range selection.
  $('#date-selection .input-daterange').datepicker({
    autoclose: true,
    format: 'yyyy-mm-dd',
    formatToDisplay: 'mm/dd/yy',
    formatToValue: 'yyyy-mm-dd',
  });

  // Add callback to date selection.
  $('#date-selection .input-daterange').on('changeDate', function(e) {
    cannlytics.app.streamData('{{ model }}', '{{ model_singular }}', '{{ organizations.0.organization_id }}');
  });
</script>

</html>
