<!doctype html>
<html>
<!--
  Table Options | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 7/6/2020
  Updated: 7/6/2021
  Parameters:
    model
    model_singular
-->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="fs-5 mb-0 lh-base">{{ model|title }}</h1>
  <div class="d-flex align-items-center">

    <!-- Limit -->
    <div class="input-group input-group-sm me-2">
      <input
        id="limit_input"
        type="number"
        class="form-control form-control-sm field-tiny text-end"
        aria-label="Limit"
        aria-describedby="limit-selection"
        min="0"
        step="1"
        oninput="validity.valid||(value='');"
        value=10
        onchange="cannlytics.app.changeLimit(event);"
      >
      <div class="input-group-append">
        <span
          class="input-group-text btn-sm-light btn-md-light"
          id="limit-selection"
        >
          Limit
        </span>
      </div>
    </div>

    <!-- Import -->
    <div class="btn-group btn-group-sm me-2" role="group" aria-label="Data import">
      <form
        action="{% url "import_data" %}?model={{ model }}&organization_id={{ organizations.0.organization_id }}"
        method="post"
        enctype="multipart/form-data"
        name="import_form"
        id="import-form"
      >
        {% csrf_token %}
        <input
          id="import_input"
          type="file"
          class="visually-hidden"
          title="Upload excel file"
          name="excel_file"
          required="required"
          onchange="document.forms['import-form'].submit();"
        >
        <button
          type="button"
          class="btn btn-sm-light btn-md-light"
          onclick="document.getElementById('import_input').click();"
        >
          Import
        </button>
      </form>
      <div class="btn-group btn-group-sm" role="group">
        <button
          id="import_options"
          type="button"
          class="btn btn-sm-light btn-md-light dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        </button>
        <ul class="dropdown-menu py-0" aria-labelledby="import_options">
          <li>
            <a class="dropdown-item fs-6" href="#">
              <small>Download worksheet</small>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Export -->
    <button
      class="btn btn-sm-light btn-md-light me-2"
      onclick="cannlytics.app.exportDataTable('{{ model }}');"
    >
      Export
    </button>

    <!-- New -->
    <button
      id="new-button"
      class="btn btn-sm bg-gradient-green text-white"
      onclick="cannlytics.ui.openObject('{{ model }}', '{{ model_singular }}', {});"
    >
      New
    </button>

  </div>
</div>
<!-- FIXME: Submit form without refresh -->
{% comment %} <script>
  $(document).on('submit', '#import-form', function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '/import?model={{ model }}&organization_id={{ organizations.0.organization_id }}',
      data: { csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val() },
      success:function() {
        alert('Saved');
      }
    });
  });
  // Submit post on submit
  //$('#import-form').on('submit', function(event) {
  //  event.preventDefault();
  //  cannlytics.ui.submitForm('import_input', '/import?model={{ model }}&organization_id={{ organizations.0.organization_id }}');
  //});
</script> {% endcomment %}
</html>
