<!doctype html>
<html>
<!--
  Search
  Created: 2/26/2024
  Updated: 2/26/2024
-->
{% load icon %}
  <div class="input-group my-3 w-75">
    <button
      class="btn btn-outline-primary"
      type="button"
      id="addButton"
    >
      <i class="bi bi-plus"></i>
    </button>
    <input
      id="searchInput"
      type="text"
      class="form-control"
      placeholder="{{ placeholder_text | default:'Search...'}}"
      aria-label="Search"
    >
    <button
      class="btn btn-outline-primary"
      type="button"
      id="filterButton"
    >
      <i class="bi bi-sliders"></i>
    </button>
  </div>
</html>
