<!doctype html>
<html>
<!--
  State Selection
  Created: 3/24/2024
  Updated: 3/24/2024
-->
<div class="btn-group btn-group-sm" role="group" aria-label="State selection">
  <button type="button" class="btn btn-primary" id="btnALL" onclick="updateStateSelection('ALL')">All</button> <!-- Note the change of class here for "All" -->
  <button type="button" class="btn btn-outline-primary" id="btnCA" onclick="updateStateSelection('CA')">CA</button>
  <button type="button" class="btn btn-outline-primary" id="btnFL" onclick="updateStateSelection('FL')">FL</button>
  <button type="button" class="btn btn-outline-primary" id="btnMA" onclick="updateStateSelection('MA')">MA</button>
  <button type="button" class="btn btn-outline-primary" id="btnWA" onclick="updateStateSelection('WA')">WA</button>
</div>
</html>
