<!doctype html>
<html>
<!-- Password Reset Done Page -->
<!-- Created 12/4/2020 -->
{% extends "./base_sign_in.html" %}
{% block title %} Reset Password Sent | Cannlytics {% endblock %}
{% block login_form %}
  <div class="text-center mt-5">
    <p class="h6 font-weight-light serif text-center mb-4">
      Password reset sent.
    </p>
    <a
      class="btn bg-gradient-green text-white"
      style="width: 191px;"
      type="button"
      href="/account/sign-in"
    >
      Sign In
    </a>
  </div>
{% endblock %}
</html>
