<!doctype html>
<html>
<!-- Sign Up Page -->
{% extends "./base_sign_in.html" %}

{% block login_form %}

  <!-- Message -->
  <p class="font-weight-light mt-5 mb-4 text-center h6">
    Get a password reset email sent to you.
  </p>

  <!-- Fields -->
  <div class="mb-3 row">
    <label
      for="login-email"
      class="col-sm-2 col-form-label pe-2 fs-6"
    >
      Email
    </label>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        id="login-email"
        required
        autofocus
        spellcheck="false"
      >
    </div>
  </div>

  <!-- Buttons -->
  <div class="d-flex justify-content-between w-100 mt-4">
    <div class="d-flex align-items-center">
      <a
        class="text-dark fs-6"
        href="/account/sign-in"
      >
        &larr; Login
      </a>
    </div>
    <button
      class="ms-1 btn bg-gradient-green text-white"
      style="max-width:250px;"
      type="button"
      onclick="cannlytics.auth.resetPassword()"
    >
      Reset Password
    </button>
  </div>

{% endblock %}
</html>
