<!doctype html>
<html>
<!-- Table Placeholder -->
<!-- Created 2/20/2021 -->
{% load icon %}
<div class="card-body text-center">
  <a href="https://cannlytics.com/docs" target="_blank">
    <div class="feature-icon">
      {% icon "file-text" class="text-dark" %}
    </div>
  </a>
  <h2 class="h4 mt-3">
    <a class="text-dark" href="https://cannlytics.com/docs" target="_blank">{{ title }}</a>
  </h2>
  <p>
    <small>
      Add team members to your organization
      or join an organization to begin collaborating.
    </small>
  </p>
</div>
</html>
