<!doctype html>
<html>
<!--
  Vehicle Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 9/4/2021
  Updated: 9/4/2021
-->
{% load icon %}
{% block console_body %}
<main role="main" class="col ml-sm-auto pb-5 mx-auto">

    <!-- Header -->
    {% comment %} {% include "console/components/links/breadcrumbs.html" with
      base_page="Transfers"
      base_page_url="/transfers"
      nested_page="Vehicles"
      nested_page_url="/transfers/vehicles"
      current_page=id
    %} {% endcomment %}

    <!-- Tabs -->
    {% if id and id != 'new' %}
      {% include "console/components/forms/form_tabs.html" with
          id=id
          model="vehicles"
        %}
    {% endif %}

    <!-- Files page -->
    {% if unit == 'files' %}
      {% include "console/pages/settings/files/files.html" with
        model='vehicles'
        model_singular='vehicle'
        organizations=organizations
        section=unit
        user=user
      %}
    
    <!-- Logs page -->
    {% elif unit == 'logs' %}
      {% include "console/pages/settings/logs/logs.html" with
        model='vehicles'
        model_singular='vehicle'
        organizations=organizations
        section=unit
        user=user
      %}

    {% else %}

      <!-- Title -->
      {% include "console/components/forms/form_title.html" with
        abbreviation=data_model.abbreviation
        id=id
        model='vehicles'
        model_singular='vehicle'
        description="Manage vehicle details."
        options=True
        export=id
      %}

      <!-- Form -->
      <div class="mb-4 px-3">
        <form id="vehicle-form">
          {% include "console/components/forms/dynamic_form.html" with
            fields=vehicles.fields
          %}
        </form>
      </div><!-- End of form -->

      <!-- Danger zone (delete) -->
      {% if id and id != 'new' %}
        {% include "console/components/forms/delete_option.html" with
          id=id
          model="vehicles"
          model_singular="vehicle"
        %}
      {% endif %}

    {% endif %}

  </main>
{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>

    // Load the data into the user interface.
    cannlytics.ui.viewObject('vehicle');

  </script>
{% endblock console_js %}
</html>
