<!doctype html>
<html>
<!--
  Organizations Page | Cannlytics Console
  Created: 4/26/2021
  Updated: 12/16/2021
-->
{% extends "console/console.html" %}
{% load icon %}
{% block console_body %}

  {% if part == 'team' %}

    <!-- Team member page -->
    {% include 'console/pages/settings/organizations/team-member.html' with
      organization_context=settings.organizations
      user=user
    %}

  {% elif unit != '' or unit == 'new' %}

    <!-- Organization page -->
    {% include 'console/pages/settings/organizations/organization.html' with
      organization_context=settings.organizations
      user=user
    %}

  {% else %}

  <!-- Main -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pb-5 mx-auto">

    <!-- Header-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 mt-2 border-bottom border-secondary">
      {% include "console/components/links/breadcrumbs.html" with
        base_page="Settings"
        base_page_url="/settings"
        current_page="Organizations"
        back="False"
      %}
      <div>
        <a
          class="btn btn-sm btn-sm-light btn-md-light mx-2 "
          type="button"
          href="/settings/organizations/join"
        >
          Join an Organization
        </a>
        <a
          class="btn btn-sm bg-gradient-green text-white"
          type="button"
          href="/settings/organizations/new"
        >
          New Organization
        </a>
      </div>
    </div>

    {% if organizations %}

      <!-- Data Grid -->
      <div class="row px-3 mb-4 mt-3">
      {% for org in organizations %}
        <div
          class="card shade-hover border-secondary rounded-3 app-action col col-sm-1 col-md-2 p-3"
          style="width:400px; height:150px;"
        >
        <a class="card-block stretched-link text-decoration-none" href="/settings/organizations/{{ org.organization_id }}">

          <!-- Card header -->
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <div class="icon-container me-2">
                {% include 'console/components/icons/people.svg' %}
              </div>
              <h4 class="fs-5 text-dark">{{ org.name }}</h4>
            </div>

            <!-- Options -->
            <div class="btn-group dropstart">
              <a role="button" class="nav-link dropdown-toggle simple-dropdown p-0" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="icon-container action">
                  {% include 'console/components/icons/dialpad.svg' %}
                </div>
              </a>
              <ul class="dropdown-menu shadow">
                <li><a class="dropdown-item" href="/settings/organizations/{{ org.uid }}/team">Add team member</a></li>
                <li><a class="dropdown-item" href="/settings/organizations/{{ org.uid }}">Edit organization</a></li>
                <li><a class="dropdown-item" href="/settings/organizations/{{ org.uid }}/settings">Organization ettings</a></li>
              </ul>
            </div>

          </div>

          <!-- Card body -->
          <div class="card-body bg-transparent p-0">

            <!-- Badges -->
            {% if org.support == 'Enterprise' %}
              <span class="badge rounded-pill bg-primary">{% icon 'shield' width="16px" height="16px" %} Enterprise</span>
            {% elif org.support == 'Pro' %}
              <span class="badge rounded-pill bg-warning text-dark">{% icon 'shield' width="16px" height="16px" %} Pro</span>
            {% else %}
              <span class="badge rounded-pill bg-gradient-green text-white">{% icon 'shield' width="16px" height="16px" %} Free</span>
            {% endif %}
            {% if org.public %}
              <span class="badge rounded-pill bg-info ms-2">{% icon 'globe' width="16px" height="16px" %} Public</span>
            {% else %}
              <span class="badge rounded-pill bg-info ms-2">{% icon 'lock' width="16px" height="16px" %} Private</span>
            {% endif %}

            <!-- TODO: Card Stats -->
            <div class="row h-100 text-dark align-items-center">
              <div class="col mb-3">
                <div>Organization ID: {{ org.organization_id }}</div>
                <div>Type: {{ org.type }}</div>
              </div>
            </div>
            {% comment %} <div class="row h-100 text-dark align-items-center">
              <div class="col-4 mb-3">
                {% if org.total_projects %}{{ org.total_projects }}{% else %}0{% endif %} Projects
              </div>
              <div class="col-4 mb-3">
                {% if org.total_samples %}{{ org.total_samples }}{% else %}0{% endif %} Samples
              </div>
              <div class="col-4 mb-3">
                {% if org.total_contacts %}{{ org.total_contacts }}{% else %}0{% endif %} Contacts
              </div>
            </div> {% endcomment %}

          </div>

        </a>
        </div>
      {% endfor %}
      </div>

    {% else %}

      <!-- Placeholder -->
      <div class="row px-3 mb-4">
        {% include "console/components/placeholders/placeholder.html" with
          placeholder=settings.organizations.placeholder
          only
        %}
      </div>

    {% endif %}

  </main>
  {% endif %}

{% endblock console_body %}
{% block console_js %}
  <script>

    // Toggle extra organization fields
    function toggleOrganizationFields(event) {
      event.preventDefault();
      cannlytics.ui.toggleElementClass('extra-organization-fields', 'd-none');
      cannlytics.ui.toggleElementClass('extra-organization-fields-hide', 'd-none');
      cannlytics.ui.toggleElementClass('extra-organization-fields-show', 'd-none');
    }

    // Toggle add license fields
    function toggleLicenseFields(event) {
      event.preventDefault();
      cannlytics.ui.toggleElementClass('license-fields', 'd-none');
      cannlytics.ui.toggleElementClass('license-fields-show', 'd-none');
    }

    // Toggle add license fields
    function toggleTeamMemberFields(event) {
      event.preventDefault();
      cannlytics.ui.toggleElementClass('team-member-fields', 'd-none');
      cannlytics.ui.toggleElementClass('team-member-fields-show', 'd-none');
    }

  </script>
{% endblock console_js %}
</html>
