**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/env.yaml
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
*.pyc
*.pyo
*.pyd
README.md
**/.admin
**/.datasets
**/.firebase
**/.vscode
/ai
/build
/cannlytics.egg-info
/dist
/docs
/tests
/tools
.firebaserc
firebase.json
mkdocs.yaml
setup.py
