<!doctype html>
<html>
<!--
  Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 11/26/2020 Thanksgiving
  Updated: 5/5/2021
-->
{% extends "cannlytics_console/console.html" %}
{% block console_body %}
{% load static %}
  <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mx-auto">

    <!-- Show main dashboard given a user -->
    {% if user %}
      <div class="row">

      <!-- Dashboard cards -->
      <!-- Cards -->
      <div class="row row-cols-2 justify-content-md-start mt-4 mb-5">
        {% for item in dashboard.cards %}
          <div class="col-6 col-lg-4 my-3"><!-- my-3 mx-2 -->
            <a href="./{{ item.path }}">
              <div
                class="card h-100 bg-transparent border-secondary rounded-3 shadow-hover px-0 py-2"
                style="max-width: 375px;"
              >

                <!-- Card image -->
                <div class="row g-0">
                  <div class="col-md-4 align-items-center justify-content-center d-flex py-3">
                    <img
                        class="ma-2"
                        src="{% static item.image_path %}"
                        width="75px"
                      >
                  </div>

                  <!-- Card body -->
                  <div class="col-md-8">
                    <div class="card-body bg-transparent">
                      <h5 class="card-title text-dark text-no-wrap fs-4 fw-bold mb-2">
                        {{ item.title }}
                      </h5>
                      <p class="card-text text-secondary fs-6 large-line">
                        <small class="serif">{{ item.description }}</small>
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div><!-- End of cards -->
      

        <!-- Simple timesries -->
        {% comment %} <div class="col">
          {% include "cannlytics_console/screens/dashboard/dashboard_timeseries.html" %}
        </div> {% endcomment %}

        <!-- Simple Team table -->
        {% comment %} <div class="col">
          {% include "cannlytics_console/screens/dashboard/dashboard_team_table.html" %}
        </div> {% endcomment %}

      </div>

      <!-- Simplified dashboard tables -->
      {% comment %} <div class="row">

        <!-- Simple analyses table -->
        <div class="col">
          {% include "cannlytics_console/screens/dashboard/dashboard_analyses_table.html" %}
        </div>

        <!-- Simple instruments table -->
        <div class="col">
          {% include "cannlytics_console/screens/dashboard/dashboard_instruments_table.html" %}
        </div>

      </div> {% endcomment %}

      <!-- Simple clients table -->
      {% comment %} {% include "cannlytics_console/screens/dashboard/dashboard_clients_table.html" %} {% endcomment %}

      <!-- Simple calendar -->
      {% comment %} {% include "cannlytics_console/screens/dashboard/dashboard_calendar.html" %} {% endcomment %}

      <!-- Simple reports table -->
      {% comment %} {% include "cannlytics_console/screens/dashboard/dashboard_reports_table.html" %} {% endcomment %}

    <!-- Show new user message -->
    {% else %}
    <div class="mx-auto" style="max-width:760px;">

      <!-- Welcome message (Only show to new users) -->
      <div class="mt-5">
        <h1 class="fs-2">{{ dashboard.welcome_message.title }}</h1>
        <p class="fs-6 card-text text-secondary">{{ dashboard.welcome_message.message }}<p>

      </div>

      <!-- Get started cards -->
      <h1 class="fs-5 mb-0 lh-base mt-4 mb-3">Get started with Cannlytics in 5 minutes.</h1>
      <div class="row row-cols-1 row-cols-lg-2 g-4 mb-5">
        {% for item in dashboard.organization_choices %}
          <div class="col-6 my-3">
            <div
              class="card h-100 bg-transparent border-secondary shadow-hover rounded-3 px-0 py-2"
              style="max-width:375px;"
            >
              <a
                class="card-block stretched-link text-decoration-none"
                href="/get-started/profile?type={{ item.type }}"
              >
                {% comment %} <img src="{% static item.image %}"
                  width="150px"
                  class="float-end p-2"
                > {% endcomment %}
                <div class="card-body">
                  <h5 class="card-title text-dark fs-5">{{ item.title }}</h5>
                  <p class="card-text text-secondary fs-5">
                    <small>{{ item.description }}</small>
                  </p>
                </div>
                {% comment %} <div class="card-footer no-border">
                  <a
                    class="text-danger fs-6 pt-3"
                    href="/get-started/profile?type={{ item.type }}"
                  >
                    {{ item.action }} &rarr;
                  </a>
                </div> {% endcomment %}
              </a>
            </div>
          </div>
        {% endfor %}
      </div><!-- End of getting-started cards -->

    </div><!-- End of new user message -->
    {% endif %}

  </main>
  
{% endblock %}

<!-- Dashobard JavaScript -->
{% block console_js %}
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.5.2/dist/frappe-charts.min.iife.js"></script> {% endcomment %}
  {% comment %} <script src="{% static 'cannlytics_console/plugins/chartjs/chartjs-chart-matrix.min.js' %}"></script> {% endcomment %}
  {% comment %} <script>
    cannlytics.dashboard.initialize();
  </script> {% endcomment %}
{% endblock %}
</html>
