<!doctype html>
<html>
<!--
  Alert notification | Cannlytics Console
  Created: 6/11/2021
  Updated: 12/16/2021
-->
{% load icon %}
<div class="alert alert-info d-flex justify-content-between mt-3 mb-0" role="alert">
  <div class="row d-flex">
    <div class="col-1 pe-0" style="max-width:42px;">{% icon 'alert-triangle' height="16" width="16"%}</div>
    <div class="col-10 ps-0">{{ message }}</div>
  </div>
  <div><a href="{{ link }}" class="text-nowrap">{{ action }}</a>&nbsp;</div>
</div>
</html>
