<!doctype html>
<html>
  <!-- Notification Toast -->
  <!-- Created 2/27/20201 -->
  <!-- FIXME: d-none required to hide but hinders showing of notifications -->
  {% load icon %}
  <div
    id="notification-toast"
    class="toast toast-error position-fixed d-none"
    style="bottom:2rem; right:2rem; z-index:10005;"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-bs-autohide="true"
  >
    <div class="toast-header bg-light pe-0">

      <!-- Icon -->
      <span id="notification-error-icon" class="d-none">{% icon "alert-circle" class="error-icon me-2" %}</span>
      <span id="notification-success-icon" class="d-none">{% icon "check-circle" class="success-icon me-2" %}</span>
      <span id="notification-wait-icon" class="d-none">{% icon "watch" class="warning-icon me-2" %}</span>

      <!-- Title -->
      <span
        id="notification-title"
        class="me-auto fs-5 text-dark"
      ></span>

      <!-- Close -->
      <button
        id="notification-close"
        type="button"
        class="custom-close-button position-static"
        data-bs-dismiss="toast"
        aria-label="Close"
      >
        {% icon "x" class="text-dark" %}
      </button>

    </div>

    <!-- Message -->
    <div class="toast-body">
      <p class="fs-6" id="notification-message"></p>
    </div>

  </div>
</html>
