<!doctype html>
<html>
<!--
  Transfer Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 6/19/2020
  Updated: 7/15/2021
-->
{% load icon %}
{% block console_css %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock console_css %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    {% include "console/components/links/breadcrumbs.html" with
      base_page="Transfers"
      base_page_url="/transfers"
      current_page=id
    %}

    <!-- Tabs -->
    {% if id and id != 'new' %}
      {% include "console/components/forms/form_tabs.html" with
        id=id
        model="transfers"
      %}
    {% endif %}

    <!-- Files page -->
    {% if unit == 'files' %}
      {% include "console/pages/settings/files/files.html" with
        model='transfers'
        model_singular='transfer'
        organizations=organizations
        section=section
        user=user
      %}
    
    <!-- Logs page -->
    {% elif unit == 'logs' %}
      {% include "console/pages/settings/logs/logs.html" with
        model='transfers'
        model_singular='transfer'
        organizations=organizations
        section=section
        user=user
      %}

    {% else %}

      <!-- Title -->
      {% include "console/components/forms/form_title.html" with
        abbreviation=data_model.abbreviation
        id=id
        model='transfers'
        model_singular='transfer'
        description="Manage transfers of samples sent for analysis."
        options=True
        export=id
      %}

      <!-- Form -->
      <div class="mb-4 px-3">
        <form id="transfer-form">
          {% include "console/components/forms/dynamic_form.html" with
            fields=transfers.fields
          %}
          <!-- TODO: Show additional fields (traceability fields) -->
          {% comment %} {% include "console/components/forms/additional_fields.html" %} {% endcomment %}
        </form>
      </div>
      <!-- TODO: Try to implement add samples with AG-Grid table -->

      <!-- Danger zone (delete) -->
      {% if id and id != 'new' %}
        {% include "console/components/forms/delete_option.html" with
          id=id
          model="transfers"
          model_singular="transfer"
        %}
      {% endif %}

    {% endif %}

  </main>

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>

    // Load the data into the user interface.
    cannlytics.ui.viewObject('transfer');

    // Render any date pickers.
    // $('.datepicker').datepicker({ format: 'mm/dd/yyyy' });

  </script>
{% endblock console_js %}

</html>
