<!doctype html>
<html>
<!--
  Transfer Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 6/19/2020
  Updated: 7/15/2021
-->
{% load icon %}
{% block console_css %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock console_css %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pb-5">

    <!-- Header -->
    {% include "console/components/links/breadcrumbs.html" with
      base_page="Transfers"
      base_page_url="/transfers"
      current_page=id
    %}

    <!-- Tabs -->
    {% if id and id != 'new' %}
      {% include "console/components/forms/form_tabs.html" with
        id=id
        model="transfers"
      %}
    {% endif %}

    <!-- Files page -->
    {% if unit == 'files' %}
      {% include "console/pages/settings/files/files.html" with
        model='transfers'
        model_singular='transfer'
        organizations=organizations
        section=section
        user=user
      %}
    
    <!-- Logs page -->
    {% elif unit == 'logs' %}
      {% include "console/pages/settings/logs/logs.html" with
        model='transfers'
        model_singular='transfer'
        organizations=organizations
        section=section
        user=user
      %}

    {% else %}

      <!-- Title -->
      {% include "console/components/forms/form_title.html" with
        abbreviation=data_model.abbreviation
        id=id
        model='transfers'
        model_singular='transfer'
        description="Manage transfers of samples sent for analysis."
        options=True
        export=id
      %}
      <!-- action="Send Transfer" -->

      <!-- Form -->
      <div class="mb-4 px-3">
        <form id="transfer-form">
          {% include "console/components/forms/dynamic_form.html" with
            fields=data_model.fields
          %}
          <!-- TODO: Show additional fields (traceability fields) -->
          {% comment %} {% include "console/components/forms/additional_fields.html" %} {% endcomment %}
        </form>
      </div>

      <!-- FIXME: Implement Samples table or list with AG-Grid table -->
      <div id="transfer-samples-container" class="px-3">
        <div class="d-flex justify-content-between">
          <div class="col">
            <h1 class="fs-6 lh-base text-dark mb-0 mt-3">
              Samples
            </h1>
            <h2 class="fs-6 lh-base text-secondary mb-3">
              <small>Manage samples included in the transfer.</small>
            </h2>
          </div>
          <div class="d-flex align-items-center">
            <button class="btn btn-sm-light btn-md-light">
              Add sample
            </button>
          </div>
        </div>

        <div id="data-table mb-5">
          <div
            id="transfer-samples-table"
            class="ag-theme-alpine-dark"
            style="height: 350px; width:100%;"
          ></div>
        </div>
      </div>

      <!-- Danger zone (delete) -->
      {% if id and id != 'new' %}
        {% include "console/components/forms/delete_option.html" with
          id=id
          model="transfers"
          model_singular="transfer"
        %}
      {% endif %}

    {% endif %}

  </main>

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>

    // Load the data into the user interface.
    cannlytics.ui.viewObject('transfer');

    // Render any date pickers.
    // $('.datepicker').datepicker({ format: 'mm/dd/yyyy' });

    // TODO: Initialize transfer form (create an ID, etc. )

    // Given parameter, set receiving organization.
    const receiverId = '{{ request.GET.receiver }}';
    if (receiverId) {
      document.getElementById('input_receiver_org_id').value = receiverId;
      cannlytics.api.getLabs(receiverId).then(function(response) {
        console.log(response);
        console.log(response.data);
        document.getElementById('input_receiver').value = response.data[0].name;
      });
    }


    /*----------------------
      Render samples table
    -----------------------*/

    // TODO: Make table editable.

    {% comment %} function onSelectionChanged() {
      /*
       * Show a key's details on selection.
       */
      const selectedRows = gridOptions.api.getSelectedRows();
      localStorage.setItem('template', JSON.stringify(selectedRows[0]));
      window.location.href = '/results/certificates/template';
    } {% endcomment %}

    // Specify the table columns.
    const columnDefs = [
      { field: 'sample_name', headerName: 'Sample Name' },
      { field: 'sample_type', headerName: 'Sample Type' },
      { field: 'weight', headerName: 'Weight' },
    ];

    // Specify the table options.
    const gridOptions = {
      columnDefs: columnDefs,
      defaultColDef: { flex: 1,  minWidth: 100 },
      rowClass: 'app-action',
      rowHeight: 25,
      rowSelection: 'single',
      // onSelectionChanged: onSelectionChanged,
      overlayLoadingTemplate: `
        <div class="spinner-grow text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      `,
      overlayNoRowsTemplate: `
        <div class="card-body bg-transparent text-center" style="max-width:320px;">
          <img
            src="/static/console/images/icons/multi-tone/vials.svg"
            style="width:75px;"
          >
          <h2 class="fs-5 text-dark mt-3 mb-1">
            Add samples to your transfer
          </h2>
          <p class="text-secondary fs-6 text-small">
            <small>Attach as many samples as you need, selecting the analyses that you need for each sample
            and specifying the details for each sample.
            </small>
          </p>
        </div>
      `
    };

    // Render the table.
    const eGridDiv = document.querySelector('#transfer-samples-table');
    new agGrid.Grid(eGridDiv, gridOptions);
    cannlytics.theme.setTableTheme();

    // Get any template data and provide it to the table via the AG Grid API.
    // Note that the user UID is passed from Django's user session.
    // FIXME: Set any existing rows?
    // cannlytics.results.getCoATemplates('{{ organizations.0.organization_id }}').then(function(data) {
    //   gridOptions.api.setRowData(data);
    // });
    gridOptions.api.setRowData([]);

  </script>
{% endblock console_js %}

</html>
