<!doctype html>
<html>
<!-- Signature -->
<!-- URL: settings/account/signature -->
<!-- Created 1/2/2021 -->
{% extends "cannlytics_console/console.html" %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    
    <!-- Header -->
    {% include "cannlytics_console/components/notifications/breadcrumbs_dynamic.html" with
      breadcrumbs=signature.breadcrumbs
    %}

    <!-- Signature Management -->
    <!-- Upload signature file -->
    <!-- Draw signature -->
    <p>TODO: Signature Management</p>

  </main>
{% endblock console_body %}
</html>
