
<!doctype html>
<html>
<!--
  Organization Menu | Cannlytics Console
  Created: 4/18/2021
  Updated: 6/11/2021
  TODO:
    - Allow users to set other organizations as their active organization.
-->
{% load icon %}
<div class="d-md-flex">
  <div class="dropdown">
    <a
      class="dropdown-toggle d-flex align-items-center btn btn-light text-dark py-1"
      href="#"
      id="navbarLabChoice"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span id="current-organization" class="brand-font fs-6">{{ organizations.0.name }}</span>
      <input id="organization_id" class="visually-hidden" value="{{ organizations.0.organization_id }}">
    </a>
    <ul
      class="dropdown-menu dropdown-menu-left shadow"
      aria-labelledby="navbarLabChoice"
    >
      <!-- onclick="cannlytics.organizations.changeActiveOrganization('{{ org.organization_id }}')" -->
      {% for org in organizations %}
      <li>
        <a
          class="app-action dropdown-item"
          href="/settings/organizations/{{ org.organization_id }}"
        >
          {{ org.name }}
        </a>
      </li>
      {% endfor %}
      <li class="border-top pt-2 mt-2">
        <a
          class="dropdown-item"
          href="/settings/organizations/new"
        >
          <small>Start or join an organization</small>
        </a>
      </li>
    </ul>
  </div>
</div>

</html>
