<!doctype html>
<html>
<!-- Records Page -->
<!-- Created 12/17/2020 -->
{% extends "cannlytics_console/pages/clients/clients.html" %}

{% block section %}

    <!-- Notifications -->

    <!-- Recent Activity -->

    <!-- Clients Table -->
    {% include "cannlytics_console/pages/clients/components/records_table.html" with records=records %}

    <!-- Client Daily Statistics Figure -->

    <!-- Client Current Projects -->

    <!-- Marketing -->

    <!-- Activity logs -->

{% endblock %}
</html>
