<!doctype html>
<html>
<!--
  Data Collection | Cannlytics Console
  Created: 12/9/2020
  Updated: 6/9/2021
-->
{% extends "console/console.html" %}
{% block console_body %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header-->
    {% include "console/components/notifications/breadcrumbs.html" with
      base_page="Settings"
      base_page_url="/settings"
      current_page="Data Collection"
    %}

    <!-- Body -->
    <div class="col">

      <!-- TODO: Allow users to specify additional fields for every model type. -->


    </div><!-- End of Body -->

  </main>

{% endblock console_body %}
</html>
