<!doctype html>
<html>
<!--
  Logs Page | Cannlytics Console
  Created: 12/9/2020
  Updated: 6/18/2021
-->
{% extends "console/console.html" %}
{% load static %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  {% include 'console/components/placeholders/under_construction.html' %}

   <!-- TODO: Organization logs table -->


   <!-- TODO: User logs table -->

  </main>
{% endblock %}

<!-- JavaScript -->
{% comment %} {% block console_js %}
  <script>
    console.log('Organizations page javascript loaded.');
    cannlytics.settings.getOrganizations();
  </script>
{% endblock %} {% endcomment %}

</html>
