<!doctype html>
<html>
<!--
  Settings | Cannlytics Console
  Created: 12/21/2020
  Updated: 6/18/2021
  TODO:
    - ID pattern setting | strftime style for each model to be used on creation
-->
{% extends "console/console.html" %}
{% load icon %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Settings</h1>
    </div>

    <!-- Body -->
    <div class="col">

      <!-- General settings table -->
      <!-- Optional: Alert to add organization if no organization -->
      <div class="list-group col-md-6 py-3">
        {% for item in settings.options %}
          <a
            href="{{ item.url }}"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-dark"
            aria-current="true"
          >
            {{ item.title }}
            {% icon "chevron-right" height="18px" width="18px" %}
          </a>
        {% endfor %}
      </div>

    </div><!-- End of body -->

  </main>
{% endblock console_body %}
</html>