<!doctype html>
<html>
<!--
  Invite a user | Cannlytics Console
  Created: 1/13/2021
  Updated: 6/18/2021
-->
{% extends "console/console.html" %}
{% block console_body %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-5">

    <!-- Header-->
    {% include "console/components/links/breadcrumbs.html" with
      base_page="Settings"
      base_page_url="/settings"
      current_page="Invite a user"
    %}

    <div class="col-md-6 px-3">
      <h1 class="fs-5 lh-base text-dark mb-0">Invite a user</h1>
      <h2 class="fs-6 lh-base text-secondary mb-3">
        <small>Please enter the email and a brief message for your invitee.</small>
      </h2>

      <!-- Feedback form -->
      <div class="col px-0">
        <div class="form-floating">

          <!-- TODO: Email input -->
          <div class="mb-3 row">
            <label
              for="login-email"
              class="col-sm-2 col-form-label col-form-label-sm pe-2"
            >
              Email
            </label>
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control form-control-sm"
                id="login-email"
                required
                autofocus
                spellcheck="false"
              >
            </div>
          </div>

          <!-- TODO: Team member input -->

          <!-- Message -->
          <textarea
            class="form-control"
            placeholder="Write your feedback here"
            id="feedback-message"
            style="height:250px"
          ></textarea>
          <label for="feedback-message">
            Enter an email and a message here...
          </label>
        </div>

        <!-- Optional: File attachment -->
        <div class="d-flex justify-content-end mt-3">
          <button
          id="action-button"
            class="btn btn-sm bg-gradient-green text-white"
            onclick="cannlytics.settings.inviteUser()"
          >
            Invite user
          </button>
          <button
            id="action-button-loading"
            class="btn btn-sm btn-set-width bg-gradient-green text-white d-none"
            type="button"
            disabled
          >
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>

      </div>
    
    </div>

{% endblock console_body %}
</html>
