<!doctype html>
<html>
<!--
  Projects | Cannlytics Console
  Created: 4/24/2021
  Updated: 2/6/2022
-->
{% extends "console/console.html" %}
{% load static icon %}
{% block title %}{% if section == 'new' %}New | {% elif section %}{{ section }} | {% endif %}Projects | Cannlytics {% endblock title %}
{% block console_body %}
{% block console_css %}

  <!-- AG-Grid CSS and JavaScript -->
  {% include "console/components/tables/ag_grid_scripts.html" %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock console_css %}
{% if section and section not in 'logs,files' %}

  <!-- Detail page -->
  {% include "console/pages/projects/project.html" with
    id=section
    data_model=data_model
  %}

{% else %}

  <!-- List -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pb-5 mx-auto">

    <!-- Header-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 mt-2 border-bottom border-secondary">
      <h4 class="breadcrumb-item text-dark lh-sm fs-6 mb-0">Projects</h4>
    </div>

    <!-- Body -->
    <div class="projects">

      <!-- Tabs -->
      {% include "console/components/forms/form_tabs.html" with
        model="projects"
      %}

      <!-- Logs -->
      {% if section == 'logs' and organizations.0.type == 'lab' %}
        {% include "console/pages/settings/logs/logs.html" with
          model='projects'
          model_singular='project'
          organizations=organizations
          section=section
          user=user
        %}

      <!-- Files -->
      {% elif section == 'files' and organizations.0.type == 'lab' %}
        {% include "console/pages/settings/files/files.html" with
          model='projects'
          model_singular='project'
          organizations=organizations
          section=section
          user=user
        %}

      <!-- Table -->
      {% else %}

        <!-- Options -->
        {% if organizations.0.type == 'lab' %}
          {% include "console/components/tables/simple_table_options.html" with
            model='projects'
            model_singular='project'
          %}
        {% else %}
          {% include "console/components/tables/simple_table_options.html" with
            model='projects'
            model_singular='project'
            action_hidden=True
          %}
        {% endif %}

        <!-- Loading placeholder -->
        <div id="loading-placeholder">
          {% include "console/components/placeholders/loading_placeholder.html" with
            height='350px'
            width='100%'
            only
          %}
        </div>

        <!-- No-data Placeholder -->
        <div id="data-placeholder" class="d-none">
          {% include "console/components/placeholders/placeholder.html" with
            placeholder=projects.placeholder
            only
          %}
        </div>

        <!-- AG Grid Table -->
        <div id="data-table" class="d-none">
          <div
            id="projects-table"
            class="ag-theme-alpine-dark"
            style="height: 350px; width:100%;"
          ></div>
        </div>

      {% endif %}

    </div><!-- End of the body -->
    
  </main>
{% endif %}
{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}

  {% if not section %}
    <script type="text/javascript" charset="utf-8">

      // Stream the data.
      cannlytics.app.awaitStreamData('projects', 'project', '{{ organizations.0.organization_id }}');

    </script>
  {% endif %}

{% endblock console_js %}
</html>
