<!doctype html>
<html>
<!--
  Age verification and cookie notification
  Created: 7/3/2023
  Updated: 7/29/2024
-->
{% load icon %}
<!-- Age Verification Dialog -->
<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" id="age-verification" tabindex="-1">
  <div class="bg-white rounded-lg shadow-lg max-w-lg w-full p-6 relative">

    <!-- Modal content -->
    <div class="modal-body flex flex-col items-center text-center">
      <!-- Title -->
      <div class="flex items-start mb-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Fplaceholders%2Fage-verification-symbol.png?alt=media&token=95abaeee-705e-44e9-841b-e32ac36dd7fe" 
             alt="Age Verification" 
             class="h-16 mr-2">
        <h5 class="text-2xl mb-0">Are you 21 or older?</h5>
      </div>

      <!-- Birthdate input -->
      <p class="text-left mt-2 mb-2">Confirm your birthdate here:</p>
      <div>
        <input
          id="birthdate"
          type="date"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm font-serif mb-3"
        >
      </div>

      <!-- Message -->
      <p class="text-left mt-0">
        By accessing Cannlytics, you accept our
        <a href="https://docs.cannlytics.com/terms" class="text-blue-500">terms of use</a>
        and acknowledge that you have read our
        <a href="https://docs.cannlytics.com/privacy" class="text-blue-500">privacy policy</a>.
      </p>

      <!-- Actions -->
      <div class="flex justify-end mt-3 w-full">
        <button
          type="button"
          class="btn btn-sm-light btn-md-light text-gray-800 font-serif mr-2"
          onclick="cannlytics.website.rejectAgeCheck();"
        >
          No, not today
        </button>
        <button
          id="accept-age-verification-button"
          type="button"
          class="bg-green-500 text-white py-2 px-4 rounded-md font-serif"
          onclick="cannlytics.website.acceptAgeCheck();"
          disabled
        >
          Yes, I'm 21+
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  // Function to check if user has accepted age verification
  function ageCheck() {
    const acceptAge = localStorage.getItem('cannlytics_age');
    console.log('acceptAge', acceptAge);
    if (!acceptAge) {
      const modal = document.getElementById('age-verification');
      modal.classList.remove('hidden');
      const birthdateInput = document.getElementById('birthdate');
      birthdateInput.addEventListener('change', (event) => {
        console.log('event.target.value', event.target.value);
        if (cannlytics.website.verifyAge(event.target.value)) {
          document.getElementById('accept-age-verification-button').disabled = false;
          console.log('age verified');
        } else {
          document.getElementById('accept-age-verification-button').disabled = true;
          console.log('age not verified');
        }
      });
    }
  }

  // Add sign-in on enter on login password field.
  document.getElementById('sign-in-password').addEventListener('keyup', function(event) {
    event.preventDefault();
    if (event.keyCode === 13) cannlytics.auth.signIn(event);
  });

  // Initialize age check
  document.addEventListener('DOMContentLoaded', ageCheck);
</script>

{% comment %} <script>
  cannlytics.website.ageCheck();
</script> {% endcomment %}
</html>
