<!doctype html>
<html>
<!--
  Cookie notification
  Created: 1/9/2021
  Updated: 11/26/2021
-->
{% load icon %}
<div
  id="accept-cookies"
  class="toast position-fixed"
  style="display:none; right:1rem; bottom:1rem; z-index:10002;"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-bs-autohide="false"
>
  <div class="toast-header">
    {% icon "alert-circle" class="link-primary me-1" height="24px" width="24px" %}
    <strong class="me-auto">This website uses cookies</strong>
  </div>
  <div class="toast-body">
    We use cookies to analyze site traffic and offer you a better browsing experience.
    Learn about how we use cookies in our
    <a href="https://docs.cannlytics.com/about/privacy-policy">privacy policy</a>.
    By using our site, you consent to our use of cookies.
    <div class="mt-2 pt-2 border-top">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        onclick="cannlytics.website.acceptCookies();"
      >
        Agree
      </button>
      <button
        type="button"
        class="btn btn-secondary btn-sm"
        data-bs-dismiss="toast"
        href="https://google.com"
      >
        Disagree
      </button>
    </div>
  </div>
</div>
<script>
  cannlytics.website.acceptCookiesCheck();
</script>
</html>
