<!-- Community Page -->
<!-- Created 11/24/2020 -->
{% extends "cannlytics_website/index.html" %}
{% block title %}Community | {{ general.title }}{% endblock %}
{% load static %}
{% block page_css %}
  <style>
    .open-in-new::after {
      content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
      margin: 0 3px 0 5px;
    }
    .figure-caption a {
      color: inherit;
      border-bottom: 1px dashed #000;
      text-decoration: none;
    }
    .figure-caption a:hover {
      background-color: rgba(229,58,35,.2);
    }
    body.dark .gm-style-iw-c,
    body.dark .gm-style-iw-d {
      background-color: #343434;
    }
    body.dark .gm-style-iw-d a {
      color: #50fa7b;
    }
    body.dark .btn-light {
      color: #1a1a1a !important;
    }
    .gm-style .gm-style-iw-c  {
      padding: 0;
    }
  </style>
{% endblock %}
{% block material %}
  <div class="community container">

  <!-- https://microsoft.github.io/monaco-editor/ -->
  <!-- CA Data: https://iservices.dca.ca.gov/docs/bcclicensereadservices -->

  <!-- Is your lab missing? Enter your details to get added to the map. -->

    <!-- Hero -->
    <div class="row featurette mt-5">
      <div class="col-md-7">
        <h2 class="display-5 serif text-dark pb-3 mt-0">
          Welcome to the Cannlytics Community.
        </h2>
        <p class="h5 double-line text-dark text-start text-muted">
          A vibrant community of cannabis-testing developers and scientists.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="{% static 'cannlytics_website/images/illustrations/cannlytics_collaboration.svg' %}"
          width="100%"
        >
      </div>
    </div>
  </div>

  <!-- Lab Map -->
  <div class="mt-5">
    {% include "./labs/map.html" %}
  </div>

  <!-- Community markdown -->
  <div class="container markdown py-3">
    {{ markdown | safe }}
    <p class="text-start">
      <a href="https://console.cannlytics.com/sign-up">
        Join the community today &rarr;
      </a>
    </p>
  </div>

{% endblock %}

<!-- Community JavaScript -->
{% block page_js %}
  <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
  <script type="text/javascript">
    var script = document.createElement('script');
    var apiKey = {{ api_key|safe }}[0]; // Passing API key from Django.
    script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
    script.defer = true;
    window.initMap = function() {
      cannlytics.community.initialize();
    }
    document.head.appendChild(script);
  </script>
{% endblock page_js %}
