<!doctype html>
<html>
<!--
  Table JavaScript and StyleSheets | Cannlytics Website
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 12/12/2021
  Updated: 12/30/2021
-->
{% load static %}
<script src="{% static 'website/plugins/ag-grid/ag-grid-community.min.noStyle.js' %}"></script>
<link href="{% static 'website/plugins/ag-grid/ag-grid.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'website/plugins/ag-grid/ag-theme-alpine.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'website/plugins/ag-grid/ag-theme-alpine-dark.min.css' %}" rel="stylesheet" type="text/css"/>
</html>
