<!doctype html>
<html>
<!--
  Organizations Page | Cannlytics Console
  Created: 4/26/2021
  Updated: 6/11/2021
-->
{% extends "console/console.html" %}
{% load icon %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Organizations</h1>
    </div>

    <!-- Body -->
    <div class="analysis">

      <!-- Card -->
      <div class="card my-3">
        <div class="card-body">
          <h2 class="h6 mb-3 text-dark">Organizations</h2>
          <div class="table-responsive">           
            {% if organizations %}

              <!-- Data Grid -->
              <div class="row">
              {% for org in organizations %}
                <div class="card col-3 col-sm-1 col-md-2">
                  {% icon 'briefcase' class="fs-6" %}<h4>{{ org.name }}</h4>
                  <h5>{{ org.website }}</h5>
                </div>
              {% endfor %}
              </div>

            {% else %}
              <!-- Placeholder -->
              {% include "console/components/placeholders/placeholder.html" with
                placeholder=organizations.placeholder
                only
              %}
            {% endif %}

          </div>
        </div>
      </div><!-- End of the table -->

    </div><!-- End of the body -->

  </main>

{% endblock console_body %}

{% block console_js %}

  <!-- JavaScript -->
  <script type="text/javascript" charset="utf-8">

    // Initialize user interface.
    // cannlytics.organizations.initialize();

  </script>

{% endblock console_js %}

</html>
