<!-- Art Page -->
{% extends "cannlytics_website/index.html" %}

{% block material %}
  <div class="art">
    <main role="main" class="container py-3 my-3 ">
      <div class="col-md-8 pb-5 mb-5">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          Cannlytics Art
        </h3>

        <!-- Cannlytics Calyx -->

        <!-- Section -->
        <!-- <div class="">
          <h2 class="">Zhen</h2>
          <p>
            Truth
          </p>
        </div>

        <p>Virtue engenders good fortune.</p>

        <h2>The Cannlytics Pheonix</h2>
        <p>Hardships build muscle.</p> -->

        <hr></hr>

        <p>Copyright © 2020 Cannlytics</p>

      <p>
        Cannlytics art is available under the
        <a href="https://directory.fsf.org/wiki/License:FAL1.3">
          Free Art License
        </a>.
        If you want to use Cannlytics art, feel free.
        You are encourage to use Cannlytics art
        to link to the Cannlytics website,
        in contexts talking about Cannlytics, or in any
        way supporting Cannlytics, free software,
        and the cannabis industry.
      </p>

      <!-- Wish List -->
      <h1>Wish List</h1>
      <ul>
        <li>Code under magnify glass icon</li>
      </ul>

      </div>
    </main>
  </div>
{% endblock %}
