<!doctype html>
<html>

  <!-- Simple Projects Table -->
  <div class="card my-3">
    <div class="card-body">

      <!-- Options -->
      <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
        <h2 class="h6 text-dark">Projects</h2>
        <a
          type="button"
          class="btn btn-sm btn-outline-secondary ml-2"
          href="/analysis/analyses"
        >
          New
        </a>
      </div>

      <!-- Timeseries -->
      <div id="timeseries"></div>
      {% comment %} <div class="figure-wrapper">
        <canvas
          id="timeseries"
          style="height:250px; width:400px;"
        ></canvas>
      </div> {% endcomment %}

    </div>

  </div>

</html>
