<!doctype html>
<html>

  <!-- Lab Analyses -->
  <!-- Created 1/24/2021  -->

  <!-- Placeholder -->
  <div class="col mt-5 placeholder">
    {% include "cannlytics_website/components/placeholders/placeholder.html" with
      url="#"
      image="cannlytics_website/images/illustrations/chemistry_table.svg"
      image_height="120px"
      title="Analyses coming soon"
      message="Soon, you can start populating analyses to offer cannabis-testing services to the community. Analyses added for this lab will be listed here."
      only
    %}
    {% comment %} {% include "cannlytics_website/components/placeholders/placeholder.html" with
      url="#"
      image="cannlytics_website/images/illustrations/chemistry_table.svg"
      image_height="120px"
      title="Add Analyses"
      message="Start populating analyses to offer cannabis-testing services to the community. Analyses added for this lab will be listed here."
      action="Add analysis"
      only
    %} {% endcomment %}
  </div>

  <!-- TODO: Table of analyses -->

  <!-- Analyses JavaScript -->
  <script>
    cannlytics.lab.initializeAnalyses("{{ lab.id }}"); // Passing org ID from Django.
  </script>

</html>
