<!doctype html>
<html>
<!--
  Review Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 8/9/2021
  Updated: 8/9/2021
  TODO:
    - Checkboxes as each becomes done:
      Reviewed, Approved, Posted, Released
-->
{% load static %}

  <!-- TODO: Measurement review table -->
  <div class="px-3">
    <h1 class="fs-6 lh-base text-dark mb-0 mt-3">
      Measurements
    </h1>
    <h2 class="fs-6 lh-base text-secondary mb-0">
      <small>Manage measurements for each requested analysis, with metrics for each analyte.</small>
    </h2>
  </div>

  <!-- Options -->
  {% comment %} {% include "console/components/tables/simple_table_options.html" with
    model='samples'
    model_singular='sample'
  %} {% endcomment %}

  <!-- Loading placeholder -->
  <div id="loading-placeholder">
    {% include "console/components/placeholders/loading_placeholder.html" with
      height='175px'
      width='100%'
      only
    %}
  </div>

  <!-- No-data Placeholder -->
  <div id="data-placeholder" class="d-none">
    {% include "console/components/placeholders/placeholder.html" with
      placeholder=samples.placeholder
      only
    %}
  </div>

  <!-- AG Grid Table -->
  <div id="data-table" class="d-none">
    <div
      id="measurements-review-table"
      class="ag-theme-alpine-dark"
      style="height: 350px; width:100%;"
    ></div>
  </div>

  <!-- TODO: Results review form -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <div class="px-3">
      <h1 class="fs-6 lh-base text-dark mb-0 mt-3">
        Results
      </h1>
      <h2 class="fs-6 lh-base text-secondary mb-0">
        <small>Manage results for the analyses, calculated from measurements and formulas for each analyte.</small>
      </h2>
    </div>
    <button
      class="btn btn-sm bg-gradient-green text-white"
      onclick=""
    >
      Calculate
    </button>
  </div>

<!-- JavaScript -->
{% block console_js %}
  <script>

    // TODO: Stream measurements.
    // cannlytics.app.streamData('measurements', 'measurement', '{{ organizations.0.organization_id }}');

    // TODO: Steam results.
    // cannlytics.app.streamData('results', 'result', '{{ organizations.0.organization_id }}');

  </script>
{% endblock console_js %}


</html>
