<!doctype html>
<html>
  <!-- Footer | Cannlytics Console -->
  <!-- Created 4/22/2021 -->
  {% load icon %}

  <footer class="text-muted bg-light">

    <!-- Title and policies -->
    <div class="px-3 d-flex justify-content-between align-items-center border-top">
      <div class="fs-6 text-small">
        <small>Copyright &copy; Cannlytics 2021</small>
        &#9882;
        <a class="text-secondary fs-6" href="https://docs.cannlytics.com/about/privacy-policy" target="_blank">
          <small>Privacy</small>
        </a>
        -
        <a class="text-secondary fs-6" href="https://docs.cannlytics.com/about/security-policy" target="_blank">
          <small>Security</small>
        </a>
        -
        <a class="text-secondary fs-6" href="https://docs.cannlytics.com/about/terms-of-service" target="_blank">
          <small>Terms</small>
        </a>
      </div>
      <div class="align-self-end"></div>

      <!-- Help Menu -->
      {% include 'cannlytics_console/components/menus/help_menu_dropup.html' %}

    </div>
  </footer>

</html>
