<!doctype html>
<html>
<!--
  Traceability Employees Page | Cannlytics Console
  Created: 6/12/2021
  Updated: 6/14/2021
-->
{% extends "console/pages/traceability/traceability.html" %}

{% block section %}

  <!-- Employees Table -->
  <div class="card my-3">
    <div class="card-body">
      <h2 class="h6 mb-3 text-dark">Employees</h2>
      <div class="table-responsive">

        <!-- Placeholder if no data -->
        <div id="data-placeholder">
          {% include "console/components/placeholders/table_placeholder.html" with
            height='200px'
            image='console/images/illustrations/science/lab_microbiologist.svg'
            message='No employees were found for your active license.'
            title='No Employees Found'
            url='/traceability/employees/employee?new=true'
            only
          %}
        </div>

        <!-- AG Grid Table -->
        <div id="data-table" class="d-none">
          <div
            id="employees-table"
            class="ag-theme-alpine-dark"
            style="height: 350px; width:100%;"
          ></div>
        </div>

      </div>
    </div>
  </div><!-- End of the table -->

{% endblock section %}

<!-- JavaScript -->
{% block console_js %}

  <script>
    cannlytics.traceability.getEmployees(
      'employees-table',
      '{{ organizations.0.uid }}',
      '{{ organizations.0.licenses.0.license_number }}',
      '{{ organizations.0.licenses.0.user_api_key_secret.version_id }}',
    );
  </script>

{% endblock console_js %}
</html>
