<!doctype html>
<html>
<!--
  Banner - DataScience | Cannlytics Website
  Created: 6/27/2021
  Updated: 7/29/2024
  Params:
    email
    phone
    phone_number
-->
{% load static %}
<div id="main-banner" class="text-gray-800 flex justify-between py-2 px-2 lg:px-3">
  <div class="flex"></div>
  <div class="flex items-center justify-center flex-wrap font-bold">

    <!-- Sign-in button -->
    <a
      id="open-sign-in-dialog"
      type="button"
      class="btn btn-sm bg-gradient-to-r from-orange-400 to-orange-600 text-white whitespace-nowrap font-serif"
      href="#"
    >
      Sign in
    </a>

    <!-- User Menu -->
    {% include "website/components/menus/user_menu.html" %}

    <!-- Theme Toggle -->
    {% include "website/components/buttons/theme_toggle.html" %}

  </div>
  <div class="flex lg:hidden"></div>
</div>
</html>
