<!doctype html>
<html>
<!--
  Breadcrumbs
  Created: 7/1/2021
  Updated: 3/24/2024
  Parameters:
    base_page
    base_page_url
    current_page
    extra_page (optional)
    extra_page_url (optional)
    nested_page (optional)
    nested_page_url (optional)
    back (optional)
-->
<div class="breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ base_page_url }}">{{ base_page }}</a>
      </li>
      {% if nested_page %}
      <li class="breadcrumb-item">
        <a href="{{ nested_page_url }}">{{ nested_page }}</a>
      </li>
      {% endif %}
      {% if extra_page %}
      <li class="breadcrumb-item">
        <a href="{{ extra_page_url }}">{{ extra_page }}</a>
      </li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">
        {% if current_page == 'new' %}New{% else %}{{ current_page }}{% endif %}
      </li>
    </ol>
  </nav>
  {% if back is False %}
  <button class="btn-back" onclick="window.history.back();">Back</button>
  {% endif %}
</div>
</html>
