<!doctype html>
<html>
<!--
  Header | Cannlytics Website
  Created: 1/7/2021
  Updated: 9/22/2023

  Optional links to add:
    - Examples?
-->
{% load static icon %}

<!-- Banner offer -->
{% include "website/components/layout/banner.html" with
  email="contact@cannlytics.com"
  phone=app.contact_phone
  phone_number=app.contact_phone_number
  only
%}

<!-- Theme Toggle -->
{% include "website/components/buttons/theme_toggle.html" %}

<!-- Header Template -->
<nav class="navbar navbar-expand-lg navbar-light justify-content-start p-3 px-md-4">
  <div class="container-fluid">

    <!-- Title -->
    <a 
      class="navbar-brand d-flex align-items-center me-2 pt-0"
      href="{% url 'index' %}"
      aria-label="Cannlytics"
    >
      <img
        src="{% static 'website/images/logos/cannlytics_logo_with_text_light.svg' %}"
        class="light-only"
        height="42px"
        alt="Cannlytics"
      >
      <img
        src="{% static 'website/images/logos/cannlytics_logo_with_text_dark.svg' %}"
        class="dark-only"
        height="42px"
        alt="Cannlytics"
      >
    </a>

    <!-- Menu Toggle -->
    <button
      class="navbar-toggler me-4 p-1"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      {% icon "menu" height="21px" width="21px" %}
    </button>

    <!-- Navigation Links -->
    <div
      id="navbarNavDropdown"
      class="collapse navbar-collapse"
    >

      <!-- Navigation -->
      <ul class="navbar-nav me-2">
        <li class="nav-item mb-0">
          <a
            class="nav-link btn-sm background-hover fw-bold serif text-dark {% if 'data' in request.path %}active{% endif %}"
            href="{% url 'page' page='data' %}"
          >
            Data
          </a>
        </li>
        <li class="nav-item mb-0">
          <a
            class="nav-link btn-sm background-hover fw-bold serif text-dark {% if 'data' in request.path %}active{% endif %}"
            href="https://docs.cannlytics.com"
          >
            Docs
          </a>
        </li>
        <li class="nav-item mb-0">
          <a
            class="nav-link btn-sm background-hover fw-bold serif text-dark {% if 'ai' in request.path %}active{% endif %}"
            href="https://github.com/cannlytics/cannlytics"
          >
            Code
          </a>
        </li>
        <li class="nav-item mb-0">
          <a
            class="nav-link btn-sm background-hover fw-bold serif text-dark"
            href="{% url 'section' page='account' section='subscriptions' %}"
          >
            Consulting
          </a>
        </li>
        <li id="more-menu" class="nav-item dropdown dropdown-mega position-static">
          <a
            class="nav-link dropdown-toggle btn-sm background-hover fw-bold serif text-dark"
            href="#"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
          >
            More
          </a>
          <div id="mega-menu" class="dropdown-menu p-0 m-0">
            <div class="mega-content px-4">
              <div class="container-fluid">
                <div class="row">

                  <!-- Cannabis Data Science links -->
                  <div class="col-12 col-sm-4 col-md-3 py-4">
                    <h5 class="fw-bold serif text-dark">Cannabis Data Science</h5>
                    <div class="card no-border bg-transparent">
                      <a href="https://www.meetup.com/cannabis-data-science/events/">
                        <img class="img-fluid" alt="image" src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/public%2Fimages%2Flogos%2Fcannabis-data-science-logo-wide.png?alt=media&token=880500fd-4a48-42e8-b8a9-3aa36605e299">
                      </a>
                      <div class="card-body bg-transparent px-0">
                        <p class="card-text fs-6 text-dark markdown">
                          <small>
                            Find, wrangle, and crunch cannabis data like a pro every Thursday at 3:30pm PST / 6:30pm EST at the
                            <a
                              href="https://www.meetup.com/cannabis-data-science/"
                              class="serif background-hover"
                            >
                              Cannabis Data Science Meetup🚀
                            </a>
                          </small>
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- Apps links -->
                  <div class="col-12 col-sm-4 col-md-3 py-4">
                    <h5 class="fw-bold px-3 serif text-dark">Apps</h5>
                    <div class="list-group border-none">
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'page' page='ai' %}">🦾 AI <span class="badge rounded-pill bg-success">New</span></a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'page' page='api' %}">📡 API</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="https://app.cannlytics.com">📱 App</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="https://data.cannlytics.com">🖧 Data</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="https://pypi.org/project/cannlytics/">🐍 Python SDK</a>
                    </div>
                  </div>

                  <!-- Material links -->
                  <div class="col-12 col-sm-4 col-md-3 py-4">
                    <h5 class="fw-bold px-3 serif text-dark">Material</h5>
                    <div class="list-group">
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="https://open.spotify.com/show/026mnrCyi1QmyGnPRxdH1u">🎙️ Podcast</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="https://www.youtube.com/channel/UCDzZAV2c0pEimgLo3mUqMaw">📺 YouTube</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="https://substack.com/@cannlytics">🗞️ Substack</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'page' page='whitepapers' %}">📜 Whitepapers</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'page' page='subscriptions' %}">📮 Subscriptions</a>
                      {% comment %} <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'page' page='support' %}">⛑️ Support</a> {% endcomment %}
                    </div>
                  </div>

                  <!-- Connect links -->
                  <div class="col-12 col-sm-12 col-md-3 py-4">
                    <h5 class="fw-bold px-3 serif text-dark">Connect</h5>
                    <div class="list-group">
                      <a 
                        class="list-group-item no-border serif text-dark bg-transparent background-hover"
                        href="https://github.com/cannlytics">🐙 GitHub</a>
                      <a 
                        class="list-group-item no-border serif text-dark bg-transparent background-hover"
                        href="https://huggingface.co/cannlytics">🤗 Hugging Face</a>
                        <a 
                          class="list-group-item no-border serif text-dark bg-transparent background-hover"
                          href="https://linkedin.com/company/cannlytics">🔗 LinkedIn</a>
                      <a 
                        class="list-group-item no-border serif text-dark bg-transparent background-hover"
                        href="https://join.slack.com/t/cannlytics/shared_invite/zt-1wfbpb61s-JyN2Rt0H4xCmNigop4roWg">💬 Slack</a>
                      <a 
                        class="list-group-item no-border serif text-dark bg-transparent background-hover"
                        href="https://meetup.com/cannabis-data-science">👋 Meetup</a>
                    </div>
                  </div>

                  {% comment %} <div class="col-12 col-sm-12 col-md-3 py-4">
                    <h5 class="fw-bold px-3 serif text-dark">Data</h5>
                    <div class="list-group">
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'section' page='data' section='market' %}">🪙 Data Market</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'page' page='testing' %}">🥼 Labs, analyses, and <strong class="serif">prices</strong>!</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'page' page='economics' %}">📈 Economics and forecasts</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'page' page='data' %}#state-data">🏛️ Public state data</a>
                      <a class="list-group-item no-border serif text-dark bg-transparent background-hover" href="{% url 'page' page='data' %}#regulations">⚖️ Regulations</a>
                    </div>
                  </div> {% endcomment %}

                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- No user menu -->
      <ul class="navbar-nav align-items-end align-items-lg-center ms-auto me-3 indicates-auth visually-hidden">
        {% comment %} <li class="nav-item h6 mb-0">
          <a
            class="nav-link btn-sm app-action background-hover text-nowrap me-2 fw-bold serif text-dark"
            data-bs-target="#sign-in-dialog"
            data-bs-toggle="modal"
          >
            Sign in
          </a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a
            type="button"
            class="btn btn-sm bg-gradient-orange text-white text-nowrap serif"
            data-bs-target="#sign-in-dialog"
            data-bs-toggle="modal"
          >
          Sign in
          </a>
        </li>
        {% comment %} <li class="nav-item">
          <a
            type="button"
            class="btn btn-sm bg-gradient-orange text-white text-nowrap serif"
            href="https://data.cannlytics.com"
          >
            Launch App
          </a>
        </li> {% endcomment %}
      </ul>

      <!-- Right navigation shown if user is signed in. -->
      {% include "website/components/menus/user_menu.html" %}

    </div>
  </div>
</nav>
</html>
