<!doctype html>
<html>
  <!-- Lab Page -->
  <!-- Created 12/26/2020 -->
  {% extends "cannlytics_website/index.html" %}
  {% load static dict_key %}
  {% block title%}{{ lab.name }} | Cannlytics{% endblock %}
  {% block material %}

    <!-- Hero Banner -->
    {% include "cannlytics_website/components/heros/hero_banner.html" with
      title=lab.name
      description=lab.description
      image_url=lab.favicon
      only
    %}

    <!-- TODO: Number of views -->

    <!-- Body -->
    <main role="main" class="container">
      <div class="col-md-12 pb-5 mb-5">

        <!-- Header -->
        <div class="d-flex align-items-center mb-4 pb-2">
          <h3 class="serif mb-0">
            About {{ lab.name }}
          </h3>
          {% if lab.status == "Suspended" %}
            <span class="badge rounded-pill bg-danger ms-2">{{ lab.status }}</span>
          {% elif lab.status == "Active" %}
            <span class="badge rounded-pill bg-success ms-2">{{ lab.status }}</span>
          {% else %}
            <span class="badge rounded-pill bg-secondary ms-2">{{ lab.status }}</span>
          {% endif %}
        </div>

        <!-- Tabs -->
        <ul class="nav nav-tabs" id="labTabs" role="tablist">
          {% for item in tabs %}
            <li class="nav-item" role="presentation">
              <a
                id="{{ item.section }}-tab"
                data-bs-toggle="tab"
                class="nav-link serif fs-6 {% if item.active %}active{% endif %}"
                aria-selected="{% if item.active %}true{% else %}false{% endif %}"
                aria-controls="{{ item.section }}"
                href="#{{ item.section }}"
                role="tab"
              >
                {{ item.name }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="labTabsContent">

          <!-- Details -->
          <div
            id="details" 
            class="tab-pane fade show active"
            role="tabpanel"
            aria-labelledby="details-tab"
          >
            {% include "./details.html" with lab=lab fields=fields only%}
          </div>

          <!-- Analyses -->
          <div
            id="analyses"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="analyses-tab"
          >
            {% include "./analyses.html" with lab=lab only%}
          </div>

          <!-- Change log -->
          <div
            id="logs"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="logs-tab"
          >
            {% include "./logs.html" with lab=lab only%}
          </div>

        </div><!-- End of tab content -->

      </div>
    </main><!-- End of body -->

  {% endblock %}

  <!-- Lab JavaScript -->
  {% block page_js %}
    <script>
      cannlytics.community.logView("{{ lab.id }}", 'page_views'); // Passing org ID from Django.
    </script>
  {% endblock %}

</html>
