<!doctype html>
<html>
<!--
  Get Started Page - Support | Cannlytics Console
  Created: 2/20/2021
  Updated: 7/14/2021
-->
<!--  -->
{% extends "./get-started.html" %}
{% load icon get_env %}
{% block console_css %}

  <script src="https://www.paypal.com/sdk/js?client-id={{ 'PAYPAL_CLIENT_ID'|get_env }}&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>

{% endblock console_css %}
{% block unit %}

  <!-- Header -->
  <div class="d-flex justify-content-between mt-5">
    <div class="col">
      <h1 class="fs-2">Choose your support</h1>
      <p class="fs-6 text-secondary">Get setup with support for a seamless experience.<p>
    </div>
    <div class="fs-5 text-dark me-2">3/3</div>
  </div>

  <!-- Selectable cards -->
  <!-- Optional: Have a tier selected by default -->
  <h1 class="fs-5 mt-5 mb-1">3. Choose your level of support</h1>
  <p class="fs-5 text-secondary mb-3">
    <small>If you need software support or a ready-to-use implementation,
    then choose your desired level of support. You can always change your level of support later.</small>
  </p>
  <input
    id="input_tier"
    class="visually-hidden"
    name="tier"
  />
  <div class="row row-cols-1 row-cols-md-3 mb-3 mt-4 text-center">
    {% for item in get_started.pricing_tiers %}
      <div class="col">
        <div class="card support-card mb-4 shadow-hover" id="tier{{ item.name }}">
          <a
            class="card-block stretched-link text-decoration-none app-action"
            onclick="cannlytics.dashboard.selectSupportTier('{{ item.name }}');"
          >
            <div class="card-header bg-gradient-{{ item.color }}">
              <h4 class="font-weight-normal text-white my-0">
                {{ item.name }}
              </h4>
            </div>
            <div class="card-body">
              <h1 class="text-dark card-title pricing-card-title">
                {{ item.price }}
              </h1>
              <ul class="text-dark list-unstyled mt-3 mb-4">
                {% for attribute in item.attributes %}
                  <li class="fs-6 mb-1">
                    <small class="serif text-muted">
                      {{ attribute }}
                    </small>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div><!-- End of tiers -->

  <!-- Options -->
  <div class="mb-5">
    <a
      class="btn btn-sm btn-sm-light btn-md-light me-2"
      href="/get-started/organization/{% if request.GET.from %}?from={{ request.GET.from }}{% endif %}"
    >
      Back
    </a>
    <button
      id="finish-support-button"
      class="btn btn-set-weidth bg-gradient-green text-white btn-sm"
      onclick="finalizeSupport();"
    >
      Finish
    </button>
    <button
      id="finish-support-loading-button"
      class="btn btn-set-width btn-sm bg-gradient-green text-white d-none"
      type="button"
      disabled
    >
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    </button>
    <div id="paypal-button-container" class="mt-4"></div>
  </div>

{% endblock unit %}

{% block console_js %}

  <script>

    function finalizeSupport() {
      /*
       * Select subscription, getting subscription plan ID and rendering a PayPal button.
       */
      document.getElementById('finish-support-button').classList.add('d-none');
      document.getElementById('finish-support-loading-button').classList.remove('d-none');
      cannlytics.dashboard.saveSupport().then(function(response) {
        document.getElementById('paypal-button-container').innerHTML = '';
        var planID = response['plan_id'];
        if (planID === 'free') {
          cannlytics.dashboard.subscribe({ 'plan_id': planID });
          return;
        }
        paypal.Buttons({
          style: {
              shape: 'rect',
              color: 'silver',
              layout: 'horizontal',
              label: 'subscribe',
          },
          createSubscription: function(data, actions) {
            return actions.subscription.create({ 'plan_id': planID });
          },
          onApprove: function(data, actions) {
            var subscription = { ...data, ...response };
            cannlytics.dashboard.subscribe(subscription);
          },
          onError: function (error) {
            alert('Uknown error subscribing. Please contact contact@cannlytics.com. Thank you for your patience and we will deliver you support.');
          },
        }).render('#paypal-button-container');
      })
      .finally(function() {
        document.getElementById('finish-support-button').classList.remove('d-none');
        document.getElementById('finish-support-loading-button').classList.add('d-none');
      });
    }

  </script>

{% endblock console_js %}

</html>
