<!doctype html>
<html>
<!--
  Get Started Page - Profile | Cannlytics Console
  Created: 2/20/2021
  Updated: 12/16/2021
  Optional:
    - Show error on email if invalid or no email (.is-invalid)
    - Allow user to specify if their account is public or private.
-->
{% extends "./get-started.html" %}
{% load static icon %}
{% block unit %}

  <!-- Header -->
  <div class="d-flex justify-content-between mt-5">
    <div class="col">
      <h1 class="fs-4">Get started</h1>
    </div>
    <div class="fs-5 text-dark me-2">1/3</div>
  </div>

  <!-- Get started stepper -->
  {% include "./get_started_stepper.html" with step_value=0 step=1 %}

  <!-- Account form-->  
  <h1 class="fs-5 mt-4 mb-1">1. Create your account</h1>
  <p class="fs-6 text-secondary mb-3">
    <small>Initialize your account, an email is required.</small>
  </p>
  <form id="user-form" class="row mb-3">

    <!-- User image -->
    <div class="col-lg-6 text-center py-3 order-lg-2">
      <img
        src="{% if user.photo_url %}{{ user.photo_url }}{% else %}{% static "console/images/account/user.png" %}{% endif %}"
        style="height:200px;"
        class="user-photo-url rounded-circle pe-1"
        id="user-photo-url"
      >
      <input type="file" id="userPhotoUrl" multiple accept="image/*" class="visually-hidden">
      <button
        class="btn btn-sm position-absolute text-dark"
        onclick="cannlytics.settings.chooseUserPhoto()"
        type="button"
      >
        {% icon "image" %}
      </button>
    </div>

    <!-- Account fields -->
    <div class="col-lg-6">
      {% for item in get_started.user.fields %}        
        <div class="row mb-3">

          <!-- Field label -->
          <label
            for="input-{{ item.key }}"
            class="col-sm-2 col-form-label col-form-label-sm fs-6 pe-2"
          >
            {{ item.label }}
          </label>

          <!-- Field input -->
          <div class="col-sm-10">
            <input
              type="{{ item.type }}"
              class="form-control form-control-sm"
              id="input-{{ item.key }}"
              spellcheck="false"
              name="{{ item.key }}"
            >
          </div>

        </div>
      {% endfor %}

    </div><!-- End of account fields -->

  </form><!-- End of account form -->

  <!-- Options -->
  <div class="mb-5">
    <a class="btn btn-sm btn-sm-light btn-md-light me-2" href="/">Back</a>
    <a
      class="btn bg-gradient-green text-white btn-sm"
      onclick="cannlytics.dashboard.saveUserData('{{ request.GET.type }}');"
    >
      Next
    </a>
  </div>

{% endblock unit %}
{% block console_js %}
  <script>
    cannlytics.dashboard.initializeGetStarted('profile');
  </script>
{% endblock console_js %}
</html>
