<!doctype html>
<html>
  <!-- Cards -->
    <div class="row row-cols-2 justify-content-md-start">
      {% for item in index %}
        <div class="col-4 my-3"><!-- mx-2 my-3 -->
          <a href="./{{ item.product }}/get-started">
            <div
              class="card h-100 bg-transparent border-secondary rounded-3 shadow-hover px-0 py-2"
              style="max-width: 375px;"
            >
              <div class="row g-0">
                <div class="col-md-4 align-items-center justify-content-center d-flex py-3">
                  <img
                      class="mb-2"
                      src="{% static item.image_path %}"
                      width="60px"
                    >
                </div>
                <div class="col-md-8">
                  <div class="card-body bg-transparent">
                    <h5 class="card-title text-dark fs-4 fw-bold mb-0">{{ item.title }}</h5>
                    <p class="card-text text-secondary fs-6 large-line">
                      <small class="serif">{{ item.description }}</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div><!-- End of cards -->
</html>
