<!doctype html>
<html>
<!--
  Analytes Page | Cannlytics Console
  Created 6/19/2021
  Updated: 6/19/2021
  TODO:
   - Allow for labs to choose to make their analytes public,
    so that clients can find analytes they want to analyze.
  
  Fields:
    CAS
-->
{% extends "console/console.html" %}
{% load icon %}
{% block console_body %}
{% if section %}

  <!-- Detail page -->
  <!-- FIXME: Pass model ID -->
  {% include "console/pages/analytes/analyte.html" with id="" %}

{% else %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Analytes</h1>
      <div>
        <button
          class="btn btn-sm-light btn-md-light me-2"
          onclick="cannlytics.settings.importData('analytes');"
        >
          Import
        </button>
        <button
          class="btn btn-sm-light btn-md-light"
          onclick="cannlytics.settings.exportData('analytes');"
        >
          Export
        </button>
      </div>
    </div>

    <!-- Body -->
    <div class="analytes">

      <!-- Table -->
      <div class="card my-3">
        <div class="card-body">
          <h2 class="h6 mb-3 text-dark">Analytes</h2>
          <div class="table-responsive">

            <!-- Placeholder if no records -->
            {% if True %}
              {% include "console/components/placeholders/placeholder.html" with
                placeholder=analytes.placeholder
                only
              %}

            <!-- Client records table -->
            {% else %}
              <div id="analytes-table" class="ag-theme-alpine-dark d-none" style="height: 600px; width:100%;"></div>
            {% endif %}

          </div>
        </div>
      </div><!-- End of the table -->

    </div><!-- End of the body -->
    

  </main>
{% endif %}
{% endblock console_body %}

<!-- JavaScript -->
{% comment %} {% block console_js %}

  <script>
    cannlytics.analyses.initialize();
  </script>

{% endblock console_js %} {% endcomment %}
</html>
