<!doctype html>
<html>
<!--
  Analytes Page | Cannlytics Console
  Created 6/19/2021
  Updated: 6/19/2021
  TODO:
   - Allow for labs to choose to make their analytes public,
    so that clients can find analytes they want to analyze.
  
  Fields:
    CAS
-->
{% extends "console/console.html" %}
{% load icon %}
{% block console_body %}
{% if section %}

  <!-- Detail page -->
  <!-- FIXME: Pass model ID -->
  {% include "console/pages/analytes/analyte.html" with id=section %}

{% else %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Analytes</h1>
      <div>
        <button
          class="btn btn-sm-light btn-md-light me-2"
          onclick="cannlytics.settings.importData('analytes');"
        >
          Import
        </button>
        <button
          class="btn btn-sm-light btn-md-light me-2"
          onclick="cannlytics.settings.exportData('analytes');"
        >
          Export
        </button>
        <a
          id="new-button"
          class="btn btn-sm bg-gradient-green text-white"
          href="/analytes/new"
        >
          New
        </a>
      </div>
    </div>

    <!-- Body -->
    <div class="analytes">

      <!-- Placeholder if no data -->
      <div id="data-placeholder">
        {% include "console/components/placeholders/placeholder.html" with
          placeholder=analytes.placeholder
          only
        %}
      </div>

      <!-- AG Grid Table -->
      <div id="data-table" class="d-none">
        <div
          id="analytes-table"
          class="ag-theme-alpine-dark"
          style="height: 326px; width:100%;"
        ></div>
      </div>

    </div><!-- End of the body -->
    

  </main>
{% endif %}
{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}

  {% if not section %}
    <script>
      cannlytics.app.streamData('analytes', 'analyte');
    </script>
  {% endif %}

{% endblock console_js %}
</html>
