<!doctype html>
<html>
<!-- Get Started Page - Support | Cannlytics Console -->
<!-- Created 2/20/2021 -->
{% extends "./get-started.html" %}
{% load icon %}
{% block unit %}

  <!-- Header -->
  <div class="mt-5">
    <div class="simple-flex position-absolute end-0 me-5">
      <div class="fs-5 text-dark me-2">3/3</div>
      <button
        class="btn btn-sm btn-light text-dark"
        onclick="skipSupport();"
      >
        Skip
      </button>
    </div>
    <h1 class="fs-2">Choose your support</h1>
    <p class="fs-6 text-secondary">Get setup with support for a seamless experience.<p>
  </div>

  <!-- Selectable cards -->
  <!-- FIXME: Show shadow when selected | Have 'pro' selected by default -->
  <h1 class="h3 mt-5 mb-3">3. Choose your level of support</h1>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for item in get_started.pricing_tiers %}
      <div class="col">
        <div class="card support-card mb-4 shadow-hover" id="tier{{ item.name }}">
          <a
            class="card-block stretched-link text-decoration-none app-action"
            onclick="cannlytics.dashboard.selectSupportTier('{{ item.name }}');"
          >
            <div class="card-header bg-gradient-{{ item.color }}">
              <h4 class="font-weight-normal text-white my-0">
                {{ item.name }}
              </h4>
            </div>
            <div class="card-body">
              <h1 class="text-dark card-title pricing-card-title">
                {{ item.price }}
              </h1>
              <ul class="text-dark list-unstyled mt-3 mb-4">
                {% for attribute in item.attributes %}
                  <li class="fs-6 mb-1">
                    <small class="serif text-muted">
                      {{ attribute }}
                    </small>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div><!-- End of tiers -->

  <!-- Options -->
  <div class="mb-5">
    <a
      class="btn btn-secondary btn-sm"
      href="/get-started/organization/{% if request.GET.from %}?from={{ request.GET.from }}{% endif %}"
    >
      Back
    </a>
    <button
      class="btn bg-gradient-green text-white btn-sm"
      onclick="cannlytics.dashboard.saveSupport();"
    >
      Finish
    </button>
  </div>

{% endblock %}

{% block console_js %}
<script>
  
  function skipSupport() {
    /*
     * Navigate to the dashboard given a user, otherwise
     * create an anonymous user?
     */
    if (cannlytics.auth.currentUser()) {
      window.location.href = '/';
    } else {
      cannlytics.auth.anonymousSignIn().then(function() {
        window.location.href = '/';
      });
    }
  }

</script>
{% endblock %}
</html>
