<!doctype html>
<html>
<!--
  Area Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 5/7/2021
  Updated: 7/7/2021
-->
{% load icon %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    {% include "console/components/links/breadcrumbs.html" with
      base_page="Areas"
      base_page_url="/areas"
      current_page=id
    %}

    <!-- Title -->
    {% include "console/components/forms/form_title.html" with
      id=id
      model='areas'
      model_singular='area'
      description="Manage areas, where instruments, samples, and items are located."
      options=True
      export=id
    %}

    <!-- Fields -->
    <div class="mb-4 px-3">

      <!-- Form -->
      <form id="area-form">

        <!-- Dynamic fields -->
        {% include "console/components/forms/dynamic_form.html" with
          fields=areas.fields
        %}

        <!-- TODO: Show additional fields (traceability location fields) -->
        {% comment %} {% include "console/components/forms/additional_fields.html" %} {% endcomment %}

      </form>

    </div><!-- End of fields -->

    <!-- TODO: Try to implement add analytes with AG-Grid table -->
    

    <!-- Danger zone (delete) -->
    {% if id and id != 'new' %}
      {% include "console/components/forms/delete_option.html" with
        id=id
        model="areas"
        model_singular="area"
      %}
    {% endif %}

  </main>
{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>

    // Load the data into the user interface.
    cannlytics.ui.viewObject('area');

    // Render any date pickers.
    $('.datepicker').datepicker({ format: 'mm/dd/yyyy' });

  </script>
{% endblock console_js %}
</html>
