<!doctype html>
<html lang="en-US">
  <!-- Base Template | Cannlytics Website -->
  <!-- Created 1/7/2021 -->
  {% load static %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#281e52"/>
    <meta name="description" content="Super power your lab with free cannabis-testing software made with love and ready for you to plug and play or pop the hood and tinker to your heart's content.">
    <meta name="author" content="Keegan Skeate">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Icons and Manifest -->
    <link rel="icon" href="{% static 'cannlytics_website/images/favicon/cannlytics-icon.ico' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logos/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/logos/favicon-16x16.png' %}" sizes="16x16">
    <link rel="apple-touch-icon" href="{% static '/images/logos/apple-touch-icon.png' %}" sizes="180x180">
    <link rel="mask-icon" href="{% static '/images/logos/safari-pinned-tab.svg' %}" color="#e48632">
    <link rel="shortcut icon" href="{% static '/images/logos/favicon.ico' %}" type="image/x-icon">
    {% comment %} <link rel="manifest" href="{% static 'manifest.webmanifest' %}"> {% endcomment %}

    <!-- PRODUCTION: CDN Bootstrap stylesheet | DEV: Local Bootstrap stylesheet-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% comment %} <link href="{% static 'cannlytics_website/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css"> {% endcomment %}

    <!-- Cannlytics stylesheets -->
    <link href="{% static 'cannlytics_website/css/bundle.css'%}?{% now "U" %}" rel="stylesheet" type="text/css">

    <!-- Page-specific stylesheets -->
    {% block page_css %}{% endblock %}

    <!-- Optional: Migrate from jQuery to modern framework (Svelte?) -->
    <!-- PRODUCTION: CDN jQuery | DEV: Local jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'cannlytics_website/js/jquery.slim.min.js'%}"></script> {% endcomment %}

    <!-- Cannlytics module -->
    <script src="{% static 'cannlytics_website/js/bundle.js' %}?{% now 'U' %}"></script>

  </head>
  <body class="base">

    <!-- Page -->
    <div id="page">
      {% block page %}{% endblock %}
    </div>

    <!-- Login dialog -->
    {% include "cannlytics_website/components/dialogs/login_dialog.html" %}

    <!-- Cookie notification -->
    {% include "cannlytics_website/components/dialogs/cookie_notification.html" %}

    <!-- PRODUCTION: CDN Bootstrap JavaScript | DEV: Local Bootstrap JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'cannlytics_website/js/bootstrap.min.js'%}"></script> {% endcomment %}

    <!-- Feather Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

    <!-- Website JavaScript -->
    <script>
      cannlytics.website.initialize();
    </script>

    <!-- Page-specific JavaScript -->
    {% block page_js %}{% endblock page_js %}

  </body>
</html>
