<!doctype html>
<html>
<!-- Intake Page -->
<!-- Created 12/14/2020 -->
{% extends "cannlytics_console/console.html" %}
{% load icon %}
{% block console_body %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Intake</h1>
    </div>

    <!-- Chart -->
    <!-- https://stackoverflow.com/questions/20966817/how-to-add-text-inside-the-doughnut-chart-using-chart-js -->
    {% comment %} <div class="col-md-5">
      <canvas class="my-4 w-50" id="chartSamplesReceived" width="300" height="380"></canvas>
    </div> {% endcomment %}
    
    <!-- Transfers section -->
    <div class="row flex-wrap">

      <!-- Transfers Table -->
      <!-- TODO: Populate latest from organizations/{id}/transfers/{id}-->
      <div class="col-md-9">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <h2 class="h6 my-3">Transfers</h2>
          </div>
          <div class="d-flex align-items-center text-dark">
            <form
              id="search-transfers"
              class="d-flex px-2"
              role="search"
              style="width:unset;"
            >
              <input
                type="text"
                class="table-search-input form-control form-control-sm"
                placeholder="Search"
                aria-label="Search"
                name="transfer"
                style="width:unset;"
              >
              <button
                type="submit"
                id="search-transfers-button"
                class="nav-search-button btn btn-sm btn-default p-0"
                style="transform:translateX(-32px);width:0;"
              >
                {% icon "search" %}
              </button>
            </form>
            <div class="dropdown">
              <button
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                id="dropdown-time-transfers"
                class="btn btn-sm btn-outline-secondary dropdown-toggle"
              >
                This week
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdown-time-transfers">
                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">Yesterday</a></li>
                <li><a class="dropdown-item" href="#">Last 7 days</a></li>
                <li><a class="dropdown-item" href="#">Last 30 days</a></li>
                <li><a class="dropdown-item" href="#">Last 90 days</a></li>
                <li><a class="dropdown-item" href="#">Custom</a></li>
              </ul>
            </div>
            <a
              type="button"
              class="btn btn-sm btn-outline-secondary ml-2"
              href="/intake/transfer"
            >
              New
            </a>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Client</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>OpenTHC</td>
              <td>In-Transit</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>OpenTHC</td>
              <td>Received</td>
            </tr>
          </tbody>
        </table><!-- End of transfers table -->
      </div>

      <!-- Incoming samples graph -->
      <div class="col-sm-3">
        <canvas id="graph-progress" width="100" height="100"></canvas>
      </div>

    </div><!-- End of Transfers -->

    <!-- Projects / Samples / Batches Table -->
    <div class="col-md-12 mt-3">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="dropdown d-flex align-items-center px-2">
          <a
            class="h6 my-3 dropdown-toggle text-dark"
            id="dropdownSamplesTable"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            role="button"
            href="#"
          >
            Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownSamplesTable">
            <li><a class="dropdown-item" href="#">Samples</a></li>
            <li><a class="dropdown-item" href="#">Batches</a></li>
          </ul>
        </div>
        <div class="d-flex align-items-center text-dark">
          <form
            id="search-transfers"
            class="d-flex px-2"
            role="search"
            style="width:unset;"
          >
            <input
              type="text"
              class="table-search-input form-control form-control-sm"
              placeholder="Search"
              aria-label="Search"
              name="transfer"
              style="width:unset;"
            >
            <button
              type="submit"
              id="search-transfers-button"
              class="nav-search-button btn btn-sm btn-default p-0"
              style="transform:translateX(-32px);width:0;"
            >
              {% icon "search" %}
            </button>
          </form>
          <div class="dropdown">
            <button
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              id="dropdown-time-projects"
              class="btn btn-sm btn-outline-secondary dropdown-toggle"
            >
              This week
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-time-projects">
              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">Yesterday</a></li>
              <li><a class="dropdown-item" href="#">Last 7 days</a></li>
              <li><a class="dropdown-item" href="#">Last 30 days</a></li>
              <li><a class="dropdown-item" href="#">Last 90 days</a></li>
              <li><a class="dropdown-item" href="#">Custom</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary ml-2">
            New
          </button>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Client</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>OpenTHC</td>
            <td>In-Transit</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>OpenTHC</td>
            <td>Received</td>
          </tr>
        </tbody>
      </table><!-- End of projects/samples/batches table -->
    </div>

    <!-- Other intake options -->
    <h2 class="h6 mt-5 mb-0">Intake options</h2>
    <div class="list-group col-md-6 py-3">
      <a
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-dark"
        aria-current="true"
        href="/intake/templates"
      >
        Intake templates
        {% icon "chevron-right" %}
      </a>
    </div>

{% endblock console_body %}

<!-- Intake JavaScript -->
{% block console_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
  <script>
    cannlytics.intake.initialize();
  </script>
{% endblock console_js %}

</html>
