<!doctype html>
<html>
<!--
  Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 11/26/2020 Thanksgiving
  Updated: 7/14/2021
-->
{% extends "console/console.html" %}
{% block console_body %}
{% load icon static %}
  <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mx-auto">

    {% if user and organizations %}

      <!-- Toggle between grid and stats -->
      <div class="d-flex justify-content-end mt-3 px-4">
        <button
          class="btn btn-sm btn-sm-light p-1 text-secondary me-2"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="View apps"
        >
          <svg class="simple-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#ccc"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/></svg>
        </button>
        <!-- TODO: Implement stats -->
        {% comment %} <button
          class="btn btn-sm btn-sm-light p-1"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="View stats"
        >
          <svg class="simple-icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#ccc"><rect fill="none" height="24" width="24"/><g><path d="M19.88,18.47c0.44-0.7,0.7-1.51,0.7-2.39c0-2.49-2.01-4.5-4.5-4.5s-4.5,2.01-4.5,4.5s2.01,4.5,4.49,4.5 c0.88,0,1.7-0.26,2.39-0.7L21.58,23L23,21.58L19.88,18.47z M16.08,18.58c-1.38,0-2.5-1.12-2.5-2.5c0-1.38,1.12-2.5,2.5-2.5 s2.5,1.12,2.5,2.5C18.58,17.46,17.46,18.58,16.08,18.58z M15.72,10.08c-0.74,0.02-1.45,0.18-2.1,0.45l-0.55-0.83l-3.8,6.18 l-3.01-3.52l-3.63,5.81L1,17l5-8l3,3.5L13,6C13,6,15.72,10.08,15.72,10.08z M18.31,10.58c-0.64-0.28-1.33-0.45-2.05-0.49 c0,0,5.12-8.09,5.12-8.09L23,3.18L18.31,10.58z"/></g></svg>
        </button> {% endcomment %}
      </div>

      <!-- Main Dashboard -->
      <div class="row">

        <!-- Dashboard cards -->
        <div class="row row-cols-2 justify-content-md-start mb-5">
          {% for item in dashboard.cards %}
            <div class="col-6 col-lg-4 my-3">
              <a href="./{{ item.path }}">
                <div
                  class="card h-100 bg-transparent border-secondary rounded-3 shadow-hover px-0 py-2"
                  style="max-width: 375px;"
                >

                  <!-- Card image -->
                  <div class="">

                    <div class="float-start p-3">
                      <img
                          class="ma-2"
                          src="{% static item.image_path %}"
                          width="75px"
                        >
                    </div>

                    <!-- Card body -->
                    <div class="col">
                      <div class="card-body bg-transparent">
                        <h5 class="card-title text-dark text-no-wrap fs-5 mb-1">
                          {{ item.title }}
                        </h5>
                        <p class="card-text text-secondary fs-6 large-line">
                          <small class="serif tiny-text">{{ item.description }}</small>
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div><!-- End of cards -->
      </div><!-- End of row -->

    {% else %}

      <!-- New user dashboard -->
      <div class="mx-auto" style="max-width:760px;">

        <!-- Welcome message -->
        <div class="mt-5">
          <h1 class="fs-3">{{ dashboard.welcome_message.title }}</h1>
          <p class="fs-6 card-text text-secondary">{{ dashboard.welcome_message.message }}<p>

        </div>

        <!-- Getting-started cards -->
        <div class="row row-cols-1 row-cols-lg-2 g-4 mt-3 mb-5">
          {% for item in dashboard.organization_choices %}
            <div class="col-6 my-3">
              <div
                class="card h-100 bg-transparent border-secondary shadow-hover rounded-3 px-0 py-2"
                style="max-width:375px;"
              >
                <a
                  class="card-block stretched-link text-decoration-none"
                  href="/get-started/profile?type={{ item.type }}"
                >
                  <div class="card-body">
                    <h5 class="card-title text-dark fs-6">{{ item.title }}</h5>
                    <p class="card-text text-secondary fs-6">
                      <small class="serif tiny-text">{{ item.description }}</small>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div><!-- End of getting-started cards -->

      </div><!-- End of new user message -->
    {% endif %}

  </main>
  
{% endblock %}

</html>
