<!doctype html>
<html>
<!--
  Analytics Page | Cannlytics Console
  Created: 8/1/2021
  Updated: 8/1/2021
-->
{% extends "console/console.html" %}
{% load icon %}
{% block title %}Analytics | Cannlytics{% endblock title %}
{% block console_body %}

<!-- Page -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  <!-- Header -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="fs-5 mb-0 lh-base">Analytics</h1>
  </div>

  <!-- Body -->
  <div class="analytics">

    <!-- Tabs -->
    <ul class="nav nav-tabs mt-3">
      <li class="nav-item">
        <a
          class="nav-link {% if not section %}active{% endif %}"
          aria-current="page"
          href="/analytics"
        >
          General statistics
        </a>
      </li>
      {% comment %} <li class="nav-item">
        <a
          class="nav-link {% if not section %}active{% endif %}"
          aria-current="page"
          href="/analytics"
        >
          Financial Projections
        </a>
      </li> {% endcomment %}
    </ul>

    <!-- TODO: Dynamic material -->
    
    <!-- TODO: General stats -->

    <!-- Sponsorship placeholder -->
    <div class="card bg-light rounded p-3 my-5 mx-auto" style="max-width:420px;">
      <h5 class="text-dark mb-3">Sponsorhip Required</5>
      <p class="text-secondary fs-6">
        <small>Rich analytics takes time and money to develop. Please consider making a donation
        to help us reach our funding requirement sooner so that we can offer this feature to you.</small>
      <p>
      <h6 class="text-dark fw-bold">Goal: $2,000
      <div class="progress mt-2">
        <div
          class="progress-bar bg-gradient-green"
          role="progressbar"
          style="width: 24.25%;"
          aria-valuenow="24.25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          $485 funded
        </div>
      </div>
      <a
        class="btn btn-sm bg-gradient-green text-white mt-3"
        href="https://opencollective.com/cannlytics-company"
        target="_blank"
      >
        👐 Become a sponsor
      </a>
    </div>

  </div><!-- End of the body -->

</main><!-- End of the page -->

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}

  <script>

    // Initialize any JavaScript
    cannlytics.analytics.initialize();

    // Define a utility function
    function clearForm() {
      /*
       * Clear the form.
       */
      document.getElementById('output').classList.add('d-none');
      document.getElementById('analytics-form').reset();
    }

  </script>

{% endblock console_js %}
</html>
