<!doctype html>
<html>
<!--
  Inventory Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 12/18/2020
  Updated: 6/22/2021
  TODO:
    - Add fields:
      Container
      Container Type
      Invoice
      Purchase Order
      vendor
      vendor contact
  Wishlist:
    - Items, areas, logs
-->
{% extends "console/console.html" %}
{% load icon %}
{% block title %}{% if section %}{{ section }} | {% endif %}Inventory | Cannlytics {% endblock title %}
{% block console_body %}

{% if section %}

  <!-- Detail page -->
  {% include "console/pages/inventory/item.html" with id=section %}

{% else %}

  <!-- List -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    {% include "console/components/tables/table_options.html" with
      model='inventory'
      model_singular='item'
    %}

    <!-- Body -->
    <div class="inventory">

      <!-- Loading placeholder -->
      <div id="loading-placeholder">
        {% include "console/components/placeholders/loading_placeholder.html" with
          height='326px'
          width='100%'
          only
        %}
      </div>

      <!-- No-data Placeholder -->
      <div id="data-placeholder" class="d-none">
        {% include "console/components/placeholders/placeholder.html" with
          placeholder=inventory.placeholder
          only
        %}
      </div>

      <!-- AG Grid Table -->
      <div id="data-table" class="d-none">  .

        <!-- TODO: Advanced search -->
        {% comment %} {% include "console/components/tables/advanced_search.html" with
          model='inventory'
          model_singular='item'
        %} {% endcomment %}

        <div
          id="inventory-table"
          class="ag-theme-alpine-dark"
          style="height: 326px; width:100%;"
        ></div>
      </div>

    </div><!-- End of the body -->

  </main>
{% endif %}

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}

  {% if not section %}
    <script>
      cannlytics.app.streamData('inventory', 'item', '{{ organizations.0.organization_id }}');
    </script>
  {% endif %}

{% endblock console_js %}
</html>
