<!doctype html>
<html>
<!--
  Inventory Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 12/18/2020
  Updated: 7/6/2021
  TODO:
    - Add fields:
      Container
      Container Type
      Invoice
      Purchase Order
      vendor
      vendor contact
  Wishlist:
    - Items, areas, logs
-->
{% extends "console/console.html" %}
{% load icon %}
{% block title %}{% if section == 'new' %}New | {% elif section %}{{ section }} | {% endif %}Inventory | Cannlytics {% endblock title %}
{% block console_body %}
{% if section and section not in 'logs,files,certifiates' %}

  <!-- Detail page -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    {% include "console/pages/inventory/item.html" with
      id=section
      data_model=data_model
    %}
  </main>

{% else %}

  <!-- List -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h1 class="fs-5 mb-0 lh-base">Inventory</h1>
    </div>

    <!-- Body -->
    <div class="inventory">

      <!-- Tabs -->
      {% include "console/components/forms/form_tabs.html" with
        model="inventory"
      %}
    
      <!-- Logs -->
      {% if section == 'logs' %}
        {% include "console/pages/settings/logs/logs.html" with
          model='inventory'
          model_singular='item'
          organizations=organizations
          section=section
          user=user
        %}

      <!-- Files -->
      {% elif section == 'files' %}
        {% include "console/pages/settings/files/files.html" with
          model='inventory'
          model_singular='item'
          organizations=organizations
          section=section
          user=user
        %}

      <!-- Table -->
      {% else %}

        <!-- Options -->
        {% include "console/components/tables/simple_table_options.html" with
          model='inventory'
          model_singular='item'
          limit=1000
        %}

        <!-- Loading placeholder -->
        <div id="loading-placeholder">
          {% include "console/components/placeholders/loading_placeholder.html" with
            height='350px'
            width='100%'
            only
          %}
        </div>

        <!-- No-data Placeholder -->
        <div id="data-placeholder" class="d-none">
          {% include "console/components/placeholders/placeholder.html" with
            placeholder=inventory.placeholder
            only
          %}
        </div>

        <!-- AG Grid Table -->
        <div id="data-table" class="d-none">
          <div
            id="inventory-table"
            class="ag-theme-alpine-dark"
            style="height: 350px; width:100%;"
          ></div>
        </div>

      {% endif %}

    </div><!-- End of the body -->

  </main>
{% endif %}

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}

  {% if not section %}
    <script>
      cannlytics.app.awaitStreamData('inventory', 'item', '{{ organizations.0.organization_id }}', 1000);
    </script>
  {% endif %}

{% endblock console_js %}
</html>
