<!doctype html>
<html>
<!--
  Inventory Item Page | Cannlytics Console
  Created 6/22/2020
  Updated: 7/11/2021
-->
{% load icon %}
{% block console_css %}

  <!-- AG-Grid CSS and JavaScript -->
  {% include "console/components/tables/ag_grid_scripts.html" %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock console_css %}
{% block console_body %}

  <!-- Header -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 mt-2 border-bottom border-secondary">
    {% include "console/components/links/breadcrumbs.html" with
      base_page="Inventory"
      base_page_url="/inventory"
      current_page=id
    %}
  </div>

  <!-- Tabs -->
  {% if id and id != 'new' %}
    {% include "console/components/forms/form_tabs.html" with
        id=id
        model="inventory"
      %}
  {% endif %}

  <!-- Files page -->
  {% if unit == 'files' %}
    {% include "console/pages/settings/files/files.html" with
      model='inventory'
      model_singular='item'
      organizations=organizations
      section=section
      user=user
    %}
  
  <!-- Logs page -->
  {% elif unit == 'logs' %}
    {% include "console/pages/settings/logs/logs.html" with
      model='inventory'
      model_singular='item'
      organizations=organizations
      section=section
      user=user
    %}

  {% else %}

    <!-- Title -->
    {% include "console/components/forms/form_title.html" with
      abbreviation=data_model.abbreviation
      id=id
      model='inventory'
      model_singular='item'
      description="Manage inventory items."
      options=True
      export=id
    %}

    <!-- Form -->
    <div class="mb-4 px-3">
      <form id="item-form">
        {% include "console/components/forms/dynamic_form.html" with
          fields=data_model.fields
        %}
        <!-- TODO: Show additional fields (traceability fields) -->
        {% comment %} {% include "console/components/forms/additional_fields.html" %} {% endcomment %}
      </form>

    </div>

    <!-- Danger zone (delete) -->
    {% if id and id != 'new' %}
      {% include "console/components/forms/delete_option.html" with
        id=id
        model="inventory"
        model_singular="item"
      %}
    {% endif %}
    
  {% endif %}

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>

    // Load the data into the user interface.
    cannlytics.ui.viewObject('item');

  </script>
{% endblock console_js %}
</html>
