<!doctype html>
<html>
  <!-- Login Dialog -->
  <!-- Created 1/24/20201 -->
  {% load static %}

  <!-- Login Style -->
  <style>
    #google-signin {
      background: url({% static 'cannlytics_website/images/logos/signin-assets/btn_google_signin_dark_normal_web@2x.png' %});
      width: 191px;
      height: 46px;
      background-size: contain;
    }
    #google-signin:hover {
      background: url({% static 'cannlytics_website/images/logos/signin-assets/btn_google_signin_dark_focus_web@2x.png' %});
      width: 191px;
      height: 46px;
      background-size: contain;
    }
    #google-signin:active {
      background: url({% static 'cannlytics_website/images/logos/signin-assets/btn_google_signin_dark_pressed_web@2x.png' %});
      width: 191px;
      height: 46px;
      background-size: contain;
    }
  </style>

  <!-- Modal -->
  <div
    class="modal fade"
    id="login-dialog"
    tabindex="-1"
    aria-labelledby="login-dialog-label"
    aria-hidden="false"
  >
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Dialog header -->
        <div class="modal-header bg-light no-border">
          <div class="d-flex align-items-center">
            <img
              src="{% static 'cannlytics_website/images/logos/cannlytics_calyx_detailed.svg' %}"
              height="32px"
              style="transform:translateY(-6px)"
              class="me-2"
            >
            <h5
              id="login-dialog-label"
              class="modal-title text-dark serif h5"
            >
              Login
            </h5>
          </div>
          <button type="button" class="btn-close btn-sm light-only" data-bs-dismiss="modal" aria-label="Close"></button>
          <button type="button" class="btn-close btn-sm btn-close-white dark-only" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Dialog body -->
        <div class="modal-body">
          <div class="col">

            <!-- Email Field -->
            <div class="fieldWrapper">
              <div class="form-label-group">
                <input
                  name="email"
                  type="email"
                  id="login-email"
                  class="form-control"
                  placeholder="Email address"
                  required
                  autofocus
                  spellcheck="false"
                >
                <label for="login-email">Email address</label>
              </div>
            </div>

            <!-- Password Field -->
            <div class="fieldWrapper">
              <div class="form-label-group">
                <input
                  name="password"
                  type="password"
                  id="login-password"
                  class="form-control"
                  placeholder="Password"
                  required
                  autofocus
                >
                <label for="login-password">Password</label>
              </div>
            </div>

            <!-- Options -->
            <div class="d-flex justify-content-between">

              <!-- Reset Password -->
              <a
                href="https://console.cannlytics.com/account/password-reset/"
                class="text-dark"
              >
                Lost password?
              </a>
            
            </div><!-- End of Options -->

            <!-- Sign In -->
            <button
              class="w-100 btn btn-success mt-3"
              type="button"
              onclick="cannlytics.auth.signIn()"
            >
              Sign In
            </button>

            <!-- Or -->
            <div class="text-dark text-center my-3">
              &mdash;&nbsp;or&nbsp;&mdash;
            </div>

            <!-- Google Sign In -->
            <div class="d-grid gap-2 justify-content-center">
              <a id="google-signin" class="app-action" onclick="cannlytics.auth.googleSignIn()"></a>
            </div>
            <img style="display:none;" src="{% static 'cannlytics_website/images/logos/signin-assets/btn_google_signin_dark_focus_web@2x.png' %}"/>
            <img style="display:none;" src="{% static 'cannlytics_website/images/logos/signin-assets/btn_google_signin_dark_pressed_web@2x.png' %}"/>

            <!-- Sign Up -->
            <p class="text-dark text-center h6 font-weight-light mt-5">
              <small>New to Cannlytics?
                <a
                  class="text-dark"
                  href="https://console.cannlytics.com/account/sign-up/"
                >
                  <b>Sign up!</b>
                </a>
              </small>
            </p>
          </div>
        </div><!-- End of dialog body -->


      </div>
    </div>
  </div><!-- End of modal -->

</html>
