<!doctype html>
<html>
<!--
  Projects | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 4/24/2021
  Updated: 6/8/2021
-->
{% extends "console/console.html" %}
{% load static icon %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Projects</h1>
    </div>

    <!-- Body -->
    <div class="card my-3">
      <div class="card-body">

        <!-- Table -->
        <div class="my-3 px-3">
          <h2 class="h6 mb-3 text-dark">Projects</h2>
          <div class="table-responsive">

            <!-- Placeholder if no data -->
            <div id="data-placeholder">
              {% include "console/components/placeholders/table_placeholder.html" with
                action='Create a project'
                height='200px'
                image='console/images/illustrations/outline/lab_books.svg'
                message="No current projects, you're all caught up."
                title='No Current Projects'
                url='/projects/project?new=true'
                only
              %}
            </div>

            <!-- AG Grid Table -->
            <div id="data-table" class="d-none">
              <div
                id="projects-table"
                class="ag-theme-alpine-dark"
                style="height: 326px; width:100%;"
              ></div>
            </div>

          </div>
        </div><!-- End of the table -->
      
      </div>
    </div>

    </div>
  </main>
{% endblock console_body %}
{% block console_js %}{% endblock console_js %}
</html>
