<!doctype html>
<html>
<!--
  Project Page | Cannlytics Console
  Created: 6/18/2021
  Updated: 6/18/2021
-->
{% extends "console/console.html" %}
{% load icon %}
{% block console_body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  <!-- Header -->
  <div class="px-3">
    <h1 class="fs-5 lh-base text-dark mb-0 mt-3">Project {{ request.GET.id }}</h1>
    <h2 class="fs-6 lh-base text-secondary mb-3">
      Manage projects for your organization and your organization's contacts.
    </h2>
  </div>

  <!-- Fields -->
  <div class="mb-4 px-3">

    <!-- Form -->
    <form id="project-form">
      <div class="col-6">

        <!-- Field -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label col-3 d-flex align-items-center mb-0">
            Project ID
          </label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="project_id"
            style="max-width:120px;"
            disabled
          >
        </div>

      </div>
    </form>

    <!-- TODO: Allow the user to reset, save (update and create), and delete -->
    <!-- Options -->
    <div class="mt-3">
      <a
        class="btn btn-sm btn-sm-light btn-md-light me-2"
        href="/projects"
      >
        Back
      </a>
      <button
        class="btn btn-sm bg-gradient-green text-white"
        onclick="cannlytics.projects.saveProject();"
      >
        Save
      </button>
    </div>

  </div><!-- End of fields -->

  <!-- Table container -->
    <div class="card my-3">
      <div class="card-body">

        <!-- Table -->
        <div class="my-3 px-3">
          <h2 class="h6 mb-3 text-dark">Samples</h2>
          <div class="table-responsive">

            <!-- Placeholder if no data -->
            <div id="data-placeholder">
              {% include "console/components/placeholders/table_placeholder.html" with
                action='Add a sample'
                height='100px'
                image='console/images/icons/two-tone/two_tone_bottle.svg'
                message="No samples for this project. Start adding samples to create a group of samples for a specific organization."
                title='No Samples Added'
                url='/projects/{{ request.GET.id }}/samples/sample?new=true'
                only
              %}
            </div>

            <!-- AG Grid Table -->
            <div id="data-table" class="d-none">
              <div
                id="samples-table"
                class="ag-theme-alpine-dark"
                style="height: 326px; width:100%;"
              ></div>
            </div>

          </div>
        </div><!-- End of the table -->
      
      </div>
    </div><!-- End of table container -->

  <!-- Danger zone -->
  {% if request.GET.id %}
  <div class="card bg-transparent border-danger my-5 mx-3">
    <div class="card-body text-dark">
      <div class="d-flex">
        <div class="col"> 
          <h5 class="card-title fs-6">Delete this project</h5>
          <p class="card-text fs-6">
            <small>Once deleted, it will be gone forever. Please be certain.</small>
          </p>
        </div>
        <div class="d-flex align-items-center">
          <button
            onclick="cannlytics.projects.deleteProject();"
            class="btn btn-sm btn-light text-danger"
          >
            <b>Delete project</b>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</main>
{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>
    cannlytics.projects.viewProject();
  </script>
{% endblock console_js %}

</html>
