<!doctype html>
<html>
<!--
  Projects | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 4/24/2021
  Updated: 6/22/2021
-->
{% extends "console/console.html" %}
{% load static icon %}
{% block console_body %}
{% if section %}

  <!-- Detail page -->
  <!-- FIXME: Pass model ID -->
  {% include "console/pages/projects/project.html" with id="" %}

{% else %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Projects</h1>
      <div>
        <button
          class="btn btn-sm-light btn-md-light me-2"
          onclick="cannlytics.settings.importData('projects');"
        >
          Import
        </button>
        <button
          class="btn btn-sm-light btn-md-light"
          onclick="cannlytics.settings.exportData('projects');"
        >
          Export
        </button>
      </div>
    </div>

    <!-- Body -->
    <div class="card my-3">
      <div class="card-body">

        <!-- Table -->
        <div class="my-3 px-3">
          <h2 class="h6 mb-3 text-dark">Projects</h2>
          <div class="table-responsive">

            <!-- Placeholder if no data -->
            <div id="data-placeholder">
              {% include "console/components/placeholders/table_placeholder.html" with
                action='Create a project'
                height='200px'
                image='console/images/illustrations/outline/lab_books.svg'
                message="No current projects, you're all caught up."
                title='No Current Projects'
                url='/projects/new'
                only
              %}
            </div>

            <!-- AG Grid Table -->
            <div id="data-table" class="d-none">
              <div
                id="projects-table"
                class="ag-theme-alpine-dark"
                style="height: 326px; width:100%;"
              ></div>
            </div>

          </div>
        </div><!-- End of the table -->
      
      </div>
    </div>

    </div>
  </main>
{% endif %}
{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
{% if not section %}
  <script>

    // Get data from the API.
    cannlytics.api.get('projects', null, { params: { limit: 100 } })
      .then(function(response) {

        var data = response.data;
        console.log('DEV: Render data:', data);
        if (!data) return;

        // Show the table.
        document.getElementById('data-placeholder').classList.add('d-none');
        document.getElementById('data-table').classList.remove('d-none');

        // Define the columns for the table.
        const columnDefs = [
          { field: 'project_id', headerName: 'Project ID', sortable: true, filter: true },
        ];

        // Specify the table options.
        const gridOptions = {
          columnDefs: columnDefs,
          pagination: true,
          paginationAutoPageSize: true,
          suppressRowClickSelection: false,
          onRowClicked: event => cannlytics.ui.openObject(
            'projects',
            'project',
            event,
          ),
          onGridReady: event => cannlytics.theme.toggleTheme(cannlytics.theme.getTheme()),
        };

        // Render the table
        const eGridDiv = document.querySelector('projects-table');
        new agGrid.Grid(eGridDiv, gridOptions);
        gridOptions.api.setRowData(data);

      });

  </script>
{% endif %}
{% endblock console_js %}
</html>
