<!doctype html>
<html>
<!-- Password Reset Change Page -->
<!-- Created 12/5/2020 -->
{% extends "./base_sign_in.html" %}
{% block title %} Password Change Complete | Cannlytics {% endblock %}
{% block login_form %}
  <div class="text-center">

    <!-- Message -->
    <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Password Changed</h1>
    <h2 class="fs-6 lh-base text-secondary mb-3">Password reset change complete.</h2>

    <!-- Option -->
    <a
      class="btn btn-sm bg-gradient-green text-white"
      style="width: 191px;"
      type="button"
      href="/account/sign-in"
    >
      Sign In
    </a>

  </div>
{% endblock %}
</html>