<!doctype html>
<html>
<!-- Sign Up Page -->
{% extends "./base_sign_in.html" %}

{% block login_form %}

  <!-- Message -->
  <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Reset Password</h1>
  <h2 class="fs-6 lh-base text-secondary mb-3">Get a password reset email sent to you.</h2>

  <!-- Fields -->
  <div class="mb-3 row">
    <label
      for="login-email"
      class="col-sm-2 col-form-label col-form-label-sm pe-2"
    >
      Email
    </label>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control form-control-sm"
        id="login-email"
        required
        autofocus
        spellcheck="false"
      >
    </div>
  </div>

  <!-- Action -->
  <div class="d-flex justify-content-end w-100 mt-3">
    <button
      class="ms-1 btn btn-sm bg-gradient-green text-white"
      style="max-width:250px;"
      type="button"
      onclick="cannlytics.auth.resetPassword()"
    >
      Reset Password
    </button>
  </div>

  <!-- Back button -->
  <div class="d-flex align-items-center justify-content-center">
    <div
      class="d-flex flex-column align-items-start justify-content-center mt-5"
    >
      <p class="text-center text-small fs-6 font-weight-light">
        <a class="text-dark fs-6" href="/account/sign-in">
          <small><b>&larr; Login</b></small>
        </a>
      </p>
    </div>
  </div>

{% endblock %}
</html>
