<!doctype html>
<html>
  <!-- Password Reset Change Page -->
  <!-- Created 12/5/2020 -->
  {% extends "./base_sign_in.html" %}
  {% block title %} Change Password | Cannlytics {% endblock %}
  {% block login_form %}

    <!-- Invalid Code Message -->
    <div id="password-reset-code-invalid-message" class="d-none">
      <p class="text-dark fs-6 mt-5 mb-3">
        Your password reset link is no longer valid.
        Please request a new password reset link.
      </p>
      <div class="d-flex justify-content-between w-100">
        <div></div>
        <a
          class="ms-1 btn bg-gradient-green text-white"
          style="max-width:250px;"
          type="button"
          href="./password-reset"
        >
          Reset Password
        </a>
      </div>
    </div>

    <!-- Form -->
    <div id="password-reset-form" class="text-center mt-5">

      <!-- Message-->
      <p class="h6 font-weight-light serif text-center mb-4">
        Don't panic. Change your password.
      </p>

      <!-- Email -->
      <div class="mb-3 row">
        <label
          for="login-email"
          class="col-sm-2 col-form-label pe-2 fs-6"
        >
          Email
        </label>
        <div class="col-sm-10 text-left fs-6 text-dark d-flex align-items-center">
          <span id="user-email"></span>
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-3 row">
        <label
          for="login-password"
          class="col-sm-2 col-form-label pe-2 fs-6"
        >
          Password
        </label>
        <div class="col-sm-10">
          <input
            autocomplete="new-password"
            type="password"
            class="form-control"
            id="login-password"
            required
          >
        </div>
      </div>

      <!-- Confirm Password Field -->
      <div class="mb-3 row">
        <label
          for="login-password-confirmation"
          class="col-sm-2 col-form-label pe-2 fs-6"
        >
          Confirm
        </label>
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="login-password-confirmation"
            required
          >
        </div>
      </div>

      <!-- Options -->
      <div class="d-flex justify-content-between w-100 mt-4">
        <div class="d-flex align-items-center">
          <p class="text-center h6 font-weight-light mb-0">
            <a class="text-dark fs-6" href="/account/sign-in">
              &larr; Login
            </a>
          </p>
        </div>
        <button
          class="ms-1 btn bg-gradient-green text-white"
          style="max-width:250px;"
          type="button"
          onclick="cannlytics.auth.resetPassword()"
        >
          Change Password
        </button>
      </div>

    </div>
  {% endblock %}

  <!-- TODO: Implement Password Change Functionality -->

</html>