<!doctype html>
<html>
  <!-- Password Reset Change Page -->
  <!-- Created 12/5/2020 -->
  {% extends "./base_sign_in.html" %}
  {% block title %} Change Password | Cannlytics {% endblock %}
  {% block login_form %}

    <!-- Invalid Code Message -->
    <div id="password-reset-code-invalid-message" class="d-none">
      <p class="text-dark fs-6 mt-5 mb-3">
        Your password reset link is no longer valid.
        Please request a new password reset link.
      </p>
      <div class="d-flex justify-content-between w-100">
        <div></div>
        <a
          class="ms-1 btn bg-gradient-green text-white"
          style="max-width:250px;"
          type="button"
          href="./password-reset"
        >
          Reset Password
        </a>
      </div>
    </div>

    <!-- Form -->
    <div id="password-reset-form" class="mt-5">

      <!-- Message -->
      <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Change Your Password</h1>
      <h2 class="fs-6 lh-base text-secondary mb-3">Don't panic. Change your password.</h2>

      <!-- Email -->
      <div class="mb-3 row">
        <label
          for="login-email"
          class="col-sm-2 col-form-label pe-2"
        >
          Email
        </label>
        <div class="col-sm-10 text-left text-dark d-flex align-items-center">
          <span id="login-email"></span>
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-3 row">
        <label
          for="login-password"
          class="col-sm-2 col-form-label col-form-label-sm pe-2"
        >
          Password
        </label>
        <div class="col-sm-10">
          <input
            autocomplete="new-password"
            type="password"
            class="form-control form-control-sm"
            id="login-password"
            required
          >
        </div>
      </div>

      <!-- Confirm Password Field -->
      <div class="mb-3 row">
        <label
          for="login-password-confirmation"
          class="col-sm-2 col-form-label col-form-label-sm pe-2"
        >
          Confirm
        </label>
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control form-control-sm"
            id="login-password-confirmation"
            required
          >
        </div>
      </div>

      <!-- Options -->
      <div class="d-flex justify-content-end w-100 mt-4">
        {% comment %} <div class="d-flex align-items-center">
          <p class="text-center h6 font-weight-light mb-0">
            <a class="text-dark fs-6" href="/account/sign-in">
              &larr; Login
            </a>
          </p>
        </div> {% endcomment %}
        <button
          class="ms-1 btn btn-sm bg-gradient-green text-white"
          style="max-width:250px;"
          type="button"
          onclick="cannlytics.auth.resetPasswordConfirm()"
        >
          Change Password
        </button>
      </div>

      <!-- Back button -->
      <div class="d-flex align-items-center justify-content-center">
        <div
          class="d-flex flex-column align-items-start justify-content-center mt-5"
        >
          <p class="text-center text-small fs-6 font-weight-light">
            <a class="text-dark fs-6" href="/account/sign-in">
              <small><b>&larr; Login</b></small>
            </a>
          </p>
        </div>
      </div>

    </div>
  {% endblock %}

  <!-- TODO: Implement Password Change Functionality -->

</html>