<!doctype html>
<html>
  <!-- Sign Up Page -->
  <!-- Created 2/13/2021 -->
  {% extends "./base_sign_in.html" %}

  {% block login_form %}

    <!-- Message -->
    <p class="font-weight-light mb-4 fs-6 mt-5">
      
    </p>

    <!-- Message -->
    <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Create an Account</h1>
    <h2 class="fs-6 lh-base text-secondary mb-3">Sign up with a secure email and password.</h2>

    <!-- Email -->
    <div class="mb-3 row">
      <label
        for="login-email"
        class="col-sm-2 col-form-label col-form-label-sm"
      >
        Email
      </label>
      <div class="col-sm-10">
        <input
          type="email"
          class="form-control form-control-sm"
          id="login-email"
          required
          autofocus
          spellcheck="false"
        >
      </div>
    </div>

    <!-- Password -->
    <div class="mb-3 row">
      <label
        for="login-password"
        class="col-sm-2 col-form-label col-form-label-sm"
      >
        Password
      </label>
      <div class="col-sm-10">
        <input
          autocomplete="new-password"
          type="password"
          class="form-control form-control-sm"
          id="login-password"
          required
        >
      </div>
    </div>

    <!-- Agree to terms of use -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="login-terms-accepted">
      <label class="form-check-label fs-6" for="login-terms-accepted"><small>
        Do you agree to our 
        <a href="https://docs.cannlytics.com/about/terms-of-service" target="_blank">terms of service</a>
        and that you have read our
        <a href="https://docs.cannlytics.com/about/privacy-policy" target="_blank">privacy policy</a>
        and
        <a href="https://docs.cannlytics.com/about/security-policy" target="_blank">security policy</a>?
      </small></label>
    </div>

    <!-- TODO: Add reCaptcha -->

    <!-- Sign up -->
    <div class="d-flex justify-content-end w-100 mt-3">
      <div>
        <button
          id="sign-up-button"
          class="ms-1 btn btn-sm btn-set-width bg-gradient-green text-white"
          style="max-width:250px;"
          type="button"
          onclick="cannlytics.auth.signUp(event)"
        >
          Sign Up
        </button>
        <button
          id="sign-up-loading-button"
          class="ms-1 btn btn-sm btn-set-width bg-gradient-green text-white d-none"
          type="button"
          disabled
        >
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <!-- Back button -->
    <div class="d-flex align-items-center justify-content-center">
      <div
        class="d-flex flex-column align-items-start justify-content-center mt-5"
      >
        <p class="text-center text-small fs-6 font-weight-light">
          <a class="text-dark fs-6" href="/account/sign-in">
            <small><b>&larr; Login</b></small>
          </a>
        </p>
      </div>
    </div>

    <!-- JavaScript to add actions to inputs -->
    <script>
      var node = document.getElementById('login-password');
      node.addEventListener('keyup', function(event) {
        if (event.key === 'Enter') {
          cannlytics.auth.signUp(event);
        }
      });
    </script>

  {% endblock %}
</html>
