<!doctype html>
<html>
<!--
  Sign Up Complete Page | Cannlytics Console
  Created 12/5/2020
  Updated: 6/23/2021
-->
{% extends "./base_sign_in.html" %}

{% block login_form %}

  <!-- Body -->
  <div class="text-center">

    <!-- Message -->
    <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Account Created</h1>
    <h2 class="fs-6 lh-base text-secondary mb-3">
      Sign up successful and verification email sent.
      You can be as productive as possible by verifying your email.
    </h2>

    <!-- Option -->
    <a
      class="btn btn-sm bg-gradient-green text-white"
      style="width: 191px;"
      type="button"
      href="/account/sign-in"
    >
      Sign In
    </a>

  </div>

{% endblock %}

</html>
