# Python Requirements | Cannlytics
# Created 3/14/2022
# Updated: 9/2/2022

beautifulsoup4
firebase_admin
fredapi
google-cloud-secret-manager
google-cloud-firestore
googlemaps
matplotlib
numpy
openpyxl
opencv-python
pandas
pdfplumber
PyPDF2
pytesseract
python-dateutil
python-dotenv
pyzbar
selenium
statsmodels
ulid-py
zipcodes

# FIXME:
# ocean-lib # Breaks App Engine deployments.

# Optional:
# xlwings # Breaks App Engine deployments.
