# Python Requirements | Cannlytics
# Created 3/14/2022
# Updated: 4/16/2023

beautifulsoup4
firebase-admin
fredapi
google-cloud-secret-manager
google-cloud-firestore
googlemaps
matplotlib
numpy
openpyxl
opencv-python
pandas
pdfplumber
Pillow
pypdf
pytesseract
python-dateutil
python-dotenv
pyzbar
selenium
statsmodels
Wand
ulid-py
zipcodes
