# Python Requirements | Cannlytics
# Created 3/14/2022
# Updated: 7/16/2022

beautifulsoup4
firebase_admin
fredapi
google-cloud-secret-manager
google-cloud-firestore
googlemaps
matplotlib
numpy
opencv-python
openpyxl
pandas
python-dateutil
python-dotenv
pyzbar
statsmodels
ulid-py

# FIXME:
# ocean-lib # Breaks App Engine deployments.

# Optional:
# xlwings # Breaks App Engine deployments.
