<!doctype html>
<html>
  <!-- Events Page -->
  <!-- Created 2/3/2021 -->
  {% extends "cannlytics_website/index.html" %}
  {% block title %}Events | {{ general.title }}{% endblock %}
  {% block material %}

    <!-- Hero Banner -->
    {% include "cannlytics_website/components/heros/hero_banner.html" with
      title='Events'
      description='Join a group of like-minded individuals who are interested in learning about how to apply data science to cannabis data.'
      primary_action='Join now'
      primary_action_url='https://www.meetup.com/cannabis-data-science/events/276156927/'
      secondary_action='Archive'
      secondary_action_url='/events/archive/'
      only
    %}

    <!-- Events List -->
    <div class="album py-5 my-5">
      <div class="container">
        {% for item in events %}
          <div
            class="row featurette"
            style="{% if forloop.counter|divisibleby:2 %}margin-top:10rem;margin-bottom:10rem;{% endif %}"
          >
            <div class="col-md-6 {% if forloop.counter|divisibleby:2 %}order-md-2{% endif %}">
              <h2 class="featurette-heading display-4 serif large-line text-dark mt-0">
                {{ item.name }}
              </h2>
              <p class="text-secondary fs-5 double-line my-4">
                {{ item.description }}
              </p>
            </div>
            <div class="col col-md-6 d-flex justify-content-center {% if forloop.counter|divisibleby:2 %}order-md-1 ps-0 pe-5 {% else %}ps-5{% endif %}">
              <figure class="figure">
                <a href="{{ item.url }}">
                  <img
                    src="{{ item.image }}"
                    class="figure-img img-fluid rounded shadow"
                    style="max-height:420px;max-width:100%;"
                  >
                </a>
                <figcaption class="figure-caption">
                  <div>When: {{ item.date }} {{ item.time }}</div>
                  <div>Price: {{ item.price }}</div>
                  <a
                    class="btn btn-large bg-gradient-green text-white mb-5 mt-2"
                    href="{{ item.url }}"
                  >
                    Register
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
        {% endfor %}
      </div>
    </div><!-- End of Events List -->

  {% endblock %}

  <!-- Events JavaScript -->
  {% block page_js %}
    <script type="text/javascript">
      cannlytics.website.logPromo();
    </script>
  {% endblock page_js %}

</html>
