<!doctype html>
<html>

  <!-- Simple Instruments Table -->
  <div class="card my-3">
    <div class="card-header d-flex flex-wrap align-items-center justify-content-between">
      <h2 class="h6 text-dark">Instruments</h2>
      <a
        type="button"
        class="btn btn-sm btn-outline-secondary ml-2"
        href="/analysis/instruments"
      >
        New
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Analyses</th>
              <th>Status</th>
            </tr>
          </thead>
          <!-- TODO: Populate table dynamically -->
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>ante</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>dapibus</td>
              <td>diam</td>
              <td>nisi</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>Nulla</td>
              <td>quis</td>
              <td>at</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</html>
