<!doctype html>
<html>
<!--
  API Settings | Cannlytics Website
  Created: 5/9/2021
  Updated: 6/22/2023
-->
{% extends "website/components/layout/dashboard.html" %}
{% load icon %}
{% block title %}API Keys | Cannlytics {% endblock title %}
{% block dashboard_css %}

  <!-- AG-Grid CSS and JavaScript -->
  {% include "website/components/tables/ag_grid_scripts.html" %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock %}
{% block dashboard %}

{% comment %} <!-- Header -->
{% include "website/components/heros/hero_banner.html" with
  description="Get your API credentials for programmatic access."
  image_url='https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/public%2Fimages%2Flogos%2Fcannlytics-api-logo.png?alt=media&token=5c0ec64e-f755-45cf-991f-61573a2fcd5b'
  image_size='200px'
  alt_title='Cannlytics API'
  only
%} {% endcomment %}

<!-- Sign In Prompt -->
{% include "website/components/placeholders/sign_in_placeholder.html" %}

<!-- API Keys Management -->
<section class="requires-auth container mb-2">

  <!-- Breadcrumbs -->
  <div class="d-flex mt-4 markdown">
    <nav
      style="--bs-breadcrumb-divider: '>';"
      aria-label="breadcrumb"
    >
      <ol class="breadcrumb bg-transparent p-0 mb-0">
        <li class="breadcrumb-item fs-6 lh-sm">
          <a
            class="text-dark serif action"
            href="{% url 'page' page='account' %}"
          >
            Account
          </a>
        </li>
        <li class="breadcrumb-item active fs-6 lh-sm text-dark serif" aria-current="page">
          API Keys
        </li>
      </ol>
      <div>
    </div>
    </nav>
  </div>

  <!-- API keys -->
  <div class="d-flex flex-wrap">

    <!-- Table -->
    <div id="key-table-container" class="col-12">

      <!-- Title  -->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3">
          <h1 class="fs-5 mb-0 lh-base serif">
            API Keys
          </h1>
          <button
            class="btn btn-sm bg-gradient-green text-white serif"
            onclick="showNewKeyForm();"
          >
            Add a key
          </button>
        </div>

      <!-- AG-Grid Table -->
      <div
        id="key-table"
        style="height:350px; width:100%;"
        class="ag-theme-alpine"
      ></div>

    </div><!-- End of column -->

    <!-- Options -->
    <div class="col mt-2 mx-3">

      <!-- Create a key card -->
      <div
        id="new-key-card"
        class="mt-4 py-2 d-none"
        style="max-width: 375px;"
      >
        <div class="simple-flex pb-2">
          <h4 class="fs-5 text-dark serif mb-0">
            New API Key
          </h4>
        </div>
        <div class="col pb-2">
          <p class="fs-6 text-secondary mb-3">
            <small>
              A Cannlytics API key identifies a particular application,
              granting programmatic use with a selected subset of a user's permissions.
            </small>
          </p>

          <!-- API Key Fields -->
          <form id="new-api-key-form">
            <div class="row mb-3">
              <label
                for="input-key-name"
                class="col-sm-3 col-form-label col-form-label-sm pe-2 text-dark text-no-wrap serif"
              >
                Key name
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="input-key-name"
                  spellcheck="false"
                  name="name"
                >
              </div>
            </div>
            <div class="row mb-3">
              <label
                for="input-expiration-at"
                class="col-sm-3 col-form-label col-form-label-sm pe-2 text-dark text-no-wrap serif"
              >
                Expiration
              </label>
              <div class="col-sm-9">
                <input
                  id="input-expiration-at"
                  type="text"
                  class="form-control form-control-sm"
                  name="expiration_at"
                  data-provide="datepicker"
                  data-date-start-date="-0d"
                >
              </div>
            </div>
            {% comment %} <div class="row mb-3">
              <label
                for="input-permissions"
                class="col-sm-3 col-form-label col-form-label-sm pe-2 text-dark text-no-wrap"
              >
                Permissions
              </label>
              <div class="col-sm-9">
                <select
                  id="input-permissions"
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm permissions"
                  name="permissions"
                >
                  <option selected>Choose key permissions...</option>
                  <option value="read">Read only</option>
                  <option value="staff">Read and write (Staff)</option>
                  <option value="qa">Read and write (QA)</option>
                  <option value="admin">Read and write (Admin)</option>
                </select>
              </div>
            </div> {% endcomment %}
          </form>

          <!-- Cancel and create buttons -->
          <div class="d-flex justify-content-start mt-4">
            <button
              class="btn btn-sm-light btn-md-light text-dark serif me-2"
              onclick="hideNewKeyForm()"
            >
              Cancel
            </button>
            <button
              id='create-api-key-button'
              class="btn btn-sm bg-gradient-green text-white serif"
            >
              Create key
            </button>
            <button
              id="create-api-key-button-loading"
              class="ms-1 btn btn-sm btn-set-width bg-gradient-green text-white d-none"
              type="button"
              title="Loading"
              disabled
            >
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            </button>            
          </div>

        </div><!-- End of fields -->
      </div><!-- End of create key card -->

      <!-- Key created card -->
      <div
        id="key-created-card"
        class="card bg-transparent border-secondary rounded-3 py-2 my-5 d-none"
        style="max-width: 600px;"
      >
        <div class="card-header">
          <h4 class="fs-5 serif text-dark mb-0">API Key Created</h4>
        </div>
        <div class="card-body bg-transparent pb-2">
          <h1 class="fs-6 lh-base text-dark serif">
            Save your API key
          </h1>
          <p class="fs-6 text-secondary mb-3">
            <small>
              Your API key is not stored in our system and cannot be retrieved or re-created.
              We strongly recommend that you encrypt your API keys in your data store
              and in memory when working with them, except when you need to access them
              to interface with the API.
              Your API key is observable if you use HTTP, so,
              please use HTTPS when you use the API.
            </small>
          </p>
          <div class="my-3 row">
            <label
              for="api-key"
              class="col-form-label col-form-label-sm text-dark serif"
            >
              Cannlytics API Key
            </label>
            <div class="col-12">
              <input
                id="api-key"
                type="text"
                readonly
                class="form-control form-control-sm"
                value="long-string-long-string-long-string-long-string"
              >
            </div>
          </div>
          <div class="d-flex justify-content-start mt-4">
            <button
              class="btn btn-sm-light btn-md-light text-dark me-2"
              onclick="closeKeyCreatedForm();"
            >
              Close
            </button>
          </div>
        </div>
      </div>

    </div><!-- End of options -->

  </div><!-- End of API keys -->

</section>

{% endblock %}
{% block dashboard_js %}
  <script type="text/javascript" charset="utf-8">

    // Render the date picker.
    $('.datepicker').datepicker({ format: 'mm/dd/yyyy' });


    function closeKeyCreatedForm() {
      /**
       * Close the key created form.
       */
      document.getElementById('key-created-card').classList.add('d-none');
      document.getElementById('api-key').value = '';
      document.getElementById('key-table-container').classList.remove('d-none');
      cannlytics.settings.getAPIKeys().then(function(data) {
        gridOptions.api.setRowData(data);
      });
    }


    function showNewKeyForm() {
      /**
       * Show the add new key form and hide the key information form.
       */
      document.getElementById('new-key-card').classList.remove('d-none');
      document.getElementById('key-table-container').classList.add('d-none');
    }


    function hideNewKeyForm() {
      /**
       * Show the add new key form and hide the key information form.
       */
      document.getElementById('new-key-card').classList.add('d-none');
      document.getElementById('key-table-container').classList.remove('d-none');
    }

    
    function onSelectionChanged() {
      /**
       * Show a key's details on selection.
       */
      hideNewKeyForm();
      const selectedRows = gridOptions.api.getSelectedRows();
      localStorage.setItem('api-key', JSON.stringify(selectedRows[0]));
      window.location.href = `${window.location.origin}/account/api-key`;
    }

    // Specify the table columns.
    const columnDefs = [
      { field: 'name', headerName: 'Name' },
      { field: 'created_at', headerName: 'Created' },
      { field: 'expiration_at', headerName: 'Expiration' },
    ];

    // Specify the table options.
    const gridOptions = {
      columnDefs: columnDefs,
      defaultColDef: { flex: 1,  minWidth: 100 },
      rowClass: 'app-action',
      rowHeight: 40,
      rowSelection: 'single',
      onSelectionChanged: onSelectionChanged,
      overlayLoadingTemplate: `
        <div class="spinner-grow text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      `,
      overlayNoRowsTemplate: `
        <div class="card-body bg-transparent text-center" style="max-width:540px;">
          <a href="showNewKeyForm();">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Fai%2Fcannlytics-api-bots.png?alt=media&token=03cf90fc-5ad6-44d9-84f2-c6e7ea9bb956"
              style="height:125px;"
              class="rounded-circle pt-3"
            >
          </a>
          <h2 class="fs-5 text-dark serif mt-3 mb-1">
            Create your 1st API Key
          </h2>
          <p class="text-secondary fs-6 text-small">
            <small class="serif">Create an API key to begin programmatic use of your account.
            You can share your API key with a third party that you trust to facilitate your Cannlytics workflow.
            </small>
          </p>
        </div>
      `
    };

    // Render the table.
    const eGridDiv = document.querySelector('#key-table');
    new agGrid.Grid(eGridDiv, gridOptions);
    cannlytics.ui.setTableTheme();

    // Add create API key functionality.
    const createAPIKeyButton = document.getElementById('create-api-key-button');
    createAPIKeyButton.addEventListener('click', function() {
      cannlytics.settings.createAPIKey().then(function(data) {
        gridOptions.api.setRowData(data);
      });
    });

    // Get the row data and provide it to the table via the AG Grid API.
    // Note that the user UID is passed from Django's user session.
    cannlytics.settings.getAPIKeys().then(function(data) {
      gridOptions.api.setRowData(data);
    });

    // Set the expiration date.
    const expirationInput = document.getElementById('input-expiration-at');
    const currentDate = new Date();
    const oneYearFromNow = new Date();
    oneYearFromNow.setFullYear(currentDate.getFullYear() + 1);
    const formattedDate = (oneYearFromNow.getMonth() + 1) + '/' + oneYearFromNow.getDate() + '/' + oneYearFromNow.getFullYear();
    expirationInput.value = formattedDate;

  </script>
{% endblock %}
</html>
