<!doctype html>
<html>
<!--
  API Key Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 6/18/2021
  Updated: 6/22/2023
-->
{% extends "website/components/layout/dashboard.html" %}
{% load icon %}
{% block title %}Manage API Key | Cannlytics {% endblock title %}
{% block dashboard %}

<!-- Header -->
{% include "website/components/heros/hero_banner.html" with
  description="Manage your API key."
  image_url='https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/public%2Fimages%2Flogos%2Fcannlytics-api-logo.png?alt=media&token=5c0ec64e-f755-45cf-991f-61573a2fcd5b'
  image_size='200px'
  alt_title='Cannlytics API'
  only
%}

<!-- API Key Management -->
<section class="requires-auth container mb-2">

  <!-- Breadcrumbs -->
  <div class="d-flex mt-4 markdown">
    <nav
      style="--bs-breadcrumb-divider: '>';"
      aria-label="breadcrumb"
    >
      <ol class="breadcrumb bg-transparent p-0 mb-0">
        <li class="breadcrumb-item fs-6 lh-sm">
          <a
            class="text-dark serif action"
            href="{% url 'page' page='account' %}"
          >
            Account
          </a>
        </li>
        <li class="breadcrumb-item fs-6 lh-sm">
          <a
            class="text-dark serif action"
            href="{% url 'section' page='account' section='api-keys' %}"
          >
            API Keys
          </a>
        </li>
        <li class="breadcrumb-item active fs-6 lh-sm text-dark serif" aria-current="page">
          Manage API Key
        </li>
      </ol>
      <div>
    </div>
    </nav>
  </div>

  <!-- Header -->
  <div class="px-3">
    <h1 class="fs-5 lh-base text-dark serif mt-3">Manage Your API Key</h1>
    <h2 class="fs-6 lh-base text-secondary serif mb-3" style="max-width:540px;">
      Your API keys provide programmatic access to your account and should be treated like passwords.
    </h2>
  </div>

  <!-- Body -->
  <div class="my-4 px-3">

    <!-- Form -->
    <form id="api-key-form">
      <div class="col-12 col-lg-8">

        <!-- Field -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label serif col-4">Name</label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="name"
            style="max-width:250px;"
            disabled
          >
        </div>

        <!-- Field -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label serif col-4">Created At</label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="created_at"
            style="max-width:250px;"
            disabled
          >
        </div>

        <!-- Field -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label serif col-4">Expiration At</label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="expiration_at"
            style="max-width:250px;"
            disabled
          >
        </div>

        <!-- Hidden API fields -->
          <input
            type="text"
            class="visually-hidden"
            name="prefix"
            disabled
          >
          <input
            type="text"
            class="visually-hidden"
            name="suffix"
            disabled
          >

        {% comment %} <!-- Field -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label col-3">Permissions</label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="permissions"
            style="max-width:250px;"
            disabled
          >
        </div> {% endcomment %}

      </div>
    </form>

    <!-- Options -->
    <div class="mt-4">
      <a
        class="btn btn-sm-light btn-md-light serif me-2"
        href="{% url 'section' page='account' section='api-keys' %}"
      >
        Cancel
      </a>
      <button
        id="delete-api-key-button"
        class="btn btn-sm btn-danger serif"
        onclick="cannlytics.settings.deleteAPIKey();"
      >
        Delete
      </button>
      <button
        id="delete-api-key-button-loading"
        class="ms-1 btn btn-sm btn-danger btn-set-width text-white d-none"
        type="button"
        title="Loading"
        disabled
      >
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      </button>  
    </div>

  </div><!-- End of body -->

</main>
{% endblock %}

<!-- JavaScript -->
{% block dashboard_js %}
  <script>
    cannlytics.settings.viewAPIKey();
  </script>
{% endblock %}

</html>
