<!doctype html>
<html>
<!--
  Subscriptions checkout | Cannlytics Website
  Created: 6/21/2023
  Updated: 6/23/2023
-->
{% extends "website/components/layout/dashboard.html" %}
{% load static icon %}
{% block title %}Subscriptions checkout | Cannlytics{% endblock %}
{% block dashboard_css %}

  <!-- Minor Style Adjustments -->
  <style>
    .tooltip-inner {text-align: left;}
  </style>

  <!-- PayPal Orders JavaScript -->
  <script src="https://www.paypal.com/sdk/js?client-id={{ paypal.client_id }}&vault=true&intent=subscription"></script>

{% endblock %}
{% block dashboard %}

  <!-- Header -->
  {% include "website/components/heros/hero_banner.html" with
    title="Cannlytics Subscription Checkout"
    description="Get access to bleeding-edge AI tools to give yourself a competitive edge."
    background_image="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Fai%2Fcannbot-ai.png?alt=media&token=3f2b4dcd-d661-404e-b417-c38768f1cb44"
    background_position="top left"
    only
  %}

  <!-- Sign In Prompt -->
  {% include "website/components/placeholders/sign_in_placeholder.html" %}

  <!-- Checkout -->
  <div id="checkout" class="requires-auth container mb-2">

    <!-- Breadcrumbs -->
    <div class="d-flex mt-4 markdown">
      <nav
        style="--bs-breadcrumb-divider: '>';"
        aria-label="breadcrumb"
      >
        <ol class="breadcrumb bg-transparent p-0 mb-0">
          <li class="breadcrumb-item fs-6 lh-sm">
            <a
              class="text-dark serif action"
              href="{% url 'page' page='account' %}"
            >
              Account
            </a>
          </li>
          <li class="breadcrumb-item fs-6 lh-sm">
            <a
              class="text-dark serif action"
              href="{% url 'section' page='account' section='subscriptions' %}"
            >
              Subscriptions
            </a>
          </li>
          <li class="breadcrumb-item active fs-6 lh-sm text-dark serif" aria-current="page">
            Checkout
          </li>
        </ol>
        <div>
      </div>
      </nav>
    </div>

    <!-- Cart -->
    <div class="requires-auth col-12 col-md-8 col-lg-8 mt-5">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="serif">Your cart</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">

          <!-- Item -->
          <div class="markdown">
            <img src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Femojies%2Fopenmoji%2Fai-coin.svg?alt=media&token=98a9cfd7-94a0-46cb-a59e-f7ee3c1b6dbf"
                style="float:left;width:24px;height:24px;"
                class=""
              />
            <div class="d-flex">
              <div id="order-title" class="fs-5 serif my-0 p-0 flex-grow-1">
                Cannlytics AI Subscription - <span id="subscription_name" class="serif" style="text-transform: capitalize;"></span>
              </div>
            </div>
            <div class="serif text-muted my-1"><span id="rate" class="serif"></span></div>
            <div id="order-description" class="mt-3">
              <h6 class="serif">Perks:</h6>
              <ul id="subscription-attributes" class="text-dark text-start w-75 mt-0"></ul>
            </div>
          </div>
        </li>

        <!-- Total price -->
        <li class="list-group-item d-flex justify-content-between">
          <span class="serif text-dark fw-bold">Total (USD)</span>
          <strong id="price" class="serif text-dark"></strong>
        </li>

      </ul>

      <!-- PayPal order button -->
      <div style="width:200px;" class="mt-5">
        <h4 class="serif mb-3">Checkout</h4>
        <div id="paypal-button-container"></div>
      </div>

    </div>

    <!-- Cancel button -->
    <div class="mt-5">
      <a
        class="btn btn-sm-light btn-md-light serif"
        href="{% url 'section' page='account' section='subscriptions' %}"
      >
        Cancel
      </a>
    </div>

  </div><!-- End of form-->

  <!-- Thank you message for after purchase -->
  <div id="thank-you-message" class="d-none">
    {% include "website/components/heros/hero_banner.html" with
      title='Checkout Successful'
      description="Congratulations on your subscription, you have successfully purchased a Cannlytics AI subscription. You can use your tokens to run AI-powered jobs in the app: https://data.cannlytics.com. You can always purchase additional tokens here: https://cannlytics.com/account/subscriptions. Put your AI jobs to good use! Always here to help, The Cannlytics Team."
      primary_action='Buy more tokens'
      primary_action_url='/account/subscriptions#buy-tokens'
      secondary_action='Get started'
      secondary_action_url='https://data.cannlytics.com'
      image_url="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Femojies%2Fopenmoji%2Fai-coin.svg?alt=media&token=98a9cfd7-94a0-46cb-a59e-f7ee3c1b6dbf"
      only
    %}
  </div>

{% endblock %}

<!-- JavaScript -->
{% block dashboard_js %}
<script>

  // Get the level of support.
  let url = new URL(window.location.href);
  let subscription = url.searchParams.get('subscription');
  if (!subscription) subscription = 'premium';

  // Initialize subscriptions.
  cannlytics.payments.initializeSupport('premium');

</script>

{% endblock %}

</html>
