<!doctype html>
<html>
<!--
  Password Reset Change Page | Cannlytics Website
  Created: 12/5/2020
  Updated: 9/7/2023
-->
{% extends "website/components/layout/dashboard.html" %}
{% block title %} Password Change Complete | Cannlytics {% endblock %}
{% block dashboard %}
<section class="container pt-5" style="max-width:475px;">

  <div class="text-center">

    <!-- Message -->
    <h2 class="serif text-dark mb-0 mt-5">Password Changed</h2>
    <p class="fs-6 double-line mb-3">Password reset change complete.</p>

    <!-- Option -->
    <a
      class="btn btn-sm bg-gradient-green text-white serif"
      style="width: 191px;"
      type="button"
      href="{% url 'section' page='account' section='sign-in' %}"
    >
      Sign In
    </a>

  </div>
{% endblock %}
</html>