<!doctype html>
<html>
<!--
  Token Management | Cannlytics Website
  Created: 6/20/2023
  Updated: 6/21/2023
-->
{% load icon %}

<!-- Purchase tokens -->
<div class="container mt-3">
  <div class="markdown py-5" style="max-width:560px;">
    <img src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Femojies%2Fopenmoji%2Fai-coin.svg?alt=media&token=98a9cfd7-94a0-46cb-a59e-f7ee3c1b6dbf"
      style="float:left;width:125px;height:125px;"
      class="pt-3 pe-3"
    />
    <h1 id="buy-tokens" class="pt-4 text-dark">Purchase AI Jobs</h1>
    <p class="mt-2">
      AI jobs can be purchased at a rate of <strong>5￠ per job</strong>,
      or at a discounted rate that depends on your subscription.
      A minimum of 100 AI job tokens must be purchased at a time.
      Only successful jobs will consume tokens.
      Your tokens are valid for <strong>one month</strong> after purchase.
      If you need usage beyond 2,000 tokens at time, then please
      contact <a href="mailto:dev@cannlytics.com">dev@cannlytics.com</a> for a custom quote.
      Put your AI to good use now!
    </p>


    <!-- Purchase tokens. -->
  <div class="mt-3 mx-3">
    {% if user %}
      <div class="row">
        <div
          class="col-4 btn btn-sm-light btn-md-light me-2"
          data-bs-toggle="tooltip"
          data-bs-title="Your tokens are refreshed every month. Purchased tokens are valid for 1 month after purchase."
        >
          Your tokens: <span id="current_tokens">0</span>
        </div>
        <div
         class="col-4 btn btn-sm-light btn-md-light"
         data-bs-toggle="tooltip"
         data-bs-title="Your rate depends on your subscription. Upgrade your subscription to get a better rate."
        >
          Your rate: <span id="price_per_token">5</span>￠ per job
        </div>
      </div>
    {% endif %}
    <label class="serif mb-2 mt-3">Puchase AI Tokens:</label>
    <div id="tokenCount" style="position: relative; left: 0;" class="serif">100</div>
    <input
      type="range"
      class="form-range"
      id="tokenSlider"
      min="100"
      max="2000"
      step="100"
      value="100"
    >
    <label class="serif mt-1">Price: <span id="tokenPrice" class="serif">$5.00</span></label>
  </div>

  <!-- PayPal checkout button -->
  <div class="mt-3 mx-3">

      <!-- Sign in button -->
      <button
        id="order-tokens-button-no-user"
        class="indicates-auth btn bg-gradient-orange text-white serif"
        type="button"
        data-bs-target="#sign-in-dialog"
        data-bs-toggle="modal"
      >
      {% icon 'coin' width="16px" height="16px" class="me-1" %}
        Sign in to buy tokens
      </button>

    <!-- Buy tokens button -->
    <a
      id="order-tokens-button"
      class="requires-auth btn bg-gradient-orange text-white serif"
      href="{% url 'section' page='account' section='buy-tokens' %}?tokens=100"
    >
      {% icon 'coin' width="16px" height="16px" class="me-1" %}
        Buy tokens
      </a>
  
  </div>

</div>

<!-- Tokens JavaScript -->
<script>

  // Get the slider and price elements.
  const slider = document.getElementById('tokenSlider');
  const tokenCount = document.getElementById('tokenCount');
  const tokenPrice = document.getElementById('tokenPrice');

  // Update the token count and price when the slider value changes.
  slider.oninput = function() {
    // Change the price.
    const tokens = this.value;
    const price = tokens * 0.05;
    tokenCount.textContent = `${tokens}`;
    tokenPrice.textContent = `$${price.toFixed(2)}`;

    // Calculate the position of the slider thumb.
    const percent = (this.value - this.min) / (this.max - this.min);
    const left = percent * this.offsetWidth - 18;

    // Position the token count above the slider thumb.
    tokenCount.style.left = `${left}px`;

    // Update the buy tokens URL.
    const buyTokensButton = document.getElementById('order-tokens-button');
    const baseUrl = "{% url 'section' page='account' section='buy-tokens' %}";
    buyTokensButton.href = `${baseUrl}?tokens=${tokens}`;
  }

  // Get the user's subscription.
  cannlytics.payments.getUserTokens();

</script>

</html>
