<!doctype html>
<html>
<!--
  Token Management | Cannlytics Website
  Created: 6/20/2023
  Updated: 6/20/2023
-->
{% load icon %}

<!-- Purchase tokens -->
<div class="container mt-3">
  <div class="markdown py-5" style="max-width:560px;">
    <img src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Femojies%2Fopenmoji%2Fai-coin.svg?alt=media&token=98a9cfd7-94a0-46cb-a59e-f7ee3c1b6dbf"
      style="float:left;width:125px;height:125px;"
      class="pt-3 pe-3"
    />
    <h1 class="pt-4 text-dark">Purchase AI Jobs</h1>
    <p class="mt-2">
      AI jobs can be purchased at a rate of <strong>5￠ per job</strong>,
      or at a discounted rate that depends on your subscription.
      A minimum of 100 AI job tokens must be purchased at a time.
      Only successful jobs will consume tokens.
      Your tokens are valid for <strong>1 month</strong> after purchase.
      If you need usage beyond 2,000 tokens at time, then please
      contact <a href="mailto:dev@cannlytics.com">dev@cannlytics.com</a> for a custom quote.
      Put your AI to good use now!
    </p>

    <!-- TODO: Show the user's current amount of tokens. -->

    <!-- TODO: Input for how many tokens. -->
  <div class="mt-3 mx-3">
    <label>AI Tokens:</label>
    <div id="tokenCount" style="position: relative; left: 0;">100</div>
    <input
      type="range"
      class="form-range"
      id="tokenSlider"
      min="100"
      max="2000"
      step="100"
      value="100"
    >
    <label>Price: <span id="tokenPrice">$5.00</span></label>
  </div>

  <!-- PayPal checkout button -->
  <div class="mt-3 mx-3">
    {% if not user %}
      <button
        id="order-tokens-button-no-user"
        class="btn btn-sm bg-gradient-orange text-white serif"
        type="button"
        data-bs-target="#sign-in-dialog"
        data-bs-toggle="modal"
      >
      {% icon 'coin' width="16px" height="16px" class="me-1" %}
        Sign in to buy tokens
      </button>
    {% else %}
      <p>Rate: <span id="price_per_token">5</span>￠ per job</p>
      <p>Current tokens: <span id="price_per_token"></span>0</p>
      <div id="paypal-order-tokens-button" class="d-none"></div>
    {% endif %}
  
  </div>

</div>

<!-- Tokens JavaScript -->
<script>

  // Get the slider and price elements.
  const slider = document.getElementById('tokenSlider');
  const tokenCount = document.getElementById('tokenCount');
  const tokenPrice = document.getElementById('tokenPrice');

  // Update the token count and price when the slider value changes.
  slider.oninput = function() {
    // Change the price.
    const tokens = this.value;
    const price = tokens * 0.05;
    tokenCount.textContent = `${tokens}`;
    tokenPrice.textContent = `$${price.toFixed(2)}`;

    // Calculate the position of the slider thumb.
    const percent = (this.value - this.min) / (this.max - this.min);
    const left = percent * this.offsetWidth - 18;

    // Position the token count above the slider thumb.
    tokenCount.style.left = `${left}px`;
  }

  // TODO: Get the user's subscription.

  // TODO: Update the price per token based on the user's subscription.
</script>

</html>