<!doctype html>
<html>
  <!-- Demo -->
  <!-- Created 1/5/2021 -->
  <!-- TODO: add copy code button | Optional: Make dynamic -->
  {% load static %}
  <div class="container">

    <!-- Installation -->
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-6 text-start overflow-hidden">
        <div class="my-3 py-lg-3">
          <img src="{% static 'cannlytics_website/images/lab_icons/cannlytics_atom.svg' %}"
            width="50"
            class="mb-2"
          >
          <h2 class="display-5 text-dark fw-bold my-2">Installation</h2>
          <p class="h6 double-line mb-3 pe-5">
            Installing the Cannlytics Engine into your lab is as easy as 1, 2, 3.
            You can simply use an installer or you can clone
            the source code and follow the included guides.
            You can quickly configure
            your installation to perfectly fit your lab.
          </p>
          <div class="d-none d-lg-flex">
            <a
              class="cannlytics-dark-orange-text fw-bold sliding-action"
              href="{% url 'cannlytics_docs:index' %}"
            >
              Installation Guide &rarr;
            </a>
          </div>
        </div>
      </div>
      <div class="codehilite rounded col-11 col-md-8 col-lg-6 text-start overflow-hidden px-2">
        <button
          class="copy-btn bg-transparent border-0 float-end app-action pt-2"
          onclick="cannlytics.website.copyToClipboard(document.getElementById('codeblock-1').innerHTML)"
          title="Copy snippet"
        >
          <span class="link-secondary" data-feather="copy"></span>
        </button>
        <pre class="d-flex">
          <code id="codeblock-1">git clone https://github.com/cannlytics/cannlytics.git</code>
        </pre>
      </div>
    </div>

    <!-- Plug and Play -->
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-6 pt-3 px-3 pe-lg-5 pt-md-5 text-start overflow-hidden">
        <div class="my-3 py-lg-3">
          <img
            class="mb-2"
            src="{% static 'cannlytics_website/images/lab_icons/cannlytics_gears.svg' %}"
            width="50"
          >
          <h2 class="display-5 text-dark fw-bold my-2">Plug &amp; Play</h2>
          <p class="h6 double-line mb-3">
            Once you have your copy of Cannlytics,
            you can pick and choose engine components as you need them.
            Perhaps you need an addition to your existing software. Simply
            grab what you need and you're free to use it.
          </p>
          <div class="d-none d-lg-flex">
            <a
              class="cannlytics-dark-orange-text fw-bold sliding-action"
              href="{% url 'cannlytics_docs:index' %}"
            >
              Components &rarr;
            </a>
          </div>
        </div>
      </div>
<div class="codehilite rounded col-11 col-md-8 col-lg-6 text-start overflow-hidden px-3">
<button
  class="copy-btn bg-transparent border-0 float-end app-action pt-2"
  onclick="cannlytics.website.copyToClipboard(document.getElementById('codeblock-2').innerHTML)"
  title="Copy snippet"
>
  <span class="link-secondary" data-feather="copy"></span>
</button>

<pre><span></span><code id="codeblock-2"><span class="kn">from</span> <span class="nn">cannlytics</span> <span class="kn">import</span> <span class="n">lims</span>

<span class="n">result</span> <span class="o">=</span> <span class="n">lims</span><span class="o">.</span><span class="n">get_lab_results</span><span class="p">(</span><span class="n">lab_id</span><span class="o">=</span><span class="s2">"xyz"</span><span class="p">)</span>
</code></pre></div>
    </div>

    <!-- Portal -->
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-6 pt-3 px-3 pe-lg-5 pt-md-5 text-start overflow-hidden">
        <div class="my-3 py-lg-3">
          <img
            class="mb-2"
            src="{% static 'cannlytics_website/images/lab_icons/cannlytics_brain.svg' %}"
            width="50"
          >
          <h2 class="display-5 text-dark fw-bold my-2">Cannlytics Portal</h2>
          <p class="h6 double-line mb-3">
            If you need a hosted solution, then you can 
            take advantage of the ready to use Cannlytics Portal for
            hosting, analysis, and data and file storage.
            You can manage your lab results and provide your
            clients with a simple yet complete client portal.
          </p>
          <div class="d-none d-lg-flex">
            <a
              class="cannlytics-dark-orange-text fw-bold sliding-action"
              href="{% url 'cannlytics_docs:doc' 'get-started' %}"
            >
              Read the Docs &rarr;
            </a>
          </div>
        </div>
      </div>
      <a class="col-11 col-md-8 col-lg-6" href="https://console.cannlytics.com">
        <img
          src="{% static 'cannlytics_website/images/screenshots/console_dashboard_light.png' %}"
          class="rounded shadow light-only"
          height="275px"
        >
        <img
          src="{% static 'cannlytics_website/images/screenshots/console_dashboard_dark.png' %}"
          class="rounded shadow dark-only"
          height="275px"
        >
      </a>
    </div>

    <!-- API -->
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-6 pt-3 px-3 pe-lg-5 pt-md-5 text-start overflow-hidden">
        <div class="my-3 py-lg-3">
          <img src="{% static 'cannlytics_website/images/lab_icons/cannlytics_eye.svg' %}"
            width="50"
            class="mb-2"
          >
          <h2 class="display-5 text-dark fw-bold mb-2">Cannlytics API</h2>
          <p class="h6 double-line mb-3">
            Do you have a technical staff? Than you can utilize the
            Cannlytics API to programmatically manage your operations and
            interface with your data. You have all of your data and the power
            of all laboratory software at your finger tips.
          </p>
          <div class="d-none d-lg-flex">
            <a
              class="cannlytics-dark-orange-text fw-bold sliding-action"
              href="{% url 'cannlytics_docs:index' %}"
            >
              Read the Docs &rarr;
            </a>
          </div>
        </div>
      </div>
      <div class="codehilite rounded col-11 col-md-8 col-lg-6 text-start overflow-hidden px-3">
      <button
        class="copy-btn bg-transparent border-0 float-end app-action pt-2"
        onclick="cannlytics.website.copyToClipboard(document.getElementById('codeblock-3').innerHTML)"
        title="Copy snippet"
      >
        <span class="link-secondary" data-feather="copy"></span>
      </button>
      <pre><span></span><code id="codeblock-3"><span class="p">{</span>
  <span class="nx">analyses</span><span class="o">:</span> <span class="p">[...],</span>
  <span class="nx">lab_id</span><span class="o">:</span> <span class="s2">"cann 001"</span><span class="p">,</span>
  <span class="nx">sample_name</span><span class="o">:</span> <span class="s2">"Super Easy"</span><span class="p">,</span>
  <span class="nx">results</span><span class="o">:</span> <span class="p">[...],</span>
<span class="p">}</span>
</code></pre></div>
    </div>

  </div>
</html>
