<!doctype html>
<html>
<!--
  Certificate of Analysis Component | Cannlytics Console
  Created: 7/30/2021
  Updated: 7/30/2021
  Optional:
    Handle different sample types differently (e.g. edibles, flower, concentrates).
    Edibles get mg/g, mg/unit and mg/package.
-->
{% block unit %}


<!-- Send results modal -->
{% include "console/components/modals/send_results_modal.html"%}

{% endif %}
{% endblock unit %}

<!-- JavaScript -->
{% block console_js %}
{% if not part %}

    <script>

    function initializeCoA() {

      // If not reviewed, then show review option to add 1st signature.

      // If not approved, then show approve option to add 2nd signature.

      // Render PDF if needed.

    }

    // TODO: Generate PDF (with calculations)

    // TODO: Render PDF

    // TODO: Review CoA

    // TODO: Approve CoA

    // TODO: Void review of CoA

    // TODO: Void approve of CoA

    // TODO: Download PDF.

    // TODO: Open PDF in new tab.

    // TODO: Release certificate to client.

    // TODO: Send results to clients.

    // TODO: Upload CoA PDF.

    // TODO: Option to include images on CoAs.

    // TODO: Option to include charts on the CoA.

    </script>

{% endif %}
{% endblock console_js %}
</html>
