<!doctype html>
<html>
  <!-- Cannlytics Console -->
  <!-- Created: 11/26/2020 | Thanksgiving -->
  <!-- Updated: 5/4/2021 -->
  {% extends "console/base.html" %}
  {% load static %}

  <!-- Title -->
  {% block title %}
    {% if unit %}
      {{ unit|title }}
    {% elif section %}
      {{ section|title }}
    {% elif screen %}
      {{ screen|title }}
    {% else %}Dashboard{% endif %} | Cannlytics
  {% endblock %}

  <!-- Console header -->
  {% block page_css %}
    {% comment %} <script src="{% static 'console/plugins/ag-grid/ag-grid-community.min.noStyle.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'console/plugins/ag-grid/ag-grid.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'console/plugins/ag-grid/ag-theme-alpine.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'console/plugins/ag-grid/ag-theme-alpine-dark.min.css'%}"> {% endcomment %}
    {% block console_css %}{% endblock console_css %}
  {% endblock %}

  <!-- Console Template -->
  {% block page %}

    <!-- Set the theme after the body, but before the page, loads. -->
    <script>
      cannlytics.theme.setInitialTheme();
    </script>

    <!-- Top Navigation -->
    {% include "console/layout/topbar.html" with
      navbar=navbar
      version=APP_VERSION_NUMBER
      user=user
      organizations=organizations
      only
    %}

    <!-- Console -->
    <div class="container-fluid">
      <div class="row">

        <!-- Verify email prompt -->
        <!-- TODO: Show verify email promty if uesr isn't verified. -->
        <!-- 
          img

        Please verify your email address
        Before you dive in, can you please verify your email address? A verification email
        has been sent to EMAIL.

        Resend
        -->
        
        <!-- Side Navigation | For users with organizations -->
        {% if organizations %}
          {% include "console/layout/sidebar.html" with
            screen=screen
            data_models=data_models
            user=user
            organizations=organizations
            only
          %}
        {% endif %}

        <!-- Dynamic Body -->
        {% block console_body %}{% endblock console_body %}
        
      </div>
    </div>

    <!-- Footer -->
    {% include "console/layout/footer.html" %}

    <!-- Notifications -->
    {% include "console/components/notifications/notification_toast.html" %}

  {% endblock %}

  <!-- Console JavaScript -->
  {% block page_js %}

    <!-- Initialize the console -->
    <script>
      cannlytics.app.initialize();
    </script>

    <!-- Page-specific JavaScript -->
    {% block console_js %}{% endblock console_js %}

  {% endblock page_js %}
</html>
