<!doctype html>
<html>
<!--
  Banner - DataScience | Cannlytics Website
  Created: 6/27/2021
  Updated: 4/10/2022
  Params:
    email
    phone
    phone_number
-->
{% load static %}
<div class="info-bar text-dark d-flex justify-content-between py-2 px-2 px-lg-3">
  <div class="d-flex"></div>
  <div class="d-flex align-items-center justify-content-center flex-wrap fw-bold">

    <!-- New -->
    <a
      class="text-dark background-hover d-flex align-items-center"
      href="https://open.spotify.com/show/026mnrCyi1QmyGnPRxdH1u"
      title="Listen to Cannabis Data Science on Spotify!"
      target="_blank"
    >
      <span class="badge rounded-pill bg-success me-1">New</span>
      <small>
        Cannabis Data Science Podcast on Spotfiy
      </small>
    </a>
    <span class="px-2">|</span>

    <!-- Support -->
    <a
      class="text-dark background-hover d-flex align-items-center"
      href="{% url 'page' page='subscriptions' %}"
      title="Get the support that your company needs."
    >
      <svg class="" style="width:20px;height:20px;">
        <use href="{% static "website/images/emojies/atronaut.svg" %}#atronaut-emoji"></use>
      </svg>
      <small>
        Premium subscriptions now available!
      </small>
    </a>

    <!-- Github star button -->
    <span class="px-2">|</span>
    <div class="d-flex">
      <iframe
        src="https://ghbtns.com/github-btn.html?user=cannlytics&repo=cannlytics&type=star&count=true"
        frameborder="0"
        scrolling="0"
        width="75"
        height="20"
        title="Check out Cannlytics code and data on GitHub!"
      ></iframe>
    </div>

  </div>
  <div class="d-flex d-lg-none"></div>
</div>
</html>
