<!doctype html>
<html>
<!--
  Banner - DataScience | Cannlytics Website
  Created: 6/27/2021
  Updated: 6/27/2021
  Params:
    phone
    phone_number
-->
<div class="info-bar text-dark d-flex justify-content-between py-2 px-2 px-lg-3">
  <div class="d-flex"></div>
  <div class="d-flex align-items-center fw-bold">
    <small class="d-none d-lg-block">
      Questions? Call&nbsp;
    </small>
    <a
      class="text-dark background-hover"
      href="tel:{{ phone_number }}"
      title="Call us."
    >
      <small class="d-none d-lg-block">
        {{ phone }}
      </small>
    </a>
    <span class="px-2 d-none d-lg-block">|</span>

      <a
      class="text-dark background-hover"
      href="https://opencollective.com/cannlytics-company/contribute"
      title="Get the support that your company needs."
    >
      <small>
        🤝 Get supported now
      </small>
    </a>

    {% comment %}
    !-- Cannabis Data Science Notice -->
    <a
      class="text-dark background-hover"
      href="/events"
      title="Join us Wednesdays at 8:30am PST to talk about cannabis data science."
    >
      <small>
        🤝 Join the Cannabis Data Science meetup
      </small>
    </a> {% endcomment %}
    {% comment %} <a
      class="text-dark background-hover"
      href="/whitepapers"
      title="Premium subscriptions starting at $1/mo."
    >
      <small class="d-none d-lg-block">
        Get 2021's first whitepaper 🎉
      </small>
    </a> {% endcomment %}
    <!-- Optional: Star on github -->
    {% comment %} <iframe
      src="https://ghbtns.com/github-btn.html?user=cannlytics&repo=cannlytics&type=star&count=true"
      frameborder="0"
      scrolling="0"
      width="150"
      height="20"
      title="GitHub"
    ></iframe> {% endcomment %}
  </div>
  <div class="d-flex d-lg-none"></div>
</div>
</html>
