<!doctype html>
<html>
<!--
  Partners Banner | Cannlytics Website
  Created: 9/10/2021
  Updated: 9/10/2021
-->
{% load icon %}

<!-- Title -->
<section class="container mb-2 my-5">
  <div class="col mt-5">
    <h2 class="mb-3 pt-5"><a class="serif text-dark" href="/videos">We are proud of all Cannlytics users 🎊</a></h2>
    <p class="serif text-secondary fs-6">These are the people bringing freedom to your laboratory software.</p>
  </div>
</section>

<!-- Grid -->
<section class="container my-5">
  <div class="row row-cols-2 justify-content-center my-3">
    {% for item in partners %}
      {% if item.active %}
        <div class="col-10 col-md-6 col-lg-4 mb-4 mb-lg-0 mx-5">
          <div
            class="p-4 w-100 d-flex align-items-center {% if item.logo_background == 'dark' %}bg-dark{% endif %}"
            style="height:125px;"
          >
            <a href="{{ item.website }}" title="{{ item.name }}">
              <img
                src="{{ item.logo_url }}"
                class="w-100"
                style="max-height:75px;"
              >
            </a>
          </div>
             <p class="text-secondary fs-6 mt-3">
              <small>
                {{ item.description }}
              </small>
            </p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

<!-- Action -->
<section class="container my-5" style="max-width:420px;">
  <a
    class="btn w-100 bg-gradient-orange text-white"
    href="{% url 'page' page='contact' %}?topic=partner"
    type="button"
  >
    <small class="serif">Partner with us too 🤝</small>
  </a>
</section>
</html>
