beautifulsoup4
firebase_admin
google-cloud-secret-manager
google-cloud-firestore
googlemaps
matplotlib
numpy
openpyxl
pandas
python-dotenv
statsmodels
ulid-py

# FIXME:
# ocean-lib # Breaks App Engine deployments.

# Optional dependency:
# xlwings # Breaks App Engine deployments.
