<!doctype html>
<html>
<!--
  User Pin Page | Cannlytics Console
  Created: 1/2/2021
  Updated: 7/1/2021
-->
{% extends "console/console.html" %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    
    <!-- Header -->
    {% include "console/components/links/breadcrumbs.html" with
      base_page="Settings"
      base_page_url="/settings"
      nested_page="User Settings"
      nested_page_url="/settings/user"
      current_page="Pin Management"
    %}

    <!-- Pin Management -->
    <div class="col-md-6 px-3 mb-5">
      <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Pin</h1>
      <h2 class="fs-6 lh-base text-secondary mb-3">
        <small>Your pin is used as a 2nd factor of authentication for sensitive actions,
        such as signing your signature on (CoA)s.</small>
      </h2>

      <!-- Field -->
      <div class="row">
        <label
          for="pin_input"
          class="col-md-4 col-sm-2 col-lg-2 col-form-label col-form-label-sm"
        >
          Pin
        </label>
        <div class="col">
          <input
            type="password"
            class="form-control form-control-sm field-sm"
            id="pin_input"
            spellcheck="false"
            name="pin"
          >
        </div>
      </div>

      <!-- Options -->
      <div class="d-flex justify-content-start mt-3">
        <button
          class="btn btn-sm bg-gradient-green text-white"
          onclick="cannlytics.settings.createPin(event);"
        >
          Save pin
        </button>
      </div>
    
    </div>

  </main>
{% endblock console_body %}
{% block console_js %}

  <script>

    // Attach save on enter to input.
    document.getElementById('pin_input').addEventListener('keydown', function(e) {
      if (e.code === 'Enter') {
        cannlytics.settings.createPin(e);
      }
    });

  </script>

{% endblock %}
</html>
