<!doctype html>
<html>
<!--
  Account Management Page | Cannlytics Console
  Created: 12/9/2020
  Updated: 6/17/2021
-->
{% extends "console/console.html" %}
{% load static icon %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-5">
  
    <!-- Header -->
    {% include "console/components/links/breadcrumbs_dynamic.html" with
      breadcrumbs=settings.user_breadcrumbs
    %}

    <!-- Profile picture -->
    <div class="row mb-3">

      <!-- User image -->
      <div class="col col-md-5 mx-3 mb-3">
        <div class="row mb-2">
          <label
            for="userPhotoUrl"
            class="col col-form-label col-form-label-sm"
          >
            Profile picture
          </label>
          <div class="col d-flex justify-content-end">
            <button
              class="btn btn-sm btn-sm-light"
              onclick="cannlytics.settings.chooseUserPhoto()"
            >
              Upload Photo
            </button>
          </div>
        </div>
        <div class="text-center order-md-2 border rounded">
          <img
            src="{% if user.photo_url %}{{ user.photo_url }}{% else %}{% static "console/images/account/default-dark.png" %}{% endif %}"
            style="height:200px;"
            class="pe-1"
            id="user-photo-url"
          >
          <input type="file" id="userPhotoUrl" multiple accept="image/*" class="visually-hidden">
        </div>
      </div>

      <!-- Account fields -->
      <div class="col-md-6">
        <form id="user-form">
          {% for item in settings.user_fields %}        
            <div class="row mb-3">

              <!-- Field label -->
              <label
                for="input-{{ item.key }}"
                class="col-md-4 col-sm-2 col-lg-2 col-form-label col-form-label-sm"
              >
                {{ item.label }}
              </label>

              <!-- Field input -->
              <div class="col-sm-10">
                <input
                  type="{{ item.type }}"
                  class="form-control form-control-sm"
                  id="input-{{ item.key }}"
                  spellcheck="false"
                  name="{{ item.key }}"
                >
              </div>

            </div>
          {% endfor %}
        </form>

        <!-- Options -->
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-sm btn-sm-light me-2"
            onclick="cannlytics.settings.resetAccountForm()"
          >
            Reset
          </button>
          <button
            type="button"
            class="btn btn-sm bg-gradient-green text-white"
            onclick="cannlytics.settings.saveAccount()"
          >
            Save
          </button>
        </div>
        
      </div><!-- End of account fields -->

    </div>

    <!-- Pin Management -->
    <!-- TODO: Require re-authentication before changing a users pin -->
    <div class="col-md-6 px-3">
      <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Pin</h1>
      <h2 class="fs-6 lh-base text-secondary mb-3">
        <small>Your pin is used as a second factor of authentication for secure actions, such as signing documents.</small>
      </h2>
      <div >
        {% if user.pin_created_at %}
          <a
            class="btn btn-sm-light me-2"
            href="/settings/user/pin"
          >
            Change
          </a>
          <button
            class="btn btn-sm-light text-danger"
            onclick="cannlytics.settings.deletePin();"
          >
            Void
          </button>
        {% else %}
          <a
            class="btn btn-sm btn-sm-light"
            href="/settings/user/pin"
          >
            Set your pin
          </a>
        {% endif %}
      </div>
        {% if user.pin_created_at %}
          <div class="alert alert-success mt-4">
            {% icon "check" width="18px" height="18px" class="text-success me-1" %}
            <span class="fs-6"><small style="color:#198754 !important;">
              Pin created at {{ user.pin_created_at }}
            </small></span>
          </div>
      {% endif %}
    </div>

    <!-- Signature Management -->
    <div class="col-md-6 px-3">
      <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Signature</h1>
      <h2 class="fs-6 lh-base text-secondary mb-3">
        <small>If you will be signing documents, such as CoAs, then you can add your signature to securely sign using your pin.</small>
      </h2>
      {% if user.signature_ref %}
        <div id="existing-signature">
          <a class="btn btn-sm-light me-2" href="/settings/user/signature">
            Change
          </a>
          <button type="button" class="btn btn-sm-light me-2" data-bs-toggle="modal" data-bs-target="#pinModal">
            View
          </button>
          <button class="btn btn-sm-light text-danger" onclick="cannlytics.settings.deleteSignature();">
            Remove
          </button>
          <div class="alert alert-success mt-4">
            {% icon "check" width="18px" height="18px" class="text-success me-1" %}
            <span class="fs-6"><small style="color:#198754 !important;">Signature saved</small></span>
          </div>
        </div>
      {% else %}
        <a
          class="btn btn-sm btn-sm-light"
          href="/settings/user/signature"
        >
          Set your signature
        </a>
      {% endif %}
    </div>
    <div id="signature-canvas" class="d-none"></div>

    <!-- Other Account options -->
    <div class="col-md-6 px-3">
      <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Other account options</h1>
      <div class="list-group col-md-6 py-3">
        {% for item in settings.user_options %}   
          <a
            href="{{ item.url }}"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-dark"
            aria-current="true"
          >
            {{ item.title }}
            {% icon "chevron-right" height="18px" width="18px" %}
          </a>
        {% endfor %}
      </div>
    </div>

    <!-- TODO: Enter pin dialog -->
    <!-- TODO: Add functionality to button and input -->
    {% include "console/components/modals/pin_modal.html" with
      callback="cannlytics.settings.showSignature"
    %}

  </main>
{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>
    cannlytics.settings.initializeAccountForm();
    
    // Enable popovers
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    });
  </script>
{% endblock console_js %}

</html>
