<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Subscribed to Cannlytics Newsletter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="margin:0; padding:0;">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="600"
      style="border:none; border-collapse:collapse; font-size:14px; line-height:1.5; font-family: Arial, sans-serif;"
    >
      <tbody>

      <!-- Logo -->
      <tr>
        Logo
      </tr>

      <!-- Grey Card -->
      <tr>
        Welcome {{ name }} to the Cannlytics engine!
      </tr>

      <!-- Website Links -->
      <a href="https://cannlytics.com?promo={{ promo }}">
        cannlytics.com
      </a>

      <!-- Support -->
      <tr>
        <p>
          Do you need help getting started with the Cannlytics engine?
        </p>
        <div>
          <a href="mailto:contact@cannlytics.com">
            contact@cannlytics.com
          </a> |
          <a href="tel:+18283953954">
            (828) 395-3954
          </a> 
        </div>
      </tr>

    </table>
  </body>
</html>
