<!doctype html>
<html>

  <!-- Hero Banner -->
  <!-- Created 1/9/2021 -->

  {% load static %}

  <section class="jumbotron text-center">
    <div class="container">

      <!-- Image -->
      {% if "cannlytics_website" in image_url%}
        <img src="{% static image_url %}"
          style="max-height:120px;"
        >
      {% elif image_url %}
        <img src="{{ image_url }}" style="max-height:120px;">
      {% else %}
        <img src="{% static 'cannlytics_website/images/engine_icons/spaceship_outline_tilted.svg' %}"
          style="max-height:120px;"
        >
      {% endif %}

      <!-- Title -->
      {% if title %}
        <h1 class="display-4 my-3">
          {{ title }}
        </h1>
      {% endif %}

      <!-- Description -->
      {% if description %}
        <p class="lead text-muted">
          {{ description|safe }}
        </p>
      {% endif %}

      <!-- Actions -->
      <p class="mt-3">
        {% if primary_action %}
          <a
            href="{{ primary_action_url }}"
            class="btn bg-gradient-green text-white my-2"
            style="min-width:14rem;"
          >
            {{ primary_action }}
          </a>
        {% endif %}
        {% if secondary_action %}
          <a
            href="{{ secondary_action_url }}"
            class="btn bg-gradient-orange text-white my-2"
            style="min-width:14rem;"
          >
            {{ secondary_action }}
          </a>
        {% endif %}
      </p>

    </div>
  </section>

</html>
