<!doctype html>
<html>
  <!-- Footer Template -->
  <!-- Created 12/30/2020-->
  {% load static %}

  <!-- Wave -->
  <div class="wave small green" >
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M3.58,140.29 C215.76,-58.05 343.30,228.11 573.55,-70.89 L500.00,150.00 L-34.23,201.48 Z"></path>
    </svg>
  </div>

  <!-- Back to the top -->
  <button
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"
    class="btn btn-link cannlytics-light-green-text no-underline me-3"
    style="float:right; transform:translateY(-50px); color:#ccc;"
    title="Go back to the top."
  >
    <small>Back to the top</small>
  </button>

  <!-- Footer -->
  <footer class="bg-cannlytics-green pb-4 py-md-5 px-2 px-md-5">
    <div class="container">
      <div class="row justify-content-center full-width m-0">

        <!-- Company Contact -->
        <div class="col col-md-4 me-6 me-md-3 ps-0">
          <div class="d-flex simple-column align-items-start flex-wrap">
            <div class="simple-flex align-items-center mb-2">
              <a
                class="navbar-brand simple-flex px-1"
                href="{% url 'index' %}"
                title="Go to the homepage."
              >
                <img
                  src="{% static 'cannlytics_website/images/logos/cannlytics_logo_with_text_dark.png' %}"
                  style="height:40px;"
                >
              </a>
            </div>
            <a
              class="medium-text"
              href="tel:{{ general.phone_number }}"
              title="Call us."
            >
              <small class="light-text light-green-hover">
                {{ general.phone }}
              </small>
            </a>
            <a
              class="medium-text"
              href="mailto:{{ general.phone }}"
              title="Email us anytime."
            >
              <small class="light-text light-green-hover">
                {{ general.email }}
              </small>
            </a>

            <!-- Subscribe Options -->
            <div id="subscribe" class="subscription w-100">
              <input
                id="email-input"
                class="form-control form-control-sm my-2"
                type="email"
                aria-describedby="emailHelp"
                placeholder="Add an email to get material..."
              >
              <button
                id="subscribe-button"
                class="btn btn-sm w-100 bg-gradient-green text-white mt-0"
                data-bs-toggle="modal"
                data-bs-target="#subscribeDialog"
              >
                Subscribe*
              </button>
              <!-- TODO: Pass plan_id from Django from Firestore -->
              <p class="lh-sm h6 mt-2 text-nowrap">
                <small class="text-secondary-on-light">
                * <a
                  class="cannlytics-light-green-text"
                  href="/subscriptions/checkout?id=P-7PY14290YP4037846MACLL6Q"
                  title="Get premium material now!"
                >
                  Premium subscriptions
                </a>
                $1/mo.
                </small>
              </p>
            </div>
          </div>
        </div>

        <!-- Index -->
        {% for group in footer.index %}
          <div class="col mx-6 mx-md-3">
            <h6 class="h5 footer-header serif text-light mb-3 mt-2">
              {{ group.group }}
            </h6>
            <ul class="list-unstyled">
              {% for item in group.links %}
                <li class="mb-1">
                  <a
                    class="fs-6 serif text-white cannlytics-light-green-text"
                    {% if item.app %}
                      href="{% url item.app item.path %}"
                    {% elif item.hashtag %}
                      href="/{{ item.url }}#{{ item.hashtag }}"
                    {% elif item.page %}
                      href="{% url 'page' page=item.page %}"
                    {% else %}
                      href="{{ item.url }}"
                    {% endif %}
                  >
                    <small>{{ item.title }}</small>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}<!-- End of Index -->

      </div>
    </div>

    <!-- Copyright -->
    <div class="container text-secondary-on-light">
      <p class="h6 text-light font-weight-light mt-5" style="max-width:420px;">
        <small>
          New to Cannlytics?
          Cannlytics is open source, so please
          <a
            class="cannlytics-light-green-text"
            href="https://github.com/cannlytics/cannlytics-website"
            title="Download the engine now!"
          >
            download
          </a>
          and customize it for yourself!
          The
          <a
            class="cannlytics-light-green-text"
            href="{% url 'cannlytics_docs:doc-section' product='website' section='get-started' %}"
            title="Start reading the docs."
          >
            getting started guide
          </a>
          can get you off the ground.
          Cannlytics is lovingly maintained by a
          <a
            class="cannlytics-light-green-text"
            href="{% url 'page' 'team' %}"
            titl="Meet the teem."
          >
            core team
          </a>
          of developers and scientists. Cannlytics is built with
          💖 thanks to
          <a
            class="cannlytics-light-green-text"
            href="{% url 'page' page='sponsors' %}"
            title="Meet our sponsors"
          >
            sponsors
          </a>
          and
          <a
            class="cannlytics-light-green-text"
            href="{% url 'page' page='contributors' %}"
            title="Meet our contributors"
          >
            contributors
          </a>
          like you!
        </small>
      </p>
      <p class="h6 mb-3">
        <small>
          <a
            class="text-white light-green-hover"
            href="{% url 'page' page='privacy-policy' %}"
          >
            Privacy Policy
          </a> |
          <a
            class="text-white light-green-hover"
            href="{% url 'page' page='terms-of-service' %}"
          >
            Terms of Service
          </a>
        </small>
      </p>

      <!-- Github star button -->
      <iframe
        class="mb-2"
        src="https://ghbtns.com/github-btn.html?user=cannlytics&repo=cannlytics-website&type=star&count=true"
        frameborder="0"
        scrolling="0"
        width="150"
        height="20"
        title="GitHub"
      ></iframe>

      <!-- Made with Django-->
      <!-- <p>
        <a href="http://www.djangoproject.com/">
          <img
            src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif"
            border="0"
            alt="Made with Django."
            title="Made with Django."
          />
        </a>
      </p> -->

    </div><!-- End of Copyright -->

  </footer>

  <!-- Footer JavaScript -->
  {% block page_js %}
    <script>

      // TODO: Add subscribe to input on enter.
      //document.getElementById('email-input').addEventListener('keydown', function(event) {
      //  if (event.keyCode === 13) cannlytics.website.subscribe();
      //});

    </script>
  {% endblock page_js %}

</html>
