<!doctype html>
<html>
<!--
  Traceability Transfers Page | Cannlytics Console
  Created: 6/13/2021
  Updated: 6/14/2021
  TODO:
    - Create, update, delete transfers
    * Get by start, end dates.
    * Filter by transfer type: incoming, outgoing, rejected
    * Search by UID for a transfer.
    * Get transfer packages.
    * Get transfer types.
    * Get package statuses.
    * Get transporter.
    * Get transporter details.
    * Get, create, update, delete transfer templates.
  
  Fields:

  actual_arrival_date_time: null
  actual_departure_date_time: null
  actual_return_arrival_date_time: null
  actual_return_departure_date_time: null
  contains_donation: false
  contains_plant_package: false
  contains_product_package: true
  contains_product_requires_remediation: false
  contains_remediated_product_package: false
  contains_testing_sample: true
  contains_trade_sample: false
  created_by_user_name: "KLS"
  created_date_time: "2021-06-04T19:36:30+00:00"
  delivery_count: 1
  delivery_id: 68264
  delivery_package_count: 2
  delivery_received_package_count: 2
  driver_name: ""
  driver_occupational_license_number: ""
  driver_vehicle_license_number: ""
  estimated_arrival_date_time: "2021-06-04T15:50:00.000"
  estimated_departure_date_time: "2021-06-04T15:00:00.000"
  estimated_return_arrival_date_time: null
  estimated_return_departure_date_time: null
  id: 68264
  last_modified: "2021-06-04T16:00:28-05:00"
  manifest_number: "0000068264"
  name: null
  package_count: 2
  received_date_time: "2021-06-04T21:00:21+00:00"
  received_delivery_count: 1
  received_package_count: 2
  recipient_facility_license_number: "12345"
  recipient_facility_name: "Cannlytics"
  shipment_license_type: "Licensed"
  shipment_transaction_type: "Standard"
  shipment_type_name: "Lab Sample Transfer"
  shipper_facility_license_number: "67890"
  shipper_facility_name: "Test Cultivator"
  transporter_facility_license_number: ""
  transporter_facility_name: ""
  vehicle_license_plate_number: ""
  vehicle_make: ""
  vehicle_model: ""

-->
{% extends "console/pages/traceability/traceability.html" %}

{% block section %}

  <!-- Table -->
  <div class="my-3 px-3">
    <h2 class="h6 mb-3 text-dark">Transfers</h2>
    <div class="table-responsive">

      <!-- Placeholder if no data -->
      <div id="data-placeholder">
        {% include "console/components/placeholders/table_placeholder.html" with
          height='200px'
          image='console/images/icons/multi-tone/certificate-flask.svg'
          message='No transfers were found for your active license.'
          title='No Transfers Found'
          url='/traceability/transfers/transfer?new=true'
          only
        %}
      </div>

      <!-- AG Grid Table -->
      <div id="data-table" class="d-none">
        <div
          id="transfers-table"
          class="ag-theme-alpine-dark"
          style="height: 350px; width:100%;"
        ></div>
      </div>

    </div>
  </div><!-- End of the table -->

  <!-- TODO: Detail section or page -->
  
{% endblock section %}

<!-- JavaScript -->
{% block console_js %}

  <script>
    cannlytics.traceability.getTransfers(
      'transfers-table',
      '{{ organizations.0.uid }}',
      '{{ organizations.0.licenses.0.license_number }}',
      '{{ organizations.0.licenses.0.user_api_key_secret.version_id }}',
    );
  </script>

{% endblock console_js %}
</html>
