<!doctype html>
<html>
<!--
  Analysis Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 12/17/2020
  Updated: 6/22/2021
  TODO:
    - Allow the user to reset, save (update and create), and delete.
    - Render additional fields, ability to add an additional field.
    - Load existing analytes.
    - Use a table instead of a list to display analytes.
-->
{% extends "console/console.html" %}
{% load icon %}
{% block console_css %}
  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
{% endblock console_css %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    {% include "console/components/links/breadcrumbs_dynamic.html" with
      breadcrumbs=analyses.breadcrumbs
    %}

    <!-- Title -->
    <div class="d-flex justify-content-between">
      <div class="px-3">
        <h1 class="fs-5 lh-base text-dark mb-0 mt-3">Analysis {{ request.GET.id }}</h1>
        <h2 class="fs-6 lh-base text-secondary mb-3">
          Manage analysis and its analytes.
        </h2>
      </div>

      <!-- Options (back, save) -->
      <div class="d-flex align-items-center">
        <button
          class="btn btn-sm btn-sm-light btn-md-light me-2"
          onclick="cannlytics.settings.exportData('analyses', '{{ request.GET.id }}');"
        >
          Export
        </button>
        <button
          class="btn btn-sm bg-gradient-green text-white"
          onclick="cannlytics.api.save('analyses', '{{ request.GET.id }}');"
        >
          Save
        </button>
      </div>
    </div><!-- End of title -->

    <!-- Fields -->
    <div class="mb-4 px-3">

      <!-- Form -->
      <form id="analyses-form">

        <!-- Dynamic fields -->
        {% include "console/comonents/forms/dynamic_form.html" with
          fields=analyses.fields
        %}

        <!-- Show additional fields -->
        {% include "console/comonents/forms/additional_fields.html" %}

      </form>

    </div><!-- End of fields -->

    <!-- TODO: Try to implement add analytes with AG-Grid table -->
    

    <!-- Danger zone (delete) -->
    {% if request.GET.id %}
      {% include "console/comonents/forms/delete_option.html" with
        model="analyses"
        model_singular="analysis"
        id=request.GET.id
      %}
    {% endif %}    


  </main>

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>

    // Load the project's data.
    cannlytics.api.viewProject();

    // Render any date pickers.
    $('.datepicker').datepicker({ format: 'mm/dd/yyyy' });

    // Enable tooltips.
    cannlytics.ui.enableTooltips();

  </script>
{% endblock console_js %}
</html>
