<!doctype>
<html>
<!--
  Console Sidebar | Cannlytics Console
  Created: 6/10/2021
  Updated: 7/8/2021
  TODO:
    - Make minimizable in an elegant manner.
  Optional:
    - Custom / re-arrangable fields.
    - Use organization data models for links
-->
{% load static icon %}
<nav
  id="sidebar-menu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar sidebar-sticky collapse pt-0"
>

  <!-- Index -->
  <ul class="nav flex-column pt-3">
    {% for item in data_models %}
      {% if organizations.0.type in item.user_type or item.user_type == '*' %}
        
        <!-- Navigation item -->
        <li class="nav-item px-2 {% if item.seperator %}border-top pt-2 mt-1{% endif %}{% if item.major %} mb-1{% endif %}">
          <a
            class="app-action nav-link d-flex {% if item.nested %} justify-content-between {% endif %} py-1 px-3 {% if item.key == screen %}active{% endif %}"
            {% if item.nested %}
            onclick="return cannlytics.ui.toggleSidebarNestedNav('{{ item.key }}');"
            {% else %}
            href="{{ item.url }}"
            {% endif %}
          >
            {% if item.icon %}
              {% icon item.icon class="me-2" height="16" width="16" %}
            {% endif %}
            {{ item.label }}
            {% if item.nested %}
              <div id="{{ item.key }}-toggle" class="{% if item.key == screen %}flipped{% endif %}">
                <img src="{% static 'console/images/layout/arrow_drop_down_light.svg' %}" class="arrow light-only"/>
                <img src="{% static 'console/images/layout/arrow_drop_down_dark.svg' %}" class="arrow dark-only"/>
              <div>
            {% endif %}
          </a>
        </li>
        
        {% if item.nested %}
          <!-- Nested menu -->
          <div
            id="{{ item.key }}-items"
            class="panel-collapse collapse {% if item.key == screen %}show{% endif %}"
          >
            <ul class="list-group sub-menu">
              {% for sub_item in item.nested %}
              <li class="nav-item px-2 ps-4 {% if sub_item.key == unit and item.product == section %}active{% endif %}">
                <a
                  class="nav-link d-flex py-1 px-3"
                  href="{{ sub_item.url }}"
                >
                  <small class="serif">{{ sub_item.key }}</small>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div><!-- End of nested menu-->
        {% endif %}

      {% endif %}
    {% endfor %}
  </ul><!-- End of main index -->
</nav>
</html>
