<!doctype>
<html>
<!--
  Console Sidebar | Cannlytics Console
  Created: 6/10/2021
  Updated: 6/10/2021
  TODO:
    - Make minimizable in an elegant manner.
  Optional:
    - Custom / re-arrangable fields.
-->
{% load static icon %}
<nav
  id="sidebar-menu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar sidebar-sticky collapse pt-0"
>

    <!-- Create Organization Prompt -->
    {% comment %} {% if not organization and not user.disabled_org_prompt %}
      <div class="text-center border-bottom px-2 pb-4">
        <img
          src="{% static 'console/images/icons/multi-tone/lab_large.png' %}"
          style="width:175px;"
        >
        <h4 class="fs-5 mt-0 mb-0 fw-bold">Get started</h4>
        <p class=""><small>Create or join an organization to get started.</small></p>
        <div class="d-flex align-items-center justify-content-center mt-2">
          <a
            class="btn btn-sm bg-gradient-orange text-white text-no-wrap me-1"
            href="/organizations"
          >
            Setup your Organization
          </a>
        </div>
      </div>
    {% endif %} {% endcomment %}

    <!-- Index -->
    <ul class="nav flex-column pt-2">
      {% for item in sidebar.lab_index %}
        {% if user.type in item.user_type or item.user_type == '*' %}
          <!-- Navigation item -->
          <li class="nav-item px-2 mb-1 {% if item.seperator %}border-top pt-2 mt-1{% endif %}">
            <a
              class="app-action nav-link d-flex {% if item.nested %} justify-content-between {% endif %} py-1 px-3 {% if item.slug == screen %}active{% endif %}"
              {% if item.nested %}
              onclick="return cannlytics.ui.toggleSidebarNestedNav('{{ item.slug }}');"
              {% else %}
              href="{{ item.url }}"
              {% endif %}
            >
              {% if item.icon %}
                {% icon item.icon class="me-2" height="16" width="16" %}
              {% endif %}
              {{ item.title }}
              {% if item.nested %}
                <div id="{{ item.slug }}-toggle" class="{% if item.slug == screen %}flipped{% endif %}">
                  <img src="{% static 'console/images/layout/arrow_drop_down_light.svg' %}" class="arrow light-only"/>
                  <img src="{% static 'console/images/layout/arrow_drop_down_dark.svg' %}" class="arrow dark-only"/>
                <div>
              {% endif %}
            </a>
          </li>
          {% if item.nested %}
            <!-- Nested menu -->
            <div
              id="{{ item.slug }}-items"
              class="panel-collapse collapse {% if item.slug == screen %}show{% endif %}"
            >
              <ul class="list-group sub-menu">
                {% for sub_item in item.nested %}
                <li class="nav-item px-2 mb-1 ps-4 {% if sub_item.slug == unit and item.product == section %}active{% endif %}">
                  <a
                    class="nav-link d-flex py-1 px-3"
                    href="{{ sub_item.url }}"
                  >
                    <small class="serif">{{ sub_item.title }}</small>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div><!-- End of nested menu-->
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul><!-- End of main index -->


  <!-- FIXME: Toggle Sidebar
    data-bs-toggle="collapse"
    data-bs-target="#sidebar-menu"
    aria-controls="sidebar-menu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  -->
  <button
    id="sidebar-toggle"
    class="d-none d-md-flex btn nav-link navbar-toggle position-absolute text-secondary"
    style="right:0; bottom:.25rem; background: transparent;"
    role="button"
    type="button"
    onclick="cannlytics.ui.hideSidebar();"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    title="Hide the sidebar"
  >
    {% icon "sidebar" width="16px" height="16px" %}
  </button>

</nav>

<!-- FIXME: Show the sidebar after hidden. (Show nav menu instead?) -->
<!-- <button
  id="sidebar-console-toggle"
  class="btn nav-link navbar-toggle d-flex position-absolute text-secondary"
  style="left:0; bottom:42px; width:unset; background: transparent; z-index: 1000;"
  role="button"
  type="button"
  onclick="cannlytics.ui.showSidebar();"
  data-bs-toggle="tooltip"
  data-bs-placement="right"
  title="Show the sidebar"
>
  {% icon "sidebar" width="16px" height="16px" %}
</button> -->

</html>
