<!doctype html>
<html>
<!--
  Traceability Settings Edit License Page | Cannlytics Console
  Created: 6/14/2021
  Updated: 6/14/2021
  TODO: Get license data (get_facilities)

  Fields:

    'hire_date': '2021-06-15',
    'is_owner': False,
    'is_manager': False,
    'occupations': [],
    'name': 'Cannlytics',
    'alias': None,
    'display_name': 'Cannlytics',
    'credentialed_date': '2021-04-20',
    'support_activation_date': None,
    'support_expiration_date': None,
    'support_last_paid_date': None,
    'facility_type': {
      'is_medical': True,
      'is_retail': False,
      'is_hemp': False,
      'restrict_harvest_plant_restore_time_hours': None,
      'total_member_patients_allowed': None,
      'can_grow_plants': False,
      'can_create_opening_balance_plant_batches': False,
      'can_tag_plant_batches': False,
      'can_assign_locations_to_plant_batches': False,
      'plants_require_patient_affiliation': False,
      'plant_batches_can_contain_mother_plants': False,
      'can_update_plant_strains': False,
      'can_track_vegetative_plants': False,
      'can_create_immature_plant_packages_from_plants': False,
      'can_package_vegetative_plants': False,
      'can_package_waste': False,
      'can_report_harvest_schedules': False,
      'can_submit_harvests_for_testing': False,
      'can_require_harvest_sample_lab_test_batches': False,
      'can_create_opening_balance_packages': False,
      'can_create_derived_packages': True,
      'can_assign_locations_to_packages': True,
      'can_update_locations_on_packages': True,
      'packages_require_patient_affiliation': False,
      'can_create_trade_sample_packages': False,
      'can_donate_packages': False,
      'can_submit_packages_for_testing': True,
      'can_create_process_validation_packages': False,
      'can_require_package_sample_lab_test_batches': True,
      'can_request_product_remediation': False,
      'can_remediate_packages_with_failed_lab_results': False,
      'can_infuse_products': False,
      'can_test_packages': True,
      'can_transfer_from_external_facilities': False,
      'can_sell_to_consumers': False,
      'can_sell_to_patients': False,
      'can_sell_to_external_patients': False,
      'can_sell_to_caregivers': False,
      'advanced_sales': False,
      'sales_require_patient_number': False,
      'sales_require_external_patient_number': False,
      'sales_require_external_patient_identification_method': False,
      'sales_require_caregiver_number': False,
      'sales_require_caregiver_patient_number': False,
      'can_deliver_sales_to_consumers': False,
      'sales_delivery_require_consumer_id': False,
      'can_deliver_sales_to_patients': False,
      'sales_delivery_require_patient_number': False,
      'sales_delivery_require_recipient_name': False,
      'can_have_member_patients': False,
      'can_report_patient_check_ins': False,
      'can_specify_patient_sales_limit_exemption': False,
      'can_report_patients_adverse_responses': False,
      'can_report_strain_properties': True
    },
    'license': {
      'number': 'LAAA-MOXZ-FQ1G',
      'start_date': '2020-05-01',
      'end_date': '2021-05-06',
      'license_type': 'Medical Testing Laboratory'
    }

-->
{% extends "console/pages/traceability/traceability.html" %}
{% load icon %}
{% block section %}

  <!-- Header -->
  <div class="px-3">
    <h1 class="fs-5 lh-base text-dark mb-0 mt-3">Edit license</h1>
    <h2 class="fs-6 lh-base text-secondary mb-3">
      Update your licenses. A new version of your user API key will be created in Google Secret Manager.
    </h2>
  </div>

  <!-- TODO: Get license data -->

  <!-- TODO: Display the data -->
  <!-- Licenses -->
  <div id="license-fields" class="mb-4 px-3">

    <!-- Licenses form -->
    <form id="licenses-form">
      <div class="col-6">
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label col-3">License</label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            name="license_number"
            style="max-width:150px;"
            value="{{ request.GET.license }}"
          >
        </div>
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label col-3">License Type</label>
          <select
            class="form-select form-select-sm col-8"
            aria-label="License type"
            name="license_type"
            style="max-width:150px;"
          >
            <!-- Optional: Dynamic license types-->
            <option value="lab">Lab</option>
            <option value="producer-cultivator">Cultivator</option>
            <option value="producer-processor">Processor</option>
            <option value="retailer">Retailer</option>
            <option value="other">Other</option>
          </select>
          <!-- Optional: Let user specify type if other -->
          <input
            type="text"
            class="form-control form-control-sm d-none"
            placeholder="Please specify..."
          >
        </div>
        <div class="d-flex row-md-2 mb-3">
          <label class="form-label col-3">State</label>
          <select
            class="form-select form-select-sm license-state-selection col-4"
            aria-label="License type"
            name="state"
            style="max-width:150px;"
          >
            <!-- TODO: Dynamically list states where Cannlytics is verified -->
            <option value="OK">Oklahoma</option>
            <!-- <option value="other">Other</option> -->
          </select>
        </div>
        <!-- Optional: Only show API key if state is verified by Cannlytics -->
        <div class="d-flex row-md-3 mb-3">
          <label class="form-label col-3">
            User API Key
            <button
              type="button"
              class="btn btn-tooltip-help"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              title="Integration with Metrc requires your user's API key, which only you can generate and obtain. This API key is tied directly to your Metrc user account (not the company or facility), and everything your software does is tied to your user's API Key. Your software will, however, be limited by the permissions granted to your user within Metrc.<br><br>Your user API key is encrypted and protected in accordance with our <a href='https://docs.cannlytics.com/about/security-policy' target='_blank'>security policy</a>.<br><br>Please see the <a href='https://api-ok.metrc.com/Documentation#getting-started_user_api_key' target='_blank'>Metrc documentation</a> for more information."
            >
              {% icon 'help-circle' width="18px" height="18px" class="text-secondary" %}
            </button>
          </label>
          <input
            type="text"
            class="form-control form-control-sm col-8"
            id="license-type-other-1"
            name="user_api_key"
            type="password"
          >
        </div>
      </div>
    </form>

    <!-- TODO: Allow the user to reset or save the license -->
    <!-- Add license button -->
    <div class="mt-3">
      <a
        class="btn btn-sm btn-secondary me-1"
        href="/traceability/settings"
      >
        Cancel
      </a>
      <button
        class="btn btn-sm bg-gradient-green text-white"
        onclick="cannlytics.traceability.saveLicenses('{{ organizations.0.uid }}');"
      >
        Save
      </button>
    </div>

  </div><!-- End of license fields -->

  <!-- Danger zone -->
  <div class="card bg-transparent border-danger my-5 mx-3">
    <div class="card-body text-dark">
      <div class="d-flex">
        <div class="col"> 
          <h5 class="card-title fs-6">Delete this license</h5>
          <p class="card-text fs-6">
            <small>Once deleted, it will be gone forever. Please be certain.</small>
          </p>
        </div>
        <div class="d-flex align-items-center">
          <a
            href="/traceability/settings/delete-license?license={{ request.GET.license }}"
            class="btn btn-sm btn-light text-danger"
          >
            <b>Delete license</b>
          </a>
        </div>
      </div>
    </div>
  </div>


{% endblock section %}

<!-- TODO: Set license_type and state on page load -->

</html>
