<!doctype html>
<html>
<!--
  Video Banner | Cannlytics Website
  Created: 2/12/2024
  Updated: 2/12/2024
-->
{% load static icon %}

<!-- Open Collective Contributors -->
<div class="container mt-5">
  <h1 class="pt-4 fw-bold text-dark serif">Open Source Contributors</h1>
  <p class="text-dark mt-2 mb-0" style="max-width:540px;">
    These are the heros who put their money where their mouth is to advance cannabis science.
  </p>
  <div id="financial-contributors" class="d-flex flex-wrap"></div>
</div>

{% block page_js %}
<script>

  // Get Open Collective contributors.
  function getOpenCollectiveContributors() {
    var slug = 'cannlytics-company';
    var limit = 25;
    var offset = 0;
    fetch(`https://opencollective.com/${slug}/members/all.json?limit=${limit}&offset=${offset}`)
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        const contributorsDiv = document.getElementById("financial-contributors");
        data
          .filter(function(member) {
            return member.role === 'BACKER';
          })
          .forEach(function(member) {
            // Render a card.
            const card = document.createElement('div');
            card.className = 'card col-10 col-md-10 col-lg-5 m-3';
            const cardBody = document.createElement('div');
            cardBody.className = 'card-body bg-transparent text-dark';

            // Add the contributor's name.
            const nameElement = document.createElement('h5');
            nameElement.className = 'card-title fs-4 fw-bold fancy-serif text-nowrap';
            nameElement.textContent = member.name;

            // Add contributor's details.
            var tierBadge;
            if (member.tier == 'Buddha') {
              tierBadge = document.createElement('span');
              tierBadge.className = 'badge rounded-pill text-bg-warning fs-6 fancy-serif mt-1';
              tierBadge.textContent = 'Buddha';
            } else if (member.tier == 'Cannabis Data Scientist') {
              tierBadge = document.createElement('span');
              tierBadge.className = 'badge rounded-pill text-bg-primary fs-6 fancy-serif  mt-1';
              tierBadge.textContent = 'Cannabis Data Scientist';
            } else {
              tierBadge = document.createElement('span');
              tierBadge.className = 'badge rounded-pill text-bg-success fs-6 fancy-serif mt-1';
              tierBadge.textContent = 'Seedling';
            }

            // Add the amount donated.
            const amountRow = document.createElement('div');
            const amountElement = document.createElement('h2');
            amountElement.className = 'card-text fw-bold simple-serif fs-1 mt-0 mb-0';
            amountElement.textContent = `$${member.totalAmountDonated}`;

            // Add small text "total contributions!"
            const smallTextElement = document.createElement('p');
            smallTextElement.className = 'text-secondary fs-6 mt-0';
            smallTextElement.textContent = "total contributions!";
            amountRow.className = 'row'
            amountRow.appendChild(amountElement);
            amountRow.appendChild(smallTextElement);

            // Add the user's `image` with a link to their `profile`.
            // Use `https://cannlytics.com/robohash/${member.MemberId}` if no image.
            const imgDiv = document.createElement('div');
            imgDiv.style.width = '128px';
            imgDiv.style.height = '128px';
            imgDiv.style.borderRadius = '50%';
            imgDiv.style.backgroundSize = 'cover';
            imgDiv.style.backgroundPosition = 'center';
            imgDiv.style.float = 'left';
            imgDiv.style.marginRight = '10px';
            if (member.image) {
                imgDiv.style.backgroundImage = `url(${member.image})`;
            } else {
                imgDiv.style.backgroundImage = `url(https://cannlytics.com/robohash/${member.MemberId}.png?size=128)`;
            }

            // Add a link to the image.
            const imgLinkElement = document.createElement('a');
            if (member.profile) {
                imgLinkElement.href = member.profile;
            } else {
                imgLinkElement.href = `https://opencollective.com/${member.name}`;
            }
            imgLinkElement.title = member.name;
            imgLinkElement.appendChild(imgDiv);

            // Add the elements to the card.
            cardBody.appendChild(imgLinkElement); 
            cardBody.appendChild(nameElement);
            cardBody.appendChild(tierBadge);
            cardBody.appendChild(amountRow);
            card.appendChild(cardBody);
            contributorsDiv.appendChild(card);
          });

        // After rendering all contributor cards, add the promo card.
        renderPromoCard();
      })
      .catch(function(error) {
        console.error("Error: " + error);
      });
  }

  function renderPromoCard() {
    const promoCard = document.createElement('div');
    promoCard.className = 'card col-10 col-md-10 col-lg-5 m-3';
    const cardBody = document.createElement('div');
    cardBody.className = 'card-body bg-transparent text-dark markdown';

    // Title
    // FIXME: Make this a link.
    const titleElement = document.createElement('h5');
    titleElement.className = 'card-title fs-4 fw-bold fancy-serif';
    titleElement.textContent = "Contribute Yourself!";

    // Description
    const descriptionElement = document.createElement('p');
    descriptionElement.className = 'card-text fs-6 lh-lg';
    descriptionElement.innerHTML = 'If you find value from Cannlytics, then please consider <a class="serif text-gradient" href="https://opencollective.com/cannlytics-company">contributing your time, your talent, or your treasure</a>. Every dollar goes to helping advance cannabis science!';
    // We also accept one time contributions via <a class="serif text-gradient" href="https://www.paypal.me/cannlytics">PayPal</a>. No amount is too little. You can also see the <a class="serif text-gradient" href="https://github.com/cannlytics/cannlytics/blob/main/docs/developers/contributing.md">contributing guide</a>, explore the <a class="serif text-gradient" href="https://github.com/cannlytics">GitHub repositories</a>, and <a class="serif text-gradient" href="https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request">create a pull request</a> if you wish to make a code contribution.

    // Image
    const imgDiv = document.createElement('img');
    imgDiv.src = "{% static 'website/images/emojies/factory-worker.svg' %}";
    imgDiv.alt = "Contribute";
    imgDiv.style.width = '100px'; // Adjust as needed
    imgDiv.style.height = '100px'; // Adjust as needed
    imgDiv.className = 'float-start me-3';

    // Add elements to the card body
    cardBody.appendChild(imgDiv);
    cardBody.appendChild(titleElement);
    cardBody.appendChild(descriptionElement);

    // Append the card body to the promo card
    promoCard.appendChild(cardBody);

    // Add the promo card to the contributors div
    document.getElementById("financial-contributors").appendChild(promoCard);
  }

  // Get the OpenCollective contributors.
  getOpenCollectiveContributors();

</script>
{% endblock %}

</html>
