<!doctype html>
<html>
<!--
  Demo Page | Cannlytics Website
  Created: 1/5/2021
  Updated: 4/10/2022
  Optional:
    - Make rendering dynamic with a for loop.
-->
{% load static icon %}
<div class="container">

  <!-- Title -->
  <h2 class="serif text-dark pt-5 mb-0">How can you use Cannlytics?</h2>

  <!-- Console -->
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-6 pt-3 px-3 pe-lg-5 pt-md-5 text-start overflow-hidden">
      <div class="my-3 py-lg-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Ficons%2Fai-icons%2Fcertificate-pass.svg?alt=media&token=4c6b59e9-f5c5-44b8-9e1a-54d24d3c126e"
          class="pe-1"
          style="float:left;width:120px;height:120px;"
        >
        <h2 class="fs-3 text-dark fw-bold my-2">
          Get cannabis data.
        </h2>
        <p class="fs-6 double-line mb-2">
          Abundant, rich, valuable cannabis data is so close,
          yet so far away!
          Cannlytics puts these vital data in your hands
          by finding, wrangling, standardizing, and cleanly
          returning the data to you.
        </p>
        <div class="d-none d-lg-flex mt-3">
          <a
            class="btn btn-sm-light btn-md-light serif"
            href="https://data.cannlytics.com"
          >
            Get cannabis data &rarr;
          </a>
        </div>
      </div>
    </div>
    <a class="col-11 col-md-8 col-lg-6" href="https://data.cannlytics.com">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Fdemos%2Fcannlytics-data%2Fcannlytics-data-app-light.png?alt=media&token=91f7c01c-d6dd-4e7f-9f82-5d8faef770a2"
        class="rounded shadow light-only"
        height="275px"
      >
      <img
        src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Fdemos%2Fcannlytics-data%2Fcannlytics-data-app-dark.png?alt=media&token=fb10a14c-bd45-4bcd-b6fe-63c0b749d9f8"
        class="rounded shadow dark-only"
        height="275px"
      >
    </a>
  </div>

  <!-- API -->
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-6 pt-3 px-3 pe-lg-5 pt-md-5 text-start overflow-hidden">
      <div class="my-3 py-lg-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Ficons%2Fai-icons%2Ftree-brain.svg?alt=media&token=098cb44b-228a-443e-9cb2-6ab4573f9fc6"
          class="pe-1"
          style="float:left;width:150px;height:150px;"
        >
        <h2 class="fs-3 text-dark fw-bold mb-2">
          The Cannlytics API
        </h2>
        <p class="fs-6 double-line mb-2">
          Do you have a technical staff? Of course you do, you're in the cannabis industry!
          Therefore you can use the Cannlytics API to programmatically manage your operations and
          interface with your data. You have all of your data at your finger tips,
          whenever and wherever you please.
        </p>
        <div class="d-none d-lg-flex mt-3">
          <a
            class="btn btn-sm-light btn-md-light serif"
            href="https://docs.cannlytics.com/api/about"
          >
            Read the Docs &rarr;
          </a>
        </div>
      </div>
    </div>
    <div class="codehilite rounded col-11 col-md-8 col-lg-6 text-start overflow-hidden px-3">
    <button
      class="copy-btn bg-transparent border-0 float-end app-action pt-2"
      onclick="cannlytics.ui.copyToClipboard(document.getElementById('codeblock-3').innerHTML)"
      title="Copy snippet"
    >
      {% icon "copy" class="link-secondary" height="24px" width="24px" %}
    </button>
    <pre><span></span><code id="codeblock-3"><span class="p">{</span>
  <span class="nx">analyses</span><span class="o">:</span> <span class="p">[...],</span>
  <span class="nx">lab_id</span><span class="o">:</span> <span class="s2">"cann-do"</span><span class="p">,</span>
  <span class="nx">sample_name</span><span class="o">:</span> <span class="s2">"Super Easy"</span><span class="p">,</span>
  <span class="nx">results</span><span class="o">:</span> <span class="p">[...],</span>
<span class="p">}</span>
</code></pre></div>
  </div>

  <!-- Plug and Play -->
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-6 pt-3 px-3 pe-lg-5 pt-md-5 text-start overflow-hidden">
      <div class="my-3 py-lg-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Ficons%2Fai-icons%2Fschedule-connection.svg?alt=media&token=3e2d7917-3351-41a7-a9ca-c1581bcbf32d"
          class="pe-1"
          style="float:left;width:150px;height:150px;"
        >
        <h2 class="fs-3 text-dark fw-bold my-2">
          Plug &amp; Play
        </h2>
        <p class="fs-6 double-line mb-2">
          Once you have your copy of Cannlytics,
          you can pick and choose engine components as you need them.
          Perhaps you need an addition to your existing software. Simply
          grab what you need and you're free to use it.
        </p>
        <div class="d-none d-lg-flex mt-3">
          <a
            class="btn btn-sm-light btn-md-light serif"
            href="https://pypi.org/project/cannlytics/"
          >
            Use the SDK &rarr;
          </a>
        </div>
      </div>
    </div>
<div class="codehilite rounded col-11 col-md-8 col-lg-6 text-start overflow-hidden px-3">
<button
class="copy-btn bg-transparent border-0 float-end app-action pt-2"
onclick="cannlytics.ui.copyToClipboard(document.getElementById('codeblock-2').innerHTML)"
title="Copy snippet"
>
{% icon "copy" class="link-secondary" height="24px" width="24px" %}
</button>

<pre><span></span><code id="codeblock-2"><span class="c1"># pip install cannlytics</span>
<span class="kn">from</span> <span class="nn">cannlytics.metrc</span> <span class="kn">import</span> <span class="n">Metrc</span>

<span class="c1"># Connect to Metrc.</span>
<span class="n">track</span> <span class="o">=</span> <span class="n">Metrc</span><span class="p">(</span><span class="s2">"vendor-api-key"</span><span class="o">, </span><span class="s2">"user-api-key"</span><span class="p">)</span>

<span class="c1"># Get your lab results!</span>
<span class="n">results = track.get_lab_results(uid=</span><span class="s2">"tag"</span><span class="o">)</span>
</code></pre></div>
  </div>

</div>
</html>
