<!doctype html>
<html>
  <!--
    Hero | Cannlytics Website
    Created: 1/5/2021
    Updated: 7/27/2021
  -->
  {% load static %}
  <div class="position-relative overflow-hidden text-center text-lg-start pb-3">

    <!-- Wave -->
    <div class="wave big">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M3.58,140.29 C137.89,29.76 225.35,138.31 596.12,-23.51 L500.00,150.00 L-34.23,201.48 Z"></path>
      </svg>
    </div>

    <!-- Hero Text -->
    <div class="d-flex mt-auto justify-content-center flex-wrap-reverse">
      <div class="col-lg-5 mt-4 px-3 px-lg-0" style="z-index:1001;">
        <h1 class="display-4 fw-bold text-dark light-only">{{ hero.title }}</h1>
        <h1 class="display-4 fw-bold text-gradient-reverse dark-only">{{ hero.title }}</h1>
        <p class="lead double-line text-dark mt-3 mb-4">
          {{ hero.message }}
        </p>
        <a
          class="btn bg-gradient-green text-white serif text-nowrap me-2"
          style="width:9rem;"
          href="{{ hero.primary_action_url }}"
        >
          {{ hero.primary_action }}
        </a>
        <a
          class="btn bg-gradient-orange text-white serif text-nowrap"
          style="width:9rem;"
          href="{{ hero.secondary_action_url }}"
        >
          {{ hero.secondary_action }}
        </a>
      </div>
      <div class="col no-grow mb-3 mb-lg-5" style="z-index:1001;">
        <img
          src="{% static hero.image %}"
          class="hero-image"
        >
      </div>
    </div>
  </div>
</html>