<!doctype html>
<html>
  <!--
    Hero | Cannlytics Website
    Created: 1/5/2021
    Updated: 8/20/2023
  -->
  {% load static %}
  <div class="position-relative overflow-hidden text-lg-start pb-3"
    style="
    background-image: url({{ hero.image }});
    background-size:cover;
    background-position:top left;
    background-repeat: no-repeat;
    background-color: #101013ff;"
  >
  <!-- #101013ff; -->

    <!-- Hero Text -->
    <div class="d-flex mt-auto justify-content-start flex-wrap-reverse mx-5">
      
      <div class="col-lg-5 card card-opaque mt-4 px-3 py-3" style="z-index:1001;">
        
        <!-- Title -->
        <h1 class="display-4 fw-bold text-dark light-only">
          {{ hero.title | safe }}
        </h1>
        <h1 class="display-4 fw-bold text-dark dark-only">
          {{ hero.title | safe }}
        </h1>
        
        <!-- Message -->
        <p class="text-dark mt-2 mb-3" style="max-width:540px;">
          {{ hero.message }}
        </p>
  
        <!-- Subscribe -->
        <form action="" method="POST">
          {% csrf_token %}
          <div 
            id="subscribe-field"
            class="subscription w-75 mb-4"
            style="max-width:420px;"
          >
            <input
              id="subscribe-email"
              class="form-control form-control-sm my-2"
              type="email"
              aria-describedby="subscribe-button"
              placeholder="Get your monthly dose of data..."
              {% if user.email and not user.newsletter %}value="{{ user.email }}"{% endif %}
            >
            <button
              id="subscribe-button"
              class="btn btn-sm w-100 bg-gradient-green serif text-white mt-0"
              onclick="cannlytics.payments.subscribe(null, 'subscribe')"
              type="button"
            >
              Subscribe to get monthly data
            </button>
            <button
              id="subscribe-button-loading"
              class="btn btn-sm w-100 bg-gradient-green text-white mt-0 d-none"
              type="button"
              title="Loading"
              disabled
            >
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</html>
