<!doctype html>
<html>
<!--
  Live Analytics | Cannlytics Website
  Created: 2/10/2024
  Updated: 4/27/2024
-->
{% load static %}
<div class="container">

  <!-- TODO: Current Average with percent change underneath -->

  <!-- Chart -->
  <select id="series-select">
    <option value="total_cannabinoids">Total Cannabinoids</option>
    <option value="total_thc">Total THC</option>
    <option value="total_cbd">Total CBD</option>
    <option value="total_cbg">Total Terpenes</option>
    <!-- TODO: Divider for cannabinoids (13-18) -->
    <!-- TODO: Divider for terpenes (38-42) -->
  </select>
  <div id="chart" style="width:100%;hieght:300px;"></div>

  <!-- TODO: Change time span: 1W, 1M, 3M, YTD, 1Y, All -->

</div>

<!-- JavaScript -->
{% block page_js %}
<script>

  // Initalize live results.
  cannlytics.analytics.initializeLiveResults();

</script>
{% endblock %}
