<!doctype html>
<html>
<!--
  Metrc State List | Cannlytics Website
  Created: 11/15/2021
  Updated: 11/22/2021
  Args:
    verifications (list): A list of state verification data (dict).
-->
{% load static %}

<!-- List -->
<section class="container d-flex flex-column pt-5">

  <!-- Title -->
  <div class="w-100">
    <h2 id="metrc" class="serif text-dark mb-3">
      {% comment %} <svg class="pe-1" style="float:left;width:125px;height:125px;">
        <use href="{% static "website/images/emojies/green-shield.svg" %}#green-shield-emoji"></use>
      </svg> {% endcomment %}
      <img src="https://firebasestorage.googleapis.com/v0/b/cannlytics.appspot.com/o/assets%2Fimages%2Ficons%2Fai-icons%2Fhemp-leaf-shield.svg?alt=media&token=304fc920-885f-43fa-8327-eadab4318950"
        class="pe-1"
        style="float:left;width:200px;height:200px;"
      >
      Cannlytics Integrates with Metrc!
    </h2>
    <p class="fs-6 double-line mb-3" style="max-width:720px;">
      Cannlytics is a
      <a
        href="https://www.metrc.com/validated-integrators/#cannlytics"
        class="serif text-dark fw-bold background-hover"
      >
        validated Metrc integrator
      </a>
      in the following states.
      If you need assistance, a fully-managed solution, or help automating your
      interactions with Metrc, then you can
      <a href="/support" class="serif text-dark background-hover fw-bold">
        sign up for support &rarr;
      </a>
    </p>
  </div>

  <!-- State flags -->
  <!-- Optional: Replace external state URLs with internal pages? -->
  <ul class="three-columns mt-3" style="max-width:720px;">
    {% for item in verifications %}
      <li class="mb-2" style="display:flex;">
        <table>
          <tr class="d-flex align-items-center justify-content-center">
            <td class="pb-0 pe-2">
              {% with 'website/images/emojies/state-flags/'|add:item.state_name|lower|add:'-flag.png' as image_url %}
                <img
                  src="{% static image_url %}"
                  style="height:auto;max-height:45px;max-width:45px;-webkit-column-break-inside: avoid;"
                >
              {% endwith %}
            </td>
            <td class="pb-0">
              <h5 class="my-0 fs-6 serif text-dark">
                {{ item.state_name }}
              </h5>
            </td>
          </tr>
        </table>
      </li>
    {% endfor %}
  </ul>

  <!-- Python package mention -->
  <p class="fs-6 double-line mb-3" style="max-width:720px;">
    You can also utilize the Metrc interface in the
    <a
      class="serif text-dark background-hover fw-bold"
      href="https://pypi.org/project/cannlytics/"
    >
      Cannlytics Python package
      <svg class="" style="width:24px;height:24px;">
        <use href="{% static "website/images/emojies/snake.svg" %}#snake-emoji"></use>
      </svg>
    </a>
  </p>

  <!-- Call to action -->
  <div class="markdown">
    <p class="text-start mt-0">
      <a
        class="btn btn-sm bg-gradient-green text-white"
        href="{% url 'page' page='contact' %}?topic=metrc"
      >
        <small>Integrate now</small> &rarr;
      </a>
    </p>
  </div>

</section>

</html>
