<!doctype html>
<html>
<!--
  Video Banner | Cannlytics Website
  Created: 7/27/2021
  Updated: 4/10/2022
  Fields:
    title
    description
    length
    cover_image_url
    video_id
    video_url
-->
{% load static icon %}

<!-- Title -->
<section class="container mb-2 pt-5">
  <h2 class="mb-3 pt-5">
    <a
      class="serif text-dark"
      href="{% url 'videos' %}"
    >The Cannabis Data Science Meetup</a>
  </h2>
</section>

<!-- Recent Video Cards -->
<section class="container pt-4">

  <!-- Carousel -->
  <div id="video-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="row row-cols-3 justify-content-md-start">
          {% for video in video_archive|slice:"0:3" %}
            <div class="col-10 col-md-6 col-lg-4 mb-4 mb-lg-0 px-4">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <a href="{{ video.video_url }}" target="_blank">
                {% if video.premium %}
                  <div class="d-flex justify-content-end">
                    <span class="badge badge-pill bg-gradient-orange position-absolute m-1">Premium</span>
                  </div>
                {% endif %}
                  <img
                    src="{{ video.cover_image_url }}"
                    class="w-100"
                    stlye="max-height:125px;"
                  >
                </a>
                <h6 class="lh-md mt-3 mb-1 pb-0">
                  <a
                    class="background-hover text-dark fw-bold serif"
                    href="{{ video.video_url }}"
                    target="_blank"
                  >
                    {{ video.title }}
                  </a>
                </h6>
                <div class="mb-1">
                  <small  class="serif text-secondary-on-dark">{{ video.published|date }}</small>
                </div>
                <p class="text-secondary-on-dark fs-6">
                  <small>
                    {{ video.description|truncatechars:165 }}
                  </small>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="row row-cols-3 justify-content-md-start">
          {% for video in video_archive|slice:"3:6" %}
            <div class="col-10 col-md-6 col-lg-4 mb-4 mb-lg-0 px-4">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <a href="{{ video.video_url }}" target="_blank">
                {% if video.premium %}
                  <div class="d-flex justify-content-end">
                    <span class="badge badge-pill bg-gradient-orange position-absolute m-1">Premium</span>
                  </div>
                {% endif %}
                  <img
                    src="{{ video.cover_image_url }}"
                    class="w-100"
                    stlye="max-height:125px;"
                  >
                </a>
                <h6 class="lh-md mt-3 mb-1 pb-0">
                  <a
                    class="background-hover text-dark fw-bold serif"
                    href="{{ video.video_url }}"
                    target="_blank"
                  >
                    {{ video.title }}
                  </a>
                </h6>
                <div class="mb-1">
                  <small  class="serif text-secondary-on-dark">{{ video.published|date }}</small>
                </div>
                <p class="text-secondary-on-dark fs-6">
                  <small>
                    {{ video.description|truncatechars:165 }}
                  </small>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Slide 3 -->
      <!-- Optional: Have the final card as a "View More" card. -->
      <div class="carousel-item">
        <div class="row row-cols-3 justify-content-md-start">
          {% for video in video_archive|slice:"6:9" %}
            <div class="col-10 col-md-6 col-lg-4 mb-4 mb-lg-0 px-4">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <a href="{{ video.video_url }}" target="_blank">
                {% if video.premium %}
                  <div class="d-flex justify-content-end">
                    <span class="badge badge-pill bg-gradient-orange position-absolute m-1">Premium</span>
                  </div>
                {% endif %}
                  <img
                    src="{{ video.cover_image_url }}"
                    class="w-100"
                    stlye="max-height:125px;"
                  >
                </a>
                <h6 class="lh-md mt-3 mb-1 pb-0">
                  <a
                    class="background-hover text-dark fw-bold serif"
                    href="{{ video.video_url }}"
                    target="_blank"
                  >
                    {{ video.title }}
                  </a>
                </h6>
                <div class="mb-1">
                  <small  class="serif text-secondary-on-dark">{{ video.published|date }}</small>
                </div>
                <p class="text-secondary-on-dark fs-6">
                  <small>
                    {{ video.description|truncatechars:165 }}
                  </small>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>

    <!-- Carousel Navigation -->
    <!-- FIXME:
      * Show navigation buttons on mobile?
      * Have a darker color button on light background.
    -->
    <button class="carousel-control-prev" type="button" data-bs-target="#video-carousel" data-bs-slide="prev" style="transform: translateX(-6rem);">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#video-carousel" data-bs-slide="next" style="transform: translateX(6rem);">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

</section>

<!-- Actions -->
<section class="container mt-4 pb-5">
  <div class="grid d-flex flex-wrap align-items-center">
    <a
      class="btn btn-sm bg-gradient-green text-white me-2 mt-2 text-nowrap"
      href="{% url 'videos' %}"
      type="button"
    >
      <small class="serif">View more</small> &raquo;
    </a>
    <a
      class="btn btn-sm bg-gradient-orange text-white text-nowrap me-2 mt-2"
      href="https://www.meetup.com/cannabis-data-science/"
      type="button"
    >
      <small class="serif">Join the Meetup ☕</small>
    </a>
    <a
      class="btn btn-sm bg-gradient-purple text-white me-2 mt-2 text-nowrap"
      href="https://github.com/cannlytics/cannabis-data-science"
      type="button"
    >
      <small class="serif">Get the code &amp; data</small> {% icon "github" width="16px" height="16px"%}
    </a>
    {% comment %} <a
      class="d-flex me-2 mt-2"
      href="https://open.spotify.com/show/026mnrCyi1QmyGnPRxdH1u"
      type="button"
    >
      <img
        src={% static 'website/images/logos/spotify-podcast-badges/PNG/spotify-podcast-badge-blk-grn-165x40.png' %}
        height="31.67px"
      >
    </a> {% endcomment %}
    {% comment %} <div class="d-flex mt-2">
      <div class="g-ytsubscribe" data-channelid="UCDzZAV2c0pEimgLo3mUqMaw"></div>
    </div> {% endcomment %}
  </div>
</section>

</html>
