<!doctype html>
<html>
<!--
  Newest Strains | Cannlytics Website
  Created: 2/11/2024
  Updated: 2/11/2024
-->
{% load static %}
<style>
  .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
  }
  .card {
      display: inline-block;
      margin-right: 15px; /* Add some space between cards */
  }
</style>

<div class="container mt-5">
  <h2>Newest Strains</h2>
  <div class="container mt-5">
    <h2>Newest Strains</h2>
    <div class="scrolling-wrapper" id="strainsContainer"></div>
</div>
</div>

<script>
  
</script>
