<!doctype html>
<html>
<!--
  Newest Licenses | Cannlytics Website
  Created: 2/11/2024
  Updated: 2/11/2024
-->
{% load static %}

<div class="container mx-auto p-4 mt-5">
  <h2 class="mt-0 mb-2">
    <a
      href="{% url 'page' page='licenses' %}"
      class="text-gray-800 font-serif no-underline"
    >
      Newest Licenses
    </a>
  </h2>
  <div id="licenses-container" class="scrolling-wrapper"></div>
</div>

<!-- JavaScript -->
{% block page_js %}
<script>

  // Initialize the newest strains.
  cannlytics.analytics.initializeNewestLicenses();

</script>
{% endblock %}
