<!doctype html>
<html>
  <!-- Features -->
  <!-- Created 1/5/2021 -->
  {% load static %}
  <div class="ground">
    <div class="container features">
      <div class="row justify-content-center">
        {% for feature in features %}
          <div class="col-lg-4 col-md-5 mb-3 px-5 pb-5 p-md-4 text-center">
            <img
              class="mb-4 mx-auto"
              src="{% static feature.icon %}?{% now 'U' %}"
              height="100px"
            >
            <h2 class="h4 serif text-dark fw-bold text-start fw-bold mb-3">
              {{ feature.title }}
            </h2>
            <p class="h6 double-line text-dark text-start">
              {{ feature.message }}
            </p>
            {% if feature.action %}
              <p class="text-start"><small>
                <a
                  class="cannlytics-dark-orange-text fw-bold sliding-action"
                  href="{{ feature.action_url }}"
                >
                  {{ feature.action }} &rarr;
                </a>
              </small></p>
              {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</html>
