<!doctype html>
<html>
<!--
  Additional Fields | Cannlytics
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 6/22/2021
  Updated: 6/22/2021

  Params:
    additional_fields
-->
<div id="additional-fields" class="my-3">
  <button
    id="additonal-fields-show"
    class="btn btn-sm btn-sm-light"
    onclick="cannlytics.ui.toggleFields(event, 'additional');"
  >
    {% icon 'chevrons-down' hegiht="16px" width="16px" %} Show additional fields
  </button>
  <button
    id="additonal-fields-hide"
    class="nav-link text-secondary app-action d-inline-block d-none"
    onclick="cannlytics.ui.toggleFields(event, 'additional');"
  >
    {% icon 'chevrons-up' hegiht="16px" width="16px" %} Hide additional fields
  </button>
</div><!-- End of additional fields-->

<!-- TODO: Render additional fields -->

<!-- TODO: Add Field -->
<!-- Show a blank name, key, type, for the additional field -->


</html>
