<!doctype html>
<html>
<!--
  Delete Option | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 6/22/2021
  Updated: 6/22/2021
  Params:
    model
    model_singular
    id
-->
<div class="card bg-transparent border-danger my-5 mx-3">
  <div class="card-body text-dark">

    <!-- Delete option -->
    <div class="d-flex">
      <div class="col"> 
        <h5 class="card-title fs-6">Delete this {{ model_singular }}</h5>
        <p class="card-text fs-6">
          <small>Once deleted, it will be gone forever. Please be certain.</small>
        </p>
      </div>
      <div class="d-flex align-items-center">
        <button
          onclick="cannlytics.app.startDelete();"
          class="btn btn-sm btn-light text-danger"
        >
          <b>Delete {{ model_singular }}</b>
        </button>
      </div>
    </div>

    <!-- Deletion reason -->
    <div id="deletion-reason" class="col col-lg-6 d-none">
      <div class="form-floating">
        <textarea
          id="deletion_reason_input"
          class="form-control mt-3"
          placeholder="Leave a reason for deletion here."
          style="height: 100px;"
          name="deletion_reason"
        ></textarea>
        <label for="floatingTextarea2">Deletion reason</label>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button
          class="btn btn-sm-light me-2"
          onclick="cannlytics.app.cancelDelete();"
        >
          Cancel
        </button>
        <button
          onclick="cannlytics.app.delete('{{ model }}', '{{ id }}');"
          class="btn btn-sm btn-danger"
        >
          Confirm Deletion
        </button>
      </div>

    </div>

  </div>
</div>

</html>
