<!doctype html>
<html>
<!--
  Dynamic Form | Cannlytics
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 6/22/2021
  Updated: 7/8/2021
  Params:
    fields
-->
<div class="col col-md-10 col-lg-6">
  {% for field in fields %}

    <!-- Text Field -->
    <!-- FIXME: {{ field.spellcheck }} -->
    {% if not field.type or field.type == 'text' or field.type == 'number' or field.type == 'email' or field.type == 'tel' %}
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label col-form-label-sm">
          {{ field.label }}
        </label>
        <div class="col-sm-9">
          <input
            type="text"
            id="input_{{ field.key }}"
            class="form-control form-control-sm {{ field.class }}"
            name="{{ field.key }}"
            spellcheck="false"
            style="{{ field.style }}"
            type="{{ field.type }}"
          >
        </div>
      </div>

    <!-- Date (date) -->
    {% elif field.type == 'date' %}
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label col-form-label-sm">
          {{ field.label }}
        </label>
        <div class="col-sm-9">
          <input
            id="input_{{ field.key }}"
            type="text"
            class="form-control form-control-sm"
            name="{{ field.key }}"
            data-provide="datepicker"
            data-date-start-date="-0d"
          >
        </div>
      </div>

    <!-- Date and time (datetime) -->
    {% elif field.type == 'datetime' %}
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label col-form-label-sm">
          {{ field.label }}
        </label>
        <div class="col-sm-3">
          <input
            id="input_{{ field.key }}_date"
            type="text"
            class="form-control form-control-sm"
            name="{{ field.key }}"
            data-provide="datepicker"
            data-date-start-date="-0d"
          >
        </div>
        <div class="col-sm-3">
          <input
            id="input_{{ field.key }}_time"
            type="time"
            class="form-control form-control-sm"
            name="{{ field.key }}_time"
            data-provide="text"
          >
        </div>
      </div>

    <!-- Textareas (textarea) -->
    {% elif field.type == 'textarea' %}
    <div class="form-floating mb-3">
      <textarea
        id="input_{{ field.key }}"
        name="{{ field.key }}"
        class="form-control"
        placeholder=""
        style="height:250px"
      ></textarea>
      <label for="input_{{ field.key }}">
        {{ field.label }}
      </label>
    </div>

    <!-- Checkboxes (bool) -->
    {% elif field.type == 'bool' %}
    <div class="form-check">
      <label class="form-check-label" for="input_{{ field.key }}">
        {{ field.label }}
      </label>
      <input
        id="input_{{ field.key }}"
        name="{{ field.key }}"
        class="form-check-input"
        type="checkbox"
      >
    </div>

    <!-- Select (select + options + selected) | Select Multiple (select + multiple) -->
    {% elif field.type == 'select' %}
    <div class="col-md-3">
      <label class="form-label">{{ field.label }}</label>
      <select
        name="{{ field.key }}"
        class="form-select form-select-sm"
        aria-label="{{ field.label }}"
        {% if field.multiple %}multiple{% endif %}
      >
        {% for option in field.options %}
          <option
            value="{{ option.key }}"
            {% if option.key == field.selected %}selected{% endif %}
          >
            {{ option.name }}
          </option>
        {% endfor %}
      </select>
    </div>

    <!-- TODO: Handle numbers (number) | Do integers (int) need to be handled differently? -->

    <!-- TODO: Handle images (image) -->

    <!-- TODO: Handle currency fields -->
    <!-- https://codepen.io/akalkhair/pen/dyPaozZ -->
    <!-- pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$1,000,000.00" -->

    <!-- TODO: Handle lists -->
    <!-- Hard: https://stackoverflow.com/questions/19908215/adding-user-input-to-a-list-of-text-items-on-a-html-page/42950658 -->

    <!-- Optional: Validate email fields -->
    
    <!-- Optional: Format telephone numbers -->

    <!-- Optional: Address lookup? -->

    <!-- Optional: Add copy link beside link fields -->

    <!-- Optional: Add tooltips -->

    {% endif %}

  {% endfor %}

</div><!-- End of dynamic fields -->

</html>
