<!doctype html>
<html>

  <!-- Downloads Page -->
  <!-- Created 1/9/2021 -->
  <!-- TODO: List all GitHub repos, with stars -->
  {% extends "cannlytics_website/index.html" %}

  {% load static %}

  <!-- Title -->
  {% block title %}Downloads | {{ general.title }}{% endblock %}

  {% block material %}
    <div class="downloads pb-5">

      <!-- Main Feature -->
      <div class="container py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 text-start mb-3">Downloads</h1>
        <p class="lead text-start mb-4">
          The Cannlytics Engine provides you with many great laboratory tools
          and the Cannlytics community keeps development vibrant and
          provides you with custom packages, modifications, and add-ons.
        </p>
      </div>

    <!-- Features -->
    <div class="container marketing features">
      {% for featurette in homepage.featurettes %}
        <div class="row featurette my-5">
          <div class="col-md-7">
            <h2 class="featurette-heading large-line font-weight-bold text-gradient{% if forloop.counter|divisibleby:2 %}-reverse{% endif %} mt-0">
              {{ featurette.title }}
              <span class="serif text-muted">
                {{ featurette.subtitle }}
              </span>
            </h2>
            <p class="lead double-line">
              {{ featurette.message }}
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="{% static featurette.image %}"
              width="100%"
              class="px-3"
            >
            <!-- TODO: Attribute: all-free-download.com -->
          </div>
        </div>
      {% endfor %}
    </div><!-- End of Features -->

      <!-- Community Packages -->
      <div class="container py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="text-start mb-3">Cannlytics Packages</h1>
        <p class="lead text-start mb-4">
          Community-created and community-maintained packages.
        </p>
        <!--
          name
          description
          published_at
          publisher
          version
          version_history
          readme
        -->
      </div>

    <!-- Vines -->
    <img
      class="side-vine side-vine-right straight-vine-right d-none d-lg-block"
      src="{% static 'cannlytics_website/images/theme/bean_stalk_simple.svg' %}"
      height="100" 
    >
    <img
      class="side-vine side-vine-right straight-vine-right d-none d-lg-block"
      src="{% static 'cannlytics_website/images/theme/bean_stalk_complex.svg' %}"
      height="300" 
    >
    <img
      class="side-vine side-vine-right straight-vine-right vine-nudge-left d-none d-lg-block"
      src="{% static 'cannlytics_website/images/theme/bean_stalk_simple.svg' %}"
      height="150" 
    >

  {% endblock %}

  <!-- Downloads JavaScript -->
  <!-- TODO: Determine OS to prompt for correct download. -->
  <!--
  (function() {
    var isWindows = navigator.platform.indexOf('Win') > -1 ? true : false;
    if (isWindows) {

    } else {

    }
  })();
  -->

</html>
