<!doctype html>
<html>

  <!-- Checkout Page -->
  <!-- Created 1/17/2021 -->
  {% extends "cannlytics_website/index.html" %}
  {% block title %}Checkout | Cannlytics{% endblock %}
  {% block page_css %}
    <!-- TODO: Get CLIENT_ID from Firestore in Django -->
    <!-- TODO: Pass user's email with cookie -->
  <script src="https://www.paypal.com/sdk/js?client-id=ATTHRJjtmM-onGsddi3blHcOSHlzWTcRB6E8CGFGNbe9bAn5qtPUtQBl3H0NgqcIcvXXdwZ82PIZUX4j&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
    {% comment %} <script src="https://www.paypal.com/sdk/js?client-id=Ae4CcPpl9WnMMNNVxvrhf6MMEpBPsf42UQki5hCivL7cEIQRc89-oWpVEF7sSif8k65CxTWrutGELsHR&vault=true&intent=subscription"></script> {% endcomment %}
  {% endblock %}

  <!-- Checkout template -->
  {% block material %}
    <div class="checkout">

    {% include "cannlytics_website/components/heros/hero_banner.html" with
      title='Checkout'
      description="Get your Cannlytics loot now."
      only
    %}

    <!-- Checkout Tempplate -->
    <div class="container">
      <div class="row g-3">

        <!-- Cart -->
        <div class="col-md-5 col-lg-4 order-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="serif">Your cart</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="fs-5 fw-bold sans-serif mt-0">Premium newsletter subscription</h6>
                <small class="text-muted">
                  Get a premium subscription
                  and get access to all
                  Cannlytics' whitepapers. You will also
                  receive first access to Cannlytics' data sets.
                  Cancel at any time.
                </small>
              </div>
              <span class="text-muted">$1/mo.</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$1 now</strong>
            </li>
          </ul>

          <!-- Promo form -->
          {% comment %} <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <button type="submit" class="btn bg-gradient-orange text-white">Redeem</button>
            </div>
          </form> {% endcomment %}

          <!-- PayPal buttons -->
          <div id="paypal-button-container"></div>

        </div>

        <!-- Account information -->
        <div class="col-md-7 col-lg-8">
          <h4 class="serif mb-3">Account information</h4>
          <form id="account-information" class="needs-validation" novalidate>
            <div class="row g-3">

              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" name="first_name" placeholder="" value="">
              </div>

              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" name="last_name" placeholder="" value="">
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email*</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="">
              </div>

              <div class="col-12">
                <label for="company" class="form-label">Company</label>
                <input type="text" class="form-control" id="company" name="organization" placeholder="" value="">
              </div>

              <div class="col-12">
                <label for="position" class="form-label">Position</label>
                <input type="text" class="form-control" id="position" name="position" placeholder="" value="">
              </div>

              <!-- Feedback -->
              <div class="col-12">
                <label for="reference" class="form-label">How did you find out about Cannlytics?</label>
                <textarea class="form-control"  id="reference" name="reference" style="height:100px;" placeholder=""></textarea>
              </div>
              <div class="col-12">
                <label for="challenges" class="form-label">What are your top challenges with cannabis analytics?</label>
                <textarea class="form-control" id="challenges" name="challenges" style="height:100px;" placeholder=""></textarea>
              </div>

            </div>
            
            <!-- Create an account button -->
            <div class="col-12 form-check my-4">
              <input type="checkbox" class="form-check-input" id="create-account" name="create_account">
              <label class="form-check-label" for="create-account">Create an account?</label>
            </div>

          </form>

        </div>
      </div>
    </div><!-- End of form-->

    <!-- Checkout JavaScript -->
    <script>
      var url = new URL(window.location.href);
      var planID = url.searchParams.get('id');
      paypal.Buttons({
        style: {
            shape: 'rect',
            color: 'silver',
            layout: 'horizontal',
            label: 'subscribe',
        },
        createSubscription: function(data, actions) {
          // TODO: Validate form
          return actions.subscription.create({ 'plan_id': planID });
        },
        onApprove: function(data, actions) {
          var subscription = { ...data, ...{ 'plan_id': planID } };
          cannlytics.payments.subscribe(subscription);
        },
        onError: function (error) {
          // For example, redirect to a specific error page
          // window.location.href = "/your-error-page-here";
          // alert(error);
          alert('Uknown error subscribing. Please contact contact@cannlytics.com. Thank you for your patience and we will deliver you support.');
        },
      }).render('#paypal-button-container');
    </script>

    </div>
  {% endblock %}

</html>
