<!doctype html>
<html>
  <!-- Unsubscribe Page -->
  <!-- Created 3/19/2021 -->
  {% extends "cannlytics_website/index.html" %}
  {% load static %}
  {% block title %}Unsubscribe | Cannlytics{% endblock %}
  {% block material %}

    <!-- Hero Banner -->
    {% comment %} {% include "cannlytics_website/components/heros/hero_banner.html" with
      title=event.name
      description=event.description
      image_url=event.icon
      only
    %} {% endcomment %}

    <!-- Body -->
    <main role="main" class="container">
      <div class="col-md-12 pb-5 mb-5">

        <!-- Header -->
        <div class="d-flex align-items-center mb-4 pb-2">
          <h3 class="serif mb-0">
            Unsubscribe
          </h3>
        </div>

        <!-- Tab content -->
        <div class="tab-content" id="tabsContent">

          <p>TODO: Unsubscribe notification</p>

        </div><!-- End of tab content -->

      </div>
    </main><!-- End of body -->

  {% endblock %}

  <!-- Unsubscribe JavaScript -->
  {% block page_js %}
    <script>
      // TODO: Update email as unsubscribed, manually or with id in URL.
    </script>
  {% endblock %}

</html>
