<!-- Labs Page -->
<!-- Created 12/26/2020 -->
{% extends "cannlytics_website/index.html" %}

{% load static %}

{% block material %}
  <div class="about">
    <main role="main" class="container py-3 my-3 ">
      <div class="col-md-8 pb-5 mb-5">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          Labs
        </h3>

        <!-- TODO: List of all labs with search -->

        <!-- Section -->
        <section>
          <!-- TODO: Dialgo to add a lab -->
          <!-- Fields:
            name
            trade_name
            website
            image_url
            license
            email
            phone
            street
            city
            zip
            county
            state
            latitude
            longitude
            status
            analyses
            current_lims
            interested_in_new_lims
            feedback
            top_problems
            twitter
            linkedin
          -->

          <!-- Dialog to edit a lab -->

        </section>

        <header>
    <h2 class="header">Space Race!</h2>
  </header>

  <main></main>

  <div hidden class="template" id="main">
    <div id="cards" class="cards-container">
    </div>
  </div>

  <div hidden class="template" id="no-ships">
    <div id="rocket-container">
      <img src="/images/rocket.svg" />
      <p class="text">This app is connected to the Firebase project "<b data-fir-content="projectId"></b>".</p>
      <p class="text">Your Cloud Firestore has no documents in <b>/ships/</b>.</p>
      <br />
      <button class="btn-form" id="add_mock_data">
        Add mock data
      </button>
    </div>
  </div>

  <div hidden class="template" id="ship-card">
    <div class="ship-card">
      <div class="card-image">
        <img hidden data-fir-image="photo" src="#" />
        <div class="overlay">
          <img src="/images/delete.svg" class="image-delete" data-fir-click="delete_ship" />
        </div>
      </div>
      <div class="card-supporting-text">
        <div class="card-name" data-fir-content="name">...</div>
        <div class="details">
          <div class="ship-attribute">speed:</div> <div class="ship-attribute-value" data-fir-content="speed"></div>
          <div class="ship-attribute">accel:</div> <div class="ship-attribute-value" data-fir-content="acceleration"></div>
          <div class="ship-attribute">weight:</div> <div class="ship-attribute-value" data-fir-content="weight"></div>
          <div class="ship-attribute">handling:</div> <div class="ship-attribute-value" data-fir-content="handling"></div>
          <div class="ship-attribute">braking:</div> <div class="ship-attribute-value" data-fir-content="braking"></div>
          <div class="ship-attribute">special:</div> <div data-fir-content="special"></div>
        </div>
      </div>
    </div>
  </div>

  <div hidden class="template" id="add-card">
    <div class="ship-card">
      <img id="add-card-image" class="card-image" src="images/rocket-form.svg" />
      <form action="#" method="post">
        <div class="card-supporting-text">
          <input class="card-name" id="name" name="name"></input>
          <div class="details">
            <label for="speed" class="ship-attribute">speed:</label>
            <input id="speed" type="number" name="speed" min="1" max="10"/>
            <label for="acceleration" class="ship-attribute">accel:</label>
            <input id="acceleration" type="number" name="acceleration" min="1" max="10"/>
            <label for="weight" class="ship-attribute">weight:</label>
            <input id="weight" type="number" name="weight" min="1" max="10"/>
            <label for="handling" class="ship-attribute">handling:</label>
            <input id="handling" type="number" name="handling" min="1" max="10"/>
            <label for="braking" class="ship-attribute">braking:</label>
            <input id="braking" type="number" name="braking" min="1" max="10"/>
            <label for="special" class="ship-attribute">special:</label>
            <select id="special" name="special">
              <option value=""></option>
              <option value="Teleportation">Teleportation</option>
              <option value="Warp Speed">Warp Speed</option>
              <option value="Time Shift">Time Shift</option>
              <option value="Mines">Mines</option>
              <option value="Cannons">Cannons</option>
              <option value="Cloaking">Cloaking</option>
              <option value="Invulnerability">Invulnerability</option>
              <option value="Defense Drones">Defense Drones</option>
              <option value="Shields">Shields</option>
              <option value="Oil Slick">Oil Slick</option>
            </select>
          </div>
        </div>
        <div class="form-buttons">
          <button id="add-ship-button" class="btn-form" type="submit" data-fir-click="add_ship">Add</button>
          <button id="clear-form-button" class="btn-form" data-fir-click="clear_form">Clear</button>
        </div>
      </form>
    </div>
  </div>


      </div>
    </main>
  </div>

  <!-- Vines -->
  {% include "cannlytics_website/components/art/vines.html" %}

  <!-- TODO: Handle JavaScript better -->
  <script src="{% static 'cannlytics_website/js/labs/Labs.js'%}"></script>
  <script src="{% static 'cannlytics_website/js/labs/Labs.View.js'%}"></script>
  <script src="{% static 'cannlytics_website/js/labs/Labs.Data.js'%}"></script>

{% endblock %}
