<!doctype html>
<html>
<!--
  Log Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 7/9/2021
  Updated: 7/9/2021
-->
{% load icon %}
{% block console_css %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock console_css %}
{% block console_body %}

    <!-- Title -->
    <div class="d-flex justify-content-between align-items-center px-3">
      <div>
        <h1 class="fs-5 lh-base text-dark mb-0 mt-3">
          {% if part == 'new' %}New Log{% else %}Log {{ part }}{% endif %}
        </h1>
        <h2 class="fs-6 lh-base text-secondary mb-3">
          Record {% if part != 'new' %}of{% endif %} an action for traceability and/or quality control.
        </h2>
      </div>
      {% if part == 'new' %}
        <div class="d-flex align-items-center">
          <button
            class="btn btn-sm-light btn-md-light btn-set-width me-2"
            onclick="cannlytics.ui.navigateUp(window.location.href);"
          >
            Cancel
          </button>
          <button
            id="form-save-button"
            class="btn btn-sm btn-set-width bg-gradient-green text-white"
            onclick="saveLog();"
          >
            Save
          </button>
          <button
            id="form-save-loading-button"
            class="btn btn-sm btn-set-width bg-gradient-green text-white d-none"
            type="button"
            disabled
          >
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      {% endif %}
    </div>

    <!-- Form -->
    <div class="mb-4 px-3">
      <form id="log-form">
        {% if part == 'new' %}
          {% include "console/components/forms/dynamic_form.html" with
            fields=logs.fields
          %}
        {% else %}
        {% include "console/components/forms/dynamic_form.html" with
          fields=logs.fields
          disabled=part
        %}
        {% endif %}
      </form>
    </div>

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>

    // Load the data into the user interface.
    cannlytics.ui.viewObject('log');

    // Render any date pickers.
    $('.datepicker').datepicker({
      autoclose: true,
      format: {
        toDisplay: 'yyyy-mm-dd',
        toValue: 'yyyy-mm-dd',
      },
      todayHighlight: true,
    });

    function saveLog() {
      // FIXME: Add time to created_at time.
      cannlytics.app.save('logs', 'log', 'log')
        .then(function() {
          cannlytics.ui.navigateUp(window.location.href);
        });
    }

  </script>
{% endblock console_js %}

</html>
