<!doctype html>
<html>
<!--
  Logs Page | Cannlytics Console
  Created: 12/17/2020
  Updated: 7/11/2021
  Parameters:
    model
    model_singular
    section
  FIXME:
    If no logs are found in the timeframe,
    load the past 100 logs and set the start
    of the range to the earliest log.
-->
{% block unit %}

<!-- Log Page -->
{% if part %}
  {% include "console/pages/settings/logs/log.html" with
    model_singular=model_singular
  %}
{% else %}

  <!-- Title -->
  {% include "console/components/forms/object_logs_title.html" with
    abbreviation=data_model.abbreviation
    id=section
    model=model
    model_singular=model_singular
    description="View and create activity logs for traceability and quality control."
    user=user
  %}

  <!-- Loading placeholder -->
  <div id="loading-placeholder">
    {% include "console/components/placeholders/loading_placeholder.html" with
      height='366px'
      width='100%'
      only
    %}
  </div>

  <!-- No-data Placeholder -->
  <div id="data-placeholder" class="d-none">
    {% include "console/components/placeholders/table_placeholder.html" with
      height='200px'
      image='console/images/icons/multi-tone/documents.svg'
      message='You can create a custom log for traceability or quality control purposes or try expanding your search.'
      title='No logs in this period'
      only
    %}
  </div>

  <!-- AG Grid Table -->
  <div id="data-table" class="d-none">
    <!-- TODO: Advanced search -->
    <div
      id="{{ model_singular }}-logs-table"
      class="ag-theme-alpine-dark"
      style="height: 366px; width:100%;"
    ></div>
  </div>

{% endif %}
{% endblock unit %}

<!-- JavaScript -->
{% block console_js %}
{% if not part %}

    <script>

      // Stream logs.
      cannlytics.app.streamLogs('{{ model_singular }}', '{{ section }}', '{{ organizations.0.organization_id }}');

      // Set the initial date.
      var period = 7;
      document.getElementById('logs_start').value = new Date(new Date().setDate(new Date().getDate()-period)).toISOString().substring(0, 10);
      document.getElementById('logs_end').value = new Date().toISOString().substring(0, 10);

      // Initialize date range selection.
      $('#logs-options .input-daterange').datepicker({
        autoclose: true,
        todayHighlight: true
      });
      $('#logs-options .input-daterange').on('changeDate', function(e) {
        var date = e.date.toISOString();
        var start = '';
        var end = '';
        if (e.target.id === 'logs_start') {
          start = e.date.toISOString();
          end = $('#logs_end').datepicker('getDate');
          end.setUTCHours(23, 59, 59, 999);
          end = end.toISOString();
        } else {
          end = e.date;
          end.setUTCHours(23, 59, 59, 999);
          end = end.toISOString();
          start = $('#logs_start').datepicker('getDate').toISOString();
        }
        cannlytics.app.streamLogs('{{ model_singular }}', '{{ section }}', '{{ organizations.0.organization_id }}', 'key', 'created_at', start, end);
      });

    </script>

{% endif %}
{% endblock console_js %}
</html>
