<!doctype html>
<html>

  <!-- About Page -->
  <!-- Created 1/14/2013 -->
  {% extends "cannlytics_website/index.html" %}
  {% load static %}

  <!-- Title -->
  {% block title %}About | {{ general.title }}{% endblock %}

  {% block material %}
    <div class="about">

      <!-- Hero Banner -->
      {% include "cannlytics_website/components/heros/hero_banner.html" with
        title='Launching Cannlytics'
        only
      %}

      <main role="main" class="container pb-3 mb-3 ">

      {% comment %} <img
        src="{% static 'cannlytics_website/images/logos/cannlytics_calyx_detailed.svg' %}"
        style="height:100px;"
      > {% endcomment %}

        <!-- Material -->
        <div class="container markdown py-3">
          {{ about | safe }}
        </div>

      </main>
    </div>

    <!-- TODO: Call to action -->

    <!-- Vines -->
    {% include "cannlytics_website/components/art/vines.html" %}

  {% endblock %}

</html>
