<!doctype html>
<html>

  <!-- Consumers Page -->
  <!-- Created 1/16/2021 -->
  {% extends "cannlytics_website/index.html" %}

  <!-- Title -->
  {% block title %}Consumers | {{ general.title }}{% endblock %}

  <!-- Main material -->
  {% block material %}

    <!-- Hero Banner -->
    {% include "cannlytics_website/components/heros/hero_banner.html" with
      title='Consumers'
      description="If you are a consumer seeking meaningful analysis from the lab results of the cannabis that you buy, then capitalize on Cannlytics' robust and extensive toolkits."
      primary_action='Join now'
      primary_action_url='https://console.cannlytics.com/account/login'
      secondary_action='Browse solutions'
      secondary_action_url='https://github.com/cannlytics'
      only
    %}

    <!-- About consumer analytics -->
    <div class="container markdown my-5">
      <h1 class="my-4">
        About consumer analytics
      </h1>
      <p>
        Cannlytics is proud to offer our suite of industry-leading cannabis analytics tools to all
        cannabis consumers. You can periodically scan your cannabis purchases. Then you can view
        rich analytics in the Cannlytics Console or with the Cannlytics API.
      </p>
      <p class="text-start">
        <a href="https://console.cannlytics.com/account/sign-up">
          Utilize the app today &rarr;
        </a>
      </p>
    </div>

    <!-- Vines -->
    {% include "cannlytics_website/components/art/vines.html" %}

  {% endblock %}
</html>
