<!doctype html>
<html>

  <!-- Sponsors Page -->
  <!-- Created 1/9/2021 -->
  {% extends "cannlytics_website/index.html" %}
  {% load static %}
  {% block title %}Sponsors | {{ general.title }}{% endblock %}
  {% block material %}
    <div class="sponsors large-bottom-margin">

      <!-- Hero -->
      {% include "cannlytics_website/components/heros/hero_banner.html" with
        title='Sponsors'
        description='Dear monied individuals, if you are in need of a venture, then Cannlytics is always looking for win-win development opportunities that can yield you tremendous value. In return, our company seeks sponsorship to fuel the engine.'
        primary_action='Invest now'
        primary_action_url='/sponsors/invest'
        secondary_action='Browse opportunities'
        secondary_action_url='/roadmap'
        only
      %}

      <!-- Contributors -->
      <div class="container markdown">

        <h1 class="mb-4">Call for funding</h1>
        <p>
          Cannlytics is currently looking for investors who envision a win-win future with the Cannlytics team.
          Accredited investors* are welcome to email Keegan at
          <a href="mailto:contact@cannlytics.com">contact@cannlytics.com</a>
        </p>
        <figure>
          <blockquote class="blockquote">
            <p><small>
              To be "Accredited", you need a net worth over $1M or you need an annual income over $200K.
              About 10% of our community are "Accredited" by Federal law, however, most don't invest.
              <a href="https://www.seattleangelconference.com/"><small>The Angel Conference</small></a>
              provides a "learning by doing" pathway for doing the first Angel Investment.
            </small></p>
          </blockquote>
          <figcaption class="blockquote-footer pt-2">
            <cite title="Source Title">Seattle Angel Conference</cite>
          </figcaption>
        </figure>
        {% comment %} <h1 class="mb-4">
          Cannlytics is funded by...
        </h1> {% endcomment %}
        {% comment %} {% for item in sponsors %}
          <figure class="figure">
            <a href="{{ item.url }}" title="{{ item.name}}">
              <img
                class="figure-img img-fluid rounded-3"
                src="{{ item.url }}.png?size=250"
              >
            </a>
            <figcaption class="figure-caption w-50">
              <div class="fs-5 text-dark fw-bold">{{ item.name}}</div>
              <div>{{ item.company}}</div>
              <div>{{ item.location}}</div>
              <div>{{ item.description}}</div>
              <iframe
                src="https://ghbtns.com/github-btn.html?user={{ item.slug }}&type=follow&count=true"
                frameborder="0"
                scrolling="0"
                width="170"
                height="20"
                title="GitHub"
                class="mt-2"
              ></iframe>
            </figcaption>
          </figure>
        {% endfor %} {% endcomment %}
      </div>

      <!-- How to invest -->
      {% comment %} <div class="container markdown py-3 mt-5">
        {{ investing | safe }}
      </div> {% endcomment %}
    
    </div>

    <!-- Vines -->
    {% include "cannlytics_website/components/art/vines.html" %}

  {% endblock %}

</html>
