<!doctype html>
<html>
<!--
  Certificates Page | Cannlytics Console
  Created: 5/5/2021
  Updated: 8/9/2021
  TODO:
    - Select All, Unreviewed, Reviewed, Approved, Released (finish)

    - Ability to select multiple samples to create, review, approve, post, and release multiple CoAs at the same time.

    - Actions by certificate status
      All: Conditional on selected?
      Unreviwed: `Review`
      Reviewed: `Approve`
      Approved: `Post`, `Release`
      Released: `Post`, `Recall`

    - View a single certificate on row select

    - Optional: Upload / download
-->
{% extends "./samples.html" %}
{% block console_css %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock console_css %}

{% block title %} Certificates | Samples | Cannlytics{% endblock title %}

{% block unit %}

  <!-- Title -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <div class="px-3">
      <h1 class="fs-6 lh-base text-dark mb-0 mt-3">
        Certificates of analysis (CoAs)
      </h1>
      <h2 class="fs-6 lh-base text-secondary mb-0">
        <small>Manage certificates of analysis for your samples.</small>
      </h2>
    </div>
    <div id="certificates-options" class="d-flex align-items-center">

      <!-- Type selection -->
      {% comment %} <select
        name="certificate_status"
        class="form-select form-select-sm me-2"
        onchange="selectStatus(event);"
        style="max-width:140px;"
      >
        <option value="All" {% if not request.GET.status or request.GET.status == 'all' %}selected{% endif %}>All</option>
        <option value="Unreviewed" {% if request.GET.status == 'unreviewed' %}selected{% endif %}>Unreviewed</option>
        <option value="Reviewed" {% if request.GET.status == 'reviewed' %}selected{% endif %}>Reviewed</option>
        <option value="Approved" {% if request.GET.status == 'approved' %}selected{% endif %}>Approved</option>
        <option value="Released" {% if request.GET.status == 'released' %}selected{% endif %}>Released</option>
      </select> {% endcomment %}

      <!-- Date selection -->
      <!-- Optional: Only show if `All` is selected -->
      {% comment %} <div class="input-daterange input-group input-group-sm me-2">
        <input
          id="time_start"
          type="text"
          class="input-sm form-control form-control-sm form-control-light"
          name="time_start"
          style="max-width:140px;"
        />
        <div class="input-group-text">to</div>
        <input
          id="time_end"
          type="text"
          class="input-sm form-control form-control-sm form-control-light"
          name="time_end"
          style="max-width:140px;"
        />
      </div> {% endcomment %}

      <!-- Templates -->
      <a
        class="btn btn-sm-light btn-md-light me-2"
        href="/samples/certificates/templates"
      >
        Templates
      </a>

      <!-- Optional: Upload / Download -->
      {% comment %} <div class="btn-group btn-group-sm me-2" role="group" aria-label="Data import">
        <form
          action="{% url "import_data" %}?model={{ model }}&organization_id={{ organizations.0.organization_id }}"
          method="post"
          enctype="multipart/form-data"
          name="import_form"
          id="import-form"
        >
          {% csrf_token %}
          <input
            id="import_input"
            type="file"
            class="visually-hidden"
            title="Upload excel file"
            name="excel_file"
            required="required"
            onchange="document.forms['import-form'].submit();"
          >
          <button
            type="button"
            class="btn btn-sm-light btn-md-light"
            onclick="document.getElementById('import_input').click();"
          >
            Import
          </button>
        </form>
        <div class="btn-group btn-group-sm" role="group">
          <button
            id="import_options"
            type="button"
            class="btn btn-sm-light btn-md-light dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          </button>
          <ul
            class="dropdown-menu shadow py-0"
            aria-labelledby="import_options"
          >
            <li>
              <a
                class="app-action dropdown-item fs-6"
                onclick="cannlytics.app.downloadWorksheet('{{ organizations.0.organization_id }}', '{{ model }}');"
              >
                <small>Download worksheet</small>
              </a>
            </li>
          </ul>
        </div>
      </div> {% endcomment %}

      <!-- New -->
      {% comment %} <button
        id="new-button"
        class="btn btn-sm bg-gradient-green text-white"
        onclick="cannlytics.ui.openObject('{{ model }}', '{{ model_singular }}', {});"
      >
        New
      </button> {% endcomment %}

    </div>
  </div>

  {% comment %} <!-- Loading placeholder -->
  <div id="loading-placeholder">
    {% include "console/components/placeholders/loading_placeholder.html" with
      height='366px'
      width='100%'
      only
    %}
  </div>

  <!-- No-data Placeholder -->
  <div id="data-placeholder" class="d-none">
    {% include "console/components/placeholders/table_placeholder.html" with
      height='200px'
      image='console/images/icons/multi-tone/documents.svg'
      message='You do not have any certificates in this section (yet).'
      title='No certificates found'
      only
    %}
  </div> {% endcomment %}

  <!-- AG Grid Table -->
  {% comment %} <div id="data-table">
    <div
      id="certificates-table"
      class="ag-theme-alpine-dark"
      style="height: 366px; width:100%;"
    ></div>
  </div> {% endcomment %}

  <!-- Results sub-table -->
  {% include "console/components/tables/simple_form_table.html" with
    model="samples"
    model_singular="sample"
    description="Manage certificates of analysis for your samples."
    abbreviation="S"
    parent_model="samples"
    parent_model_singular="sample"
    parent_id=section
    select=True
  %}

{% endblock unit %}

{% block console_js %}

  <script type="text/javascript" charset="utf-8">

    // Stream data.
    cannlytics.app.streamSubModelData('samples', 'samples', '{{ organizations.0.organization_id }}', 'sample_id', '{{ section }}', 1000);
    // FIXME: Load data
    // cannlytics.app.streamLogs('{{ model_singular }}', '{{ section }}', '{{ organizations.0.organization_id }}');

    // Set the initial date.
    document.getElementById('time_start').value = new Date(new Date().setDate(new Date().getDate()-1)).toISOString().substring(0, 10);
    document.getElementById('time_end').value = new Date().toISOString().substring(0, 10);

    // Initialize date range selection.
    $('#certificates-options .input-daterange').datepicker({
      autoclose: true,
      todayHighlight: true
    });
    $('#certificates-options .input-daterange').on('changeDate', function(e) {
      const date = e.date.toISOString();
      let start = '';
      let end = '';
      if (e.target.id === 'time_start') {
        start = e.date.toISOString();
        end = $('#time_end').datepicker('getDate');
        end.setUTCHours(23, 59, 59, 999);
        end = end.toISOString();
      } else {
        end = e.date;
        end.setUTCHours(23, 59, 59, 999);
        end = end.toISOString();
        start = $('#time_start').datepicker('getDate').toISOString();
        
      }
      // FIXME: Load data
      // cannlytics.app.streamLogs('{{ model_singular }}', '{{ section }}', '{{ organizations.0.organization_id }}', 'key', 'created_at', start, end);
    });


    // Select certificat status.
    function selectStatus(event) {
      /*
       * Select the status of certificates to view.
       */
      console.log(event.target.value);
      var status = event.target.value.toLowerCase();
      var refresh = `${window.location.protocol}//${window.location.host}${window.location.pathname}?status=${status}`;    
      window.history.pushState({ path: refresh }, '', refresh);
      // TODO: Filter table...
    }

  </script>

{% endblock console_js %}

</html>
