<!doctype html>
<html>
<!--
  Samples Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 5/5/2021
  Updated: 7/15/2021
  Wishlist:
    - Create measurement worksheet for selected samples.
    - Ability to upload many sample images at a time, matching
    images to samples by searching if filename includes sample ID.
    The unmatched files can be displayed in a table to let the user
    match them. Then, all matched images can be imported.
-->
{% extends "console/console.html" %}
{% load icon %}
{% block title %}{% if section %}{{ section }} | {% endif %}Samples | Cannlytics {% endblock title %}
{% block console_css %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock console_css %}
{% block console_body %}
{% if section and section not in 'logs,files,certificates' %}

  <!-- Detail page -->
  {% include "console/pages/samples/sample.html" with
    id=section
    data_model=data_model
  %}

{% else %}

  <!-- Page -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h1 class="fs-5 mb-0 lh-base">Samples</h1>
    </div>

    <!-- Body -->
    <div class="samples">

      <!-- Tabs -->
      {% include "console/components/forms/form_tabs.html" with
        model="samples"
        extra='Certificates'
        extra_path='certificates'
      %}

      <!-- Certificates -->
      {% if section == 'certificates' %}
        {% comment %} {% include "console/pages/samples/includes/certificates.html" with
          organizations=organizations
          user=user
        %} {% endcomment %}
        {% block unit %}{% endblock unit %}

      <!-- Logs -->
      {% elif section == 'logs' %}
        {% include "console/pages/settings/logs/logs.html" with
          model='samples'
          model_singular='sample'
          organizations=organizations
          section=section
          user=user
        %}

      <!-- Files -->
      {% elif section == 'files' %}
        {% include "console/pages/settings/files/files.html" with
          model='samples'
          model_singular='sample'
          organizations=organizations
          section=section
          user=user
        %}

      <!-- Table -->
      {% else %}

        <!-- Options -->
        {% include "console/components/tables/simple_table_options.html" with
          model='samples'
          model_singular='sample'
          import=True
        %}

        <!-- Loading placeholder -->
        <div id="loading-placeholder">
          {% include "console/components/placeholders/loading_placeholder.html" with
            height='350px'
            width='100%'
            only
          %}
        </div>

        <!-- No-data Placeholder -->
        <div id="data-placeholder" class="d-none">
          {% include "console/components/placeholders/placeholder.html" with
            placeholder=samples.placeholder
            only
          %}
        </div>

        <!-- AG Grid Table -->
        <div id="data-table" class="d-none">
          <!-- TODO: Advanced search -->
          <div
            id="samples-table"
            class="ag-theme-alpine-dark"
            style="height: 350px; width:100%;"
          ></div>
        </div>

      {% endif %}

    </div><!-- End of the body -->

  </main>
{% endif %}

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}

  {% if not section %}
    <script>
      cannlytics.app.streamData('samples', 'sample', '{{ organizations.0.organization_id }}');
    </script>
  {% endif %}

{% endblock console_js %}
</html>
