<!doctype html>
<html>
<!--
  Sample Page | Cannlytics Console
  Created: 6/22/2021
  Updated: 2/6/2022
  TODO:
    - Allow the user to reset, save (update and create), and delete.
    - Render additional fields, ability to add an additional field.
    - Load existing measurements.
    - Use a table instead of a list to display measurements and results.
-->
{% load icon %}
{% block console_css %}

  <!-- AG-Grid CSS and JavaScript -->
  {% include "console/components/tables/ag_grid_scripts.html" %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock console_css %}
{% block console_body %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pb-5 mx-auto">

    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 mt-2 border-bottom border-secondary">
      {% include "console/components/links/breadcrumbs.html" with
        base_page="Samples"
        base_page_url="/samples"
        current_page=id
      %}
    </div>

    <!-- Tabs -->
    <!-- Optional: Render dynamically -->
    {% if id and id != 'new' %}
      {% comment %} {% include "console/components/forms/form_tabs.html" with
          id=id
          model="samples"
          extra="CoA"
          extra_path="certificate"
        %} {% endcomment %}
      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <a
            class="nav-link {% if not unit %}active{% endif %}"
            aria-current="page"
            href="/samples/{{ id }}"
          >
            Details
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if unit == 'logs' %}active{% endif %}"
            href="/samples/{{ id }}/logs"
          >
            Logs
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if unit == 'files'  %}active{% endif %}"
            href="/samples/{{ id }}/files"
          >
            Files
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if unit == 'certificate' %}active{% endif %}"
            href="/samples/{{ id }}/certificate"
          >
            Certificate
          </a>
        </li>
      </ul>
    {% endif %}

    <!-- Files page -->
    {% if unit == 'files' %}
      {% include "console/pages/settings/files/files.html" with
        model='samples'
        model_singular='sample'
        organizations=organizations
        section=section
        user=user
      %}
    
    <!-- Logs page -->
    {% elif unit == 'logs' %}
      {% include "console/pages/settings/logs/logs.html" with
        model='samples'
        model_singular='sample'
        organizations=organizations
        section=section
        user=user
      %}

    <!-- Measurements and results review -->
    <!-- Add / load measurements. Once measurements are in, calculate results.
    The user can the select the final measurements for results. -->
    {% elif unit == 'review' %}
      {% include "console/pages/samples/includes/review.html" %}

    <!-- Certificate page -->
    {% elif unit == 'certificate' %}

      {% include "console/pages/samples/includes/certificate.html" %}

    {% else %}

      <!-- Title -->
      {% include "console/components/forms/form_title.html" with
        abbreviation=data_model.abbreviation
        id=id
        model='samples'
        model_singular='sample'
        description="Manage samples for projects commissioned by your contacts."
        options=True
        export=id
      %}

      <!-- Form -->
      <div class="mb-4 px-3">
        <form id="sample-form">
          {% include "console/components/forms/dynamic_form.html" with
            fields=data_model.fields
          %}
        </form>
      </div>

      <!-- Measurements sub-table -->
      {% if organizations.0.type == 'lab' %}
        {% include "console/components/tables/simple_form_table.html" with
          model="measurements"
          model_singular="measurement"
          description="Manage measurements that have been taken for this sample."
          abbreviation="MT"
          parent_model="samples"
          parent_model_singular="sample"
          parent_id=section
          remove_only=True
          select=False
        %}
      {% endif %}

      <!-- Results sub-table -->
      <!-- TODO: Prevent editing for recipients? -->
      {% include "console/components/tables/simple_form_table.html" with
        model="results"
        model_singular="result"
        description="Manage results that have been calculated for this sample."
        abbreviation="R"
        parent_model="samples"
        parent_model_singular="sample"
        parent_id=section
        select=True
      %}

      <!-- Results selection dialog -->
      {% include "console/components/modals/selection_dialog.html" with
        model="results"
      %}

      <!-- Danger zone (delete) -->
      {% if id and id != 'new' %}
        {% include "console/components/forms/delete_option.html" with
          id=id
          model="samples"
          model_singular="sample"
        %}
      {% endif %}

    {% endif %}

  </main>

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>

    // Load the data into the user interface.
    {% comment %} const unit = '{{ unit }}';
    const sampleId = '{{ section }}';
    console.log('Sample:', sampleId);
    if (!unit) cannlytics.ui.viewObject('sample');
    else if (unit === 'results') {
      // TEST: Get measurements
      cannlytics.api.getMeasurements({ 'sample_id': sampleId }).then(function(data) {
        // TODO: Render measurements in the UI.
        console.log('Measurement data:', data);
      });
      // TEST: Get results
      cannlytics.api.getResults({ 'sample_id': sampleId }).then(function(data) {
        // TODO: Render results in the UI.
        console.log('Result data:', data);
      });
    } {% endcomment %}

    // Load sample data.
    try {
      cannlytics.ui.viewObject('sample');
    } catch(error) {
      // Likely a sub-page.
    }

    // Stream any sub-model data.
    {% if not unit %}
      {% if organizations.0.type == 'lab' %}
        cannlytics.app.streamSubModelData('measurements', 'measurement', '{{ organizations.0.organization_id }}', 'sample_id', '{{ section }}', 1000);
      {% endif %}
      cannlytics.app.streamSubModelData('results', 'result', '{{ organizations.0.organization_id }}', 'sample_id', '{{ section }}', 1000);
    {% endif %}

  </script>
{% endblock console_js %}

</html>
