<!doctype html>
<html>
<!--
  Contacts Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 12/17/2020
  Updated: 7/5/2021
  TODO:
    - The ability to import contact records from .csv or .xlsx fields.
    - The ability to export contact records to .csv or .xlsx.
  Wishlist:
    - Marketing, notifications, logs
-->
{% extends "console/console.html" %}
{% load icon %}
{% block console_body %}
{% if section %}

  <!-- Detail page -->
  {% include "console/pages/contacts/contact.html" with id=section %}

{% else %}

  <!-- List -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Contacts</h1>
      <div>
        <button
          class="btn btn-sm-light btn-md-light me-2"
          onclick="cannlytics.settings.importData('contacts');"
        >
          Import
        </button>
        <button
          class="btn btn-sm-light btn-md-light"
          onclick="cannlytics.settings.exportData('contacts');"
        >
          Export
        </button>
        <a
          id="new-button"
          class="btn btn-sm bg-gradient-green text-white"
          href="/contacts/new"
        >
          New
        </a>
      </div>
    </div>

    <!-- Body -->
    <div class="contacts">

      <!-- Placeholder if no data -->
      <div id="data-placeholder">
        {% include "console/components/placeholders/placeholder.html" with
          placeholder=contacts.placeholder
          only
        %}
      </div>

      <!-- AG Grid Table -->
      <div id="data-table" class="d-none">
        <div
          id="contacts-table"
          class="ag-theme-alpine-dark"
          style="height: 326px; width:100%;"
        ></div>
      </div>

    </div><!-- End of the body -->

  </main>
{% endif %}
{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}

  {% if not section %}
    <script>
      cannlytics.app.streamData('contacts', 'contact');
    </script>
  {% endif %}

{% endblock console_js %}
</html>
