<!doctype html>
<html>
<!--
  Contact Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 6/22/2021
  Updated: 7/6/2021
-->
{% load icon %}
{% block console_css %}

  <!-- Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

{% endblock console_css %}
{% block console_body %}

    <!-- Header -->
    {% include "console/components/links/breadcrumbs.html" with
      base_page="Contacts"
      base_page_url="/contacts"
      current_page=id
    %}

    <!-- Tabs -->
    {% if id and id != 'new' %}
      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <a
            class="nav-link {% if not unit %}active{% endif %}"
            aria-current="page"
            href="/contacts/{{ id }}"
          >
            Fields
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if unit == 'logs' %}active{% endif %}"
            href="/contacts/{{ id }}/logs"
          >
            Logs
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if unit == 'files' %}active{% endif %}"
            href="/contacts/{{ id }}/files"
          >
            Files
          </a>
        </li>
      </ul>
    {% endif %}

    {% if unit %}
      {% block unit %}{% endblock unit %}
    {% else %}

      <!-- Title -->
      {% include "console/components/forms/form_title.html" with
        abbreviation=data_model.abbreviation
        id=id
        model='contacts'
        model_singular='contact'
        description="Manage contacts, organizations that you work with."
        options=True
        export=id
      %}

      <!-- Fields -->
      <div class="mb-4 px-3">

        <!-- Form -->
        <form id="contact-form">

          <!-- Dynamic fields -->
          {% include "console/components/forms/dynamic_form.html" with
            fields=contacts.fields
          %}

        </form>

      </div><!-- End of fields -->

      <!-- TODO: Try to implement add people with AG-Grid table -->

      <!-- Danger zone (delete) -->
      {% if id and id != 'new' %}
        {% include "console/components/forms/delete_option.html" with
          id=id
          model="contacts"
          model_singular="contact"
        %}
      {% endif %}
    
    {% endif %}

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
{% if not unit %}
  <script>

    // Load the data into the user interface.
    cannlytics.ui.viewObject('contact');

    // Render any date pickers.
    {% comment %} $('.datepicker').datepicker({
      autoclose: true,
      format: {
        toDisplay: 'mm/dd/yyyy',
        toValue: 'yyyy-mm-dd',
      },
      todayHighlight: true,
    }); {% endcomment %}

  </script>
{% endif %}
{% endblock console_js %}

</html>
