<!doctype html>
<html>
<!--
  Map Page | Cannlytics Console
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 8/9/2021
  Updated: 8/9/2021
  TODO:
    - Show current clients (geocode if necessary)
-->
{% load static %}
{% block console_css %}

<!-- PDF.js -->

{% endblock console_css %}

  <!-- Title -->
  <div class="px-3">
    <h1 class="fs-6 lh-base text-dark mb-0 mt-3">
      Logistics
    </h1>
    <h2 class="fs-6 lh-base text-secondary mb-0">
      <small>Map, plan, and schedule your analyses and network with your contacts.</small>
    </h2>
  </div>

  <!-- Map -->
  <div class="row my-5 mx-auto px-5">

    <!-- Google Map -->
    <figure class="figure w-100">

      <!-- Map -->
      <div id="map" style="height:540px;width:100%;" class="figure-img img-fluid"></div>

      <!-- Caption -->
      {% comment %} <figcaption class="figure-caption" style="max-width:540px;">
        <h6 class="sans-serif fw-bold mt-3">
          How Cannlytics sources data
        </h6>
        Cannlytics retrieves data through listings on Google Search and
        Google Maps and from a company's official website. Users can
        <a href="/labs/">contribute factual information</a> about labs, such as
        analyses and prices. If you believe that any
        information is incorrect or should be removed, then please contact
        <a href="mailto:support@cannlytics.com">support@cannlytics.com</a>.
        For further information about how Cannlytics sources data, then please
        see the open source
        <a href="https://github.com/cannlytics/cannlytics-engine">Cannlytics engine</a>.
      </figcaption> {% endcomment %}

    </figure>

    <!-- TODO: Search -->
    {% comment %} <div
      id="search"
      class="d-flex flex-grow-1 nav-search-form mb-3"
    >
      <input
        aria-label="Search"
        id="searchInput"
        class="nav-search-input form-control"
        placeholder="Search"
        list="searchOptions"
        name="org_id"
        oninput="cannlytics.community.onInput()"
        type="text"
      >
      <datalist id="searchOptions"></datalist>
      <button
        id="searchButton"
        class="nav-search-button btn btn-default p-0"
        style="transform:translateX(-32px);width:0;"
      >
        <span data-feather="search"></span>
      </button>
    </div><!-- End of search --> {% endcomment %}

  </div>


  <!-- TODO: Results table -->

<!-- JavaScript -->
{% block console_js %}
  <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
  <script type="text/javascript">
    var script = document.createElement('script');
    var apiKey = {{ api_key|safe }}[0]; // Passing API key from Django.
    script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
    script.defer = true;
    window.initMap = function() {
      // TODO: Get data and render it on the map!
    }
    document.head.appendChild(script);
  </script>
{% endblock console_js %}

</html>
