<!doctype html>
<html>
<!--
  Instruments | Cannlytics Console
  Created: 1/13/2021
  Updated: 7/7/2021
-->
{% extends "console/console.html" %}
{% load icon %}
{% block title %}{% if section %}{{ section }} | {% endif %}Instruments | Cannlytics {% endblock title %}
{% block console_body %}
{% if section %}

  <!-- Detail page -->
  {% include "console/pages/analyses/analysis.html" with id=section %}

{% else %}

  <!-- List -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  
    <!-- Header -->
    {% include "console/components/tables/table_options.html" with
      model='instruments'
      model_singular='instrument'
    %}

    <!-- Body -->
    <div class="instruments">

      <!-- Loading placeholder -->
      <div id="loading-placeholder">
        {% include "console/components/placeholders/loading_placeholder.html" with
          height='326px'
          width='100%'
          only
        %}
      </div>

      <!-- No-data Placeholder -->
      <div id="data-placeholder" class="d-none">
        {% include "console/components/placeholders/placeholder.html" with
          placeholder=instruments.placeholder
          only
        %}
      </div>

      <!-- AG Grid Table -->
      <div id="data-table" class="d-none">
        <!-- TODO: Advanced search -->
        <div
          id="instruments-table"
          class="ag-theme-alpine-dark"
          style="height: 326px; width:100%;"
        ></div>
      </div>

    </div><!-- End of the body -->

  </main>
{% endif %}
{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}

  {% if not section %}
    <script>
      cannlytics.app.streamData('instruments', 'instrument', '{{ organizations.0.organization_id }}');
    </script>
  {% endif %}

{% endblock console_js %}
</html>
