# Documentation Requirements | Cannlytics
# Authors: Keegan Skeate <https://github.com/keeganskeate>
# Created 6/2/2023
# Updated: 6/2/2023
# License: MIT License <https://github.com/cannlytics/cannlytics/blob/main/LICENSE>
mkdocs-autorefs==0.4.1
mkdocs-material==9.1.15
mkdocstrings==0.22.0
mkdocs-same-dir==0.1.2
mkdocs-exclude==1.0.2
