# Cannlytics Documentation requirements
# pip install -r requirements.txt
mkdocstrings==0.15.0
requests==2.25.1
ulid-py==1.1.0
beautifulsoup4==4.9.3
django==3.2
xlwings
# cannlytics
# git+https://github.com/cannlytics/cannlytics.git
