/*--------------------------------------------------------------------------
  Docs Style | Cannlytics Docs
  Author: Keegan Skeate <keegan@cannlytics.com>
  Created: 4/30/2021
  Updated: 7/22/2021
---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
  Colors
---------------------------------------------------------------------------*/

/* Selection color */
::-moz-selection {
  color: #1a1a1a;
  background: #96e6a1;
}
::selection {
  color: #1a1a1a;
  background: #96e6a1;
}
/* body[data-md-color-scheme="slate"] ::-moz-selection {
  color: #fff;
} */
body[data-md-color-scheme="slate"] ::selection {
  color: #fff;
}

/* Text colors */
body[data-md-color-scheme="slate"] {
  color: #9baec8;
}
body[data-md-color-scheme="slate"] strong,
body[data-md-color-scheme="slate"] i,
body[data-md-color-scheme="slate"] h1,
body[data-md-color-scheme="slate"] h2,
body[data-md-color-scheme="slate"] h3,
body[data-md-color-scheme="slate"] .md-nav {
  color: #d9e1e8;
}
/* Actions */
.md-content .md-typeset a {
  color: inherit;
  /* border-bottom: 1px solid #00c753; */
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #00c75360 50%, transparent 50%);
  -webkit-transition: all .2s;
  -moz-transition: background-position, color .2s;
  transition: all .2s;
  background-position: 0 -100%;
  font-weight: 600;
}
.md-content .md-typeset a:hover {
  background-position: unset;
}
body[data-md-color-scheme="slate"] .md-content .md-typeset a {
  color: inherit;
  /* border-bottom: 1px solid #fa0; */
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, rgba(255, 170, 0, 0.3) 50%, transparent 50%);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  background-position: 0 -100%;
  font-weight: 600;
}
body[data-md-color-scheme="slate"] .md-content .md-typeset a:hover {
  background-position: unset;
  color: #d9e1e8;
}
.badges {
  border-bottom: none !important;
  background: none !important;
}

/* Nav actions */
.md-nav__link--active {
  color: inherit !important;
}
body[data-md-color-scheme="slate"] .md-nav__link--active {
  color: #fa0 !important;
}
.md-nav__link--active:hover {
  color: #fa0 !important;
}
.md-nav--primary .md-nav__item--active > .md-nav__link {
  font-weight: 600;
}
body[data-md-color-scheme="slate"] .md-nav__link--active:hover,
body[data-md-color-scheme="slate"] .md-nav--primary .md-nav__item--active > .md-nav__link {
  color: #fa0 !important;
}

/* Search actions */
.md-search-result__more summary {
  color: #1a1a1a !important;
}
body[data-md-color-scheme="slate"] .md-search-result__more summary {
  color: #00c753 !important;
}
.md-search-result__more summary:focus,
.md-search-result__more summary:hover {
  color: #fa0 !important;
}

/* Tab colors */
body[data-md-color-scheme="slate"] .md-tabs__link--active,
body[data-md-color-scheme="slate"] .md-tabs__link:hover {
  color: #ffa600;
}

/*--------------------------------------------------------------------------
  Text
---------------------------------------------------------------------------*/

body[data-md-color-scheme="default"] .md-typeset h1 {
  color: #000 !important;
}
body[data-md-color-scheme="slate"] .md-typeset h1 {
  color: rgb(233, 235, 252) !important;
}
.md-content__inner p {
  line-height: 1.75 !important;
}
.md-typeset h1 {
  font-size: 1.05rem !important;
  font-weight: 400;
}
.md-typeset h2 {
  font-size: 1rem !important;
  font-weight: 400;
}
.md-typeset h3 {
  font-size: .9rem !important;
}
.md-typeset h4 {
  font-size: .85rem !important;
}
.md-typeset h5 {
  font-size: .8rem !important;
}
.md-typeset h6,
.md-typeset {
  font-size: .75rem !important;
}
.center-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*--------------------------------------------------------------------------
  Header
---------------------------------------------------------------------------*/

body[data-md-color-scheme="slate"] .md-header,
body[data-md-color-scheme="slate"] .md-tabs {
  background-color: #000;
}
.md-header__title {
  margin-left: 0;
}
.md-tabs__link {
  font-weight: 600;
}
.md-tabs__link--active,
.md-tabs__link:hover {
  color: #1a1a1a;
}

/*--------------------------------------------------------------------------
  Footer
---------------------------------------------------------------------------*/

.md-footer {
  margin-top: 2rem;
}

body[data-md-color-scheme="default"] .md-footer,
body[data-md-color-scheme="default"] .md-footer-meta,
body[data-md-color-scheme="default"] .md-footer__inner {
  background-color: #eff3f5 !important;
}

body[data-md-color-scheme="default"] .md-footer-copyright,
body[data-md-color-scheme="default"] .md-footer-copyright a,
body[data-md-color-scheme="default"] .md-footer-copyright__highlight,
body[data-md-color-scheme="default"] .md-footer-social__link svg,
body[data-md-color-scheme="default"] .md-footer__link {
  /* color: #6c757d !important; */
  color: #1a1a1a !important;
}

/*--------------------------------------------------------------------------
  Announcement
---------------------------------------------------------------------------*/

body[data-md-color-scheme="default"] .md-announce {
  background-color: #eff3f5;
}
body[data-md-color-scheme="default"] .md-announce__inner {
  color: #1a1a1a;
}
.md-announce__inner {
  font-size: 0.6rem !important;
  margin: .4rem auto !important;
}
.md-banner__inner.md-grid.md-typeset a {
  color: #ffa600!important;
}
.md-banner__inner.md-grid.md-typeset a:hover {
  color: #45B649 !important;
}

/*--------------------------------------------------------------------------
  Code
---------------------------------------------------------------------------*/

.md-typeset pre {
  margin-top: 0 !important;
}
.tabbed-set {
  margin-bottom: 0 !important;
}
