<!doctype html>
<html>
<!--
  Traceability Settings Edit License Page | Cannlytics Console
  Created: 6/14/2021
  Updated: 6/14/2021
-->
{% extends "console/pages/traceability/traceability.html" %}
{% load icon %}
{% block section %}

  <!-- Body -->
  <div class="px-3">

    <!-- Header -->
    <h1 class="fs-5 lh-base text-dark mb-0 mt-3">Delete license</h1>
    <h2 class="fs-6 lh-base text-secondary mb-3">
      Please give a reason before removing the following license for quality control.
    </h2>

    <!-- License details -->
    <div class="col text-dark align-items-start my-3">
      <div>License number: {{ request.GET.license }}</div>
      <div>License type: {{ request.GET.license_type|title }}</div>
      <div>State: {{ request.GET.state }}</div>
    </div>

    <!-- Text area for deletion reason -->
    <div class="form-floating">
      <textarea
        id="license-deletion-reason-input"
        class="form-control"
        placeholder="Leave a reason here."
        style="height: 200px"
        name="license_deletion_reason"
      ></textarea>
      <label for="floatingTextarea2">Deletion reason</label>
    </div>

    <!-- Actions -->
    <div class="mt-3">
      <a
        class="btn btn-sm btn-secondary me-1"
        href="/traceability/settings"
      >
        Cancel
      </a>
      <button
        onclick="cannlytics.traceability.deleteLicenseValidation('{{ organizations.0.uid }}', '{{ request.GET.license }}');"
        class="btn btn-sm btn-danger"
      >
        Delete license
      </button>
    </div>
  </div>

{% endblock section %}
</html>
