<!doctype html>
<html>
<!--
  Traceability Settings Page | Cannlytics Console
  Created: 6/12/2021
  Updated: 6/13/2021
-->
{% extends "console/pages/traceability/traceability.html" %}
{% load icon %}
{% comment %} {% block console_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
{% endblock console_css %} {% endcomment %}
{% block section %}
<div class="p-3">

  <h1 class="fs-5 mb-0 lh-base text-dark">Provider</h1>

  <!-- Traceability Provider -->
  <div class="col-md-4">
    <label for="inputTraceabilityProvider" class="form-label">Traceability Provider</label>
    <select id="inputTraceabilityProvider" class="form-select">
      {% comment %} <option >Select</option> {% endcomment %}
      {% comment %} <option>Leaf Data Systems</option> {% endcomment %}
      <option selected>Metrc</option>
    </select>
  </div>

  <!-- Credentials-->
  <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Credentials</h1>
  <h2 class="fs-6 lh-base text-secondary mb-3">Securely save your API keys through Google Secret Manager.</h2>

  <!-- Add licenses | Ability for user to securely save API keys through Google Secret Manager -->
  {% if not organizations.0.licenses %}
    <div class="my-3">
      <button
        id="license-fields-show"
        class="btn btn-sm btn-secondary"
        onclick="toggleLicenseFields(event);"
      >
        Add state-issued license
      </button>
    </div>

    <!-- Licenses -->
    <div id="license-fields" class="d-none mb-4 px-3">

      <!-- Licenses form -->
      <form id="licenses-form">
        <ol id="license-list" class="bold-list" style="padding-left: 0;">
          <li id="primary-license" class="mb-3">
            <div class="row g-4">
              <div class="col-md-3">
                <label class="form-label">License</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="license_number"
                >
              </div>
              <div class="col-md-3">
                <label class="form-label">License Type</label>
                <select
                  class="form-select form-select-sm"
                  aria-label="License type"
                  name="license_type"
                >
                  <option selected></option>
                  <!-- Optional: Dynamic license types-->
                  <option value="lab">Lab</option>
                  <option value="producer-cultivator">Cultivator</option>
                  <option value="producer-processor">Processor</option>
                  <option value="retailer">Retailer</option>
                  <option value="other">Other</option>
                </select>
                <!-- Optional: Let user specify type if other -->
                <input
                  type="text"
                  class="form-control form-control-sm d-none"
                  placeholder="Please specify..."
                >
              </div>
              <div class="col-md-2">
                <label class="form-label">State</label>
                <select
                  class="form-select form-select-sm license-state-selection"
                  aria-label="License type"
                  name="state"
                >
                  <!-- TODO: Dynamically list states where Cannlytics is verified -->
                  <option value="OK" selected>Oklahoma</option>
                  <!-- <option value="other">Other</option> -->
                </select>
              </div>
              <!-- Optional: Only show API key if state is verified by Cannlytics -->
              <div class="col-md-3">
                <label class="form-label">
                  User API Key
                  <button
                    type="button"
                    class="btn btn-tooltip-help"
                    data-bs-toggle="tooltip"
                    data-bs-html="true"
                    title="Integration with Metrc requires your user's API key, which only you can generate and obtain. This API key is tied directly to your Metrc user account (not the company or facility), and everything your software does is tied to your user's API Key. Your software will, however, be limited by the permissions granted to your user within Metrc.<br><br>Your user API key is encrypted and protected in accordance with our <a href='https://docs.cannlytics.com/about/security-policy' target='_blank'>security policy</a>.<br><br>Please see the <a href='https://api-ok.metrc.com/Documentation#getting-started_user_api_key' target='_blank'>Metrc documentation</a> for more information."
                  >
                    {% icon 'help-circle' width="18px" height="18px" class="text-secondary" %}
                  </button>
                </label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="license-type-other-1"
                  name="user_api_key"
                  type="password"
                >
              </div>
              <div class="col-md-1">
                <button
                  class="btn btn-link text-danger"
                  onclick="toggleLicenseFields(event);"
                >
                  {% icon 'trash-2' hegiht="16px" width="16px" %}
                </button>
              </div>
            </div>
          </li>
        </ol>
      </form>

      <!-- Add license button -->
      <div>
        <a
          class="btn btn-sm btn-secondary"
          onclick="cannlytics.ui.addListItem('license')"
        >
          Add a license
        </a>
        <button
          class="btn btn-sm bg-gradient-green text-white"
          onclick="cannlytics.traceability.saveLicenses('{{ organizations.0.uid }}');"
        >
          Save
        </button>
      </div>

    </div><!-- End of license fields -->
  
  {% else %}

    <!-- Data Grid | List any organizations licenses -->
    <div class="row px-3 my-4">
      {% for item in organizations.0.licenses %}
        <div class="card shade-hover col col-sm-1 col-md-2 p-3" style="width:400px;">
        <a
          class="card-block stretched-link text-decoration-none"
          href="/traceability/settings/edit-license?license={{ item.license_number }}&license_type={{ item.license_type }}&state={{ item.state }}"
        >

          <!-- Card header -->
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <h4 class="fs-5 text-dark">License - {{ item.license_number }}</h4>
            </div>

            <!-- Options -->
            <!-- FIXME: Setup edit / delete pages | delete page needs to log a reason from the user -->
            <div class="btn-group dropstart">
              <a role="button" class="nav-link dropdown-toggle simple-dropdown p-0" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="icon-container action">
                  {% include 'console/components/icons/dialpad.svg' %}
                </div>
              </a>
              <ul class="dropdown-menu shadow">
                <li>
                  <a
                    class="dropdown-item"
                    href="/traceability/settings/edit-license?license={{ item.license_number }}&license_type={{ item.license_type }}&state={{ item.state }}"
                  >
                    Edit license
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/traceability/settings/delete-license?license={{ item.license_number }}&license_type={{ item.license_type }}&state={{ item.state }}"
                  >
                    Delete license
                  </a>
                </li>
              </ul>
            </div>

          </div>

          <!-- Card body -->
          <div class="card-body bg-transparent p-0">

            <!-- Badges -->
            {% comment %} <span class="badge rounded-pill bg-info">{{ item.license_type|title }}</span> {% endcomment %}

            <!-- Data block -->
            <div class="col h-100 text-dark align-items-start py-3">
              <!-- Optional: Add active_at and expiration_at fields and save functionality -->
              {% comment %} <div>Active date:
                {% if item.active_at %}
                  {{ item.active_at }}
                {% else %}
                  <input
                    id="active-at-input"
                    type="text"
                    class=""
                    name="active_at"
                    data-provide="datepicker"
                    data-date-start-date="-0d"
                  >
                {% endif %}
              </div>
              <div>Expiration date: {{ item.expiration_at }}</div> {% endcomment %}
              <div>License type: {{ item.license_type|title }}</div>
              <div>State: {{ item.state }}</div>
            </div>

          </div>

        </a>
        </div>
      {% endfor %}
    </div>

    <!-- Add license button -->
  
  {% endif %}


  <!-- Optional: User can choose how often to run metrc_sync.py -->


  <!-- Optional: Let the user choose which tabs to show? -->


  <!-- TODO: Display GET /unitsofmeasure/v1/active in a bootstrap table -->
  <!-- Try to get from Firestore, Ggt from Metrc if not in Firestore,
  save in Firestore. Option for use to re-sync with Metrc. -->
  
</div>
{% endblock section %}
{% block console_js %}
  <script>

    // Initialize the UI.
    // cannlytics.dashboard.initializeGetStarted('organization');
  
    // Enable tooltips.
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });

    // Toggle add license fields
    function toggleLicenseFields(event) {
      event.preventDefault();
      cannlytics.ui.toggleElementClass('license-fields', 'd-none');
      cannlytics.ui.toggleElementClass('license-fields-show', 'd-none');
    }

  </script>
{% endblock console_js %}
</html>
