<!doctype html>
<html>
<!--
  Map Page | Cannlytics Console
  Created: 8/11/2021
  Updated: 8/14/2021
-->
{% extends "../transfers.html" %}
{% load get_env %}
{% block title %}Map | Transfers | Cannlytics {% endblock title %}
{% block console_css %}
  <style>
    .gm-style-iw, .gm-style-iw-c, .gm-style-iw-d {
      max-height: 340px !important;
      max-width: 325px;
    }
    .gm-style .gm-style-iw-c  {
      padding: 0;
    }
    .gm-style-iw-d {
      overflow-x: hidden !important;
    }
  </style>
{% endblock %}
{% block unit %}
<main role="main" class="col ml-sm-auto">

  <!-- Options -->
  <div class="row row-md-6">

    <!-- Title -->
    <div class="d-flex justify-content-between mt-3">
      <div class="px-3">
        <h1 class="fs-6 lh-base text-dark mb-0">
          Find a lab for transfers
        </h1>
        <h2 class="fs-6 lh-base text-secondary mb-3 w-75">
          <small>Locate a lab to test your cannabis, browse analyses, and
          engage with like-minded scientists around the world.</small>
        </h2>
      </div>
    </div>

    <!-- Options  -->
    <div class="row d-flex align-items-center justify-content-start mb-3 me-2">

      <!-- Search -->
      <!-- TODO: Let people search by analysis and compare prices -->
      <div
        id="search"
        class="col-md-5 d-flex align-items-center pe-0 mt-3 me-4"
      >
        <label class="form-label form-label-sm me-2 mb-0">
          Search
        </label>
        <input
          aria-label="Search"
          id="searchInput"
          class="nav-search-input form-control form-control-sm w-100"
          placeholder="Search"
          list="searchOptions"
          name="org_id"
          oninput="cannlytics.transfers.onMapSearchInput()"
          type="text"
          style="width:350px;"
        >
        <datalist id="searchOptions"></datalist>
        <button
          id="searchButton"
          class="nav-search-button btn btn-default p-0"
          style="transform:translateX(-32px);width:0;"
        >
          <span data-feather="search"></span>
        </button>
      </div><!-- End of search -->

      <!-- State selection -->
      <div class="col-md-4 d-flex align-items-center mt-3">
        <label class="form-label form-label-sm me-2 mb-0">
          State
        </label>
        <div class="">
          <select
            id="state_input"
            name="state"
            class="form-select form-select-sm"
            aria-label="State"
          >
            <!-- TODO: Dynamically load all states that Cannlytics operates in. -->
            <option value="OK" selected >
              Oklahoma
            </option>
          </select>
        </div>
      </div>

    </div><!-- End of options -->

  </div><!-- End of options -->

  <!-- Lab map -->
  <div class="row">

    <figure class="col-md-8 figure">

      <!-- Map -->
      <div id="map" style="height:420px;width:100%;" class="figure-img img-fluid"></div>

      <!-- Caption -->
      <figcaption class="figure-caption" style="max-width:540px;">
        <h6 class="sans-serif fw-bold mt-3">
          How Cannlytics sources data
        </h6>
        Cannlytics retrieves data through listings on Google Search and
        Google Maps, from a company's official website, or from a company themselves. Users can
        <a class="text-link" href="/help/feedback">contribute factual information</a> about labs, such as
        analyses and prices. If you believe that any
        information is incorrect or should be removed, then please contact
        <a class="text-link" href="mailto:support@cannlytics.com">support@cannlytics.com</a>.
        For further information about how Cannlytics sources data, then please
        see the open source
        <a class="text-link" href="https://github.com/cannlytics/cannlytics/tree/main/tools">Cannlytics tools</a>.
      </figcaption>

    </figure>

    <!-- List Column -->
    <div class="col-md-4 mb-5">

      <!-- Selected -->
      <div id="item-selected" class="card d-none mb-3">

      </div>

      <!-- List -->
      <div
        id="lab-list"
        class="card list-group bg-transparent px-0"
        style="max-height:420px; overflow-y:scroll;"
      >
        <div class="card-header text-dark bg-light">Labs</div>
        <!-- TODO: Add analyses list -->  
      </div>
  
    </div><!-- End of list column -->

  </div><!-- End of lab map -->

</main>
{% endblock unit %}

<!-- JavaScript -->
{% block console_js %}
  <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
  <script type="text/javascript">
    var script = document.createElement('script');
    var apiKey = "{{ 'GOOGLE_MAPS_API_KEY'|get_env }}"; // Passing API key from Django.
    script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
    script.defer = true;
    window.initMap = function() {
      cannlytics.transfers.initializeMap();
    }
    document.head.appendChild(script);
  </script>
{% endblock console_js %}
</html>
