<!doctype html>
<html>

  {% load static %}

  <img src="{% static 'cannlytics_website/images/theme/bean_stalk_simple.svg' %}"
    class="side-vine side-vine-right straight-vine-right"
    height="100" 
  >
  <img src="{% static 'cannlytics_website/images/theme/bean_stalk_complex.svg' %}"
    class="side-vine side-vine-right straight-vine-right"
    height="300" 
  >
  <img src="{% static 'cannlytics_website/images/theme/bean_stalk_simple.svg' %}"
    class="side-vine side-vine-right straight-vine-right vine-nudge-left"
    height="150" 
  >

</html>