<!doctype>
<html>
  <!-- Sidebar Login | Cannlytics Console -->
  <!-- TODO: Make minimizable -->

  {% load static icon %}

  <nav
    id="sidebar-menu-login"
    class="col-md-3 col-lg-2 d-md-block bg-light sidebar sidebar-sticky collapse"
  >
    <div class="pt-3 px-3">

      <!-- Prompt -->
      <p class="pb-3"><small>Already have an account?</small></p>
      <a
        class="w-100 btn btn-success mt-3"
        type="button"
        href="/account/sign-in"
      >
        Sign In
      </a>

    <!-- Bottom option -->
    <div class="w-100 text-center mt-5 mb-3 position-absolute bottom-0" style="left:0;">
      <a
        class="h6 btn btn-sm btn-outline-primary"
        href="https://cannlytics.com/support"
        target="_blank"
      >
        {% icon "life-buoy" class="me-2" height="16" width="16" %}
        Get support
      </a>
    </div>

    </div>
  </nav>
</html>
