<!-- Examples Page -->
{% extends "cannlytics_website/index.html" %}
{% load static %}
{% block title %}Examples | {{ general.title }}{% endblock %}
{% block material %}

  <!-- Examples -->
  <div class="examples container pb-5">

    <!-- Hero -->
    <div class="row featurette mt-5">
      <div class="col-md-7">
        <h2 class="h1 serif text-gradient-reverse pb-3 mt-0">
          Examples
        </h2>
        <p class="h5 double-line text-dark text-start text-muted font-italic"></p>
      </div>
    </div>

    <!-- Examples List TODO: -->
    <div class="container text-center">
      <img
        src="{% static 'cannlytics_website/images/theme/acorn_original.svg' %}"
        width="175px"
        class="py-3"
      >
      <h2>Under Construction</h2>
    </div>

  </div>

  <!-- Vines -->
  {% include 'cannlytics_website/components/art/vines.html' %}

{% endblock %}
