<!-- Software Page -->
<!-- Created 11/17/2020 -->
{% extends "cannlytics_website/index.html" %}
{% block title %}Software | {{ general.title }}{% endblock %}
{% load static %}
{% block material %}

<div class="container software">

  <!-- Hero -->
  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="h1 serif text-gradient-reverse pb-3 mt-0">
        Welcome to the Cannlytics Engine.
      </h2>
      <p class="h5 double-line text-dark text-start text-muted font-italic">
        A vibrant community of cannabis-testing developers and scientists.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="{% static 'cannlytics_website/images/illustrations/cannlytics_communication.svg' %}"
        width="100%"
      >
    </div>
  </div>

  <!-- Featured Software -->
  <div class="marketing features">
    {% for item in software %}
      <div
        class="row featurette"
        style="margin-top:5rem;margin-bottom:5rem;"
      >
        <div class="col-md-7">
          <h2 class="featurette-heading large-line mt-0">
            {{ item.name }}
          </h2>
          <p class="lead double-line">
            {{ item.description }}
          </p>
        </div>
        <div class="col-md-5">
          <img
            src="{% static item.image %}"
            width="100%"
          >
        </div>
      </div>
    {% endfor %}
  </div><!-- End of Features -->

</div>

{% endblock %}
