<!doctype html>
<html>
<!--
  Breadcrumbs | Cannlytics Console
  Created: 12/5/2021
  Updated: 12/5/2021
  Usage:
    [
      {"title": "Settings", "url": "/settings"},
      {"title": "Organizations", "url": "/settings/organizations"},
      {"title": "Cannlytics", "active": True}
    ]
-->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mt-2 mb-3 border-bottom border-secondary">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0 mb-0">
      {% for item in breadcrumbs %}
        {% if item.active %}
          <li class="breadcrumb-item active fs-6 lh-sm" aria-current="page">
            {{ item.title }}
          </li>
        {% else %}
          <li class="breadcrumb-item fs-6 lh-sm">
            <a class="action" href="{{ item.url }}">
              {{ item.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>
</html>
