<!doctype html>
<html>

  {% extends "cannlytics_website/index.html" %}

  {% load static %}

  <!-- Title -->
  {% block title %}Thank you | Cannlytics{% endblock %}

  {% block material %}

    <div class="contact container my-4 my-lg-5">
      <div class="row featurette my-5">

        <!-- Image -->
        <div class="col-md-5 order-md-1 order-lg-2 mb-5">
          <img
            src="{% static 'cannlytics_website/images/illustrations/cannlytics_office.svg' %}"
            width="100%"
          >
        </div>

        <!-- Text -->
        <div class="col-md-7 order-md-2 order-lg-1 pe-lg-5">
          <h1 class="simple-title my-3">
            Thank you for your message.
          </h1>
          <p>
            The team will get back to you as soon as possible.
          </p>
          <a
            type="button"
            class="btn bg-gradient-green text-white mt-3"
            href="{% url 'index' %}"
          >
            Keep exploring &rarr;
          </a>
        </div>

      </div>
    </div>
  {% endblock %}

</html>
