<!doctype html>
<html>
<!--
  Password Reset Page | Cannlytics Console
  Created: 12/5/2021
  Updated: 12/5/2021
-->
{% extends "./base_sign_in.html" %}
{% block login_form %}

  <!-- Message -->
  <h1 class="fs-5 lh-base text-dark mb-0 mt-5">Reset Password</h1>
  <h2 class="fs-6 lh-base text-secondary mb-3">Get a password reset email sent to you.</h2>

  <!-- Fields -->
  <div class="mb-3 row">
    <label
      for="sign-in-email"
      class="col-sm-2 col-form-label col-form-label-sm pe-2"
    >
      Email
    </label>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control form-control-sm"
        id="sign-in-email"
        required
        autofocus
        spellcheck="false"
      >
    </div>
  </div>

  <!-- Action -->
  <div class="d-flex justify-content-end w-100 mt-3">
    <button
      id="password-reset-button"
      class="ms-1 btn btn-sm bg-gradient-green text-white"
      style="max-width:250px;"
      type="button"
      onclick="cannabisdata.auth.resetPassword()"
    >
      Reset Password
    </button>
    <button
      id="password-reset-loading-button"
      class="ms-1 btn btn-sm btn-set-width bg-gradient-green text-white d-none"
      type="button"
      disabled
    >
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    </button>
  </div>

  <!-- Back button -->
  <div class="d-flex align-items-center justify-content-center">
    <div
      class="d-flex flex-column align-items-start justify-content-center mt-5"
    >
      <p class="text-center text-small fs-6 font-weight-light">
        <a class="background-hover text-dark fs-6" href="/account/sign-in">
          <small><b>&larr; Login</b></small>
        </a>
      </p>
    </div>
  </div>

  <!-- JavaScript to populate any signed-in user's email. -->
  <script>
    cannlytics.firebase.onAuthChange(function(user) {
      if (user !== null) document.getElementById('sign-in-email').value = user.email;
    });
  </script>

{% endblock %}
</html>
