<!doctype html>
<html>
<!--
  Selection Dialog | Cannlytics Console
  Created: 7/3/2021
  Updated: 7/3/2021
  Parameters:
    model
    callback

  Show a table of a specific type of a data model for a user
  to select the entries they wish to add.
-->
<div class="modal fade" id="selectionModal" tabindex="-1" aria-labelledby="selectionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close button -->
        <button type="button" class="btn-close btn-sm light-only" data-bs-dismiss="modal" aria-label="Close"></button>
        <button type="button" class="btn-close btn-sm btn-close-white dark-only" data-bs-dismiss="modal" aria-label="Close"></button>

        <!-- Header -->
        <h1 class="fs-5 lh-base text-dark mb-0 mt-3">Select {{ model }}</h1>
        <h2 class="fs-6 lh-base text-secondary mb-3">
          <small>Choose the {{ model }} that you need from pre-existing {{ model }}.</small>
        </h2>

        <!-- AG Grid Table -->
        <div id="selection-data-table">
          <div
            id="{{ model }}-selection-table"
            class="ag-theme-alpine-dark"
            style="height: 350px; width:100%;"
          ></div>
        </div>

        <!-- Options -->
        <div class="d-flex justify-content-end px-3 pt-3">
          <button
            type="button"
            class="btn btn-sm-light btn-md-light me-2"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-sm bg-gradient-green text-white"
            onclick="cannlytics.app.selectTableRows();"
            data-bs-dismiss="modal"
          >
            Select
          </button>
        </div>

      </div>

    </div>
  </div>
</div>