<!doctype html>
<html>

  <!-- Contributors Page -->
  <!-- Created 11/17/2020 -->
  {% extends "cannlytics_website/index.html" %}
  {% load static %}
  {% block title %}Contributors | {{ general.title }}{% endblock %}
  {% block material %}
    <div class="contributors large-bottom-margin">

      <!-- Hero -->
      {% include "cannlytics_website/components/heros/hero_banner.html" with
        title='Contributors'
        description='Ahoy, matey! All hands on deck! The Cannlytics spaceship is launching and your contributions would be loved be the cannabis testing community.'
        primary_action='Contribute now'
        primary_action_url='https://github.com/orgs/cannlytics/projects'
        secondary_action='Browse contributions'
        secondary_action_url='https://github.com/orgs/cannlytics/packages'
        only
      %}

      <!-- Contributors -->
      <div class="container markdown">

        <h1 class="my-4">
          Cannlytics is built with the love by...
        </h1>
        {% for item in contributors %}
          <figure class="figure">
            <a href="{{ item.url }}" title="{{ item.name}}">
              <img
                class="figure-img img-fluid rounded-3"
                src="{{ item.url }}.png?size=250"
              >
            </a>
            <figcaption class="figure-caption w-50">
              <div class="fs-5 text-dark fw-bold">{{ item.name}}</div>
              <div>{{ item.company}}</div>
              <div>{{ item.location}}</div>
              <div>{{ item.description}}</div>
              <iframe
                src="https://ghbtns.com/github-btn.html?user={{ item.slug }}&type=follow&count=true"
                frameborder="0"
                scrolling="0"
                width="170"
                height="20"
                title="GitHub"
                class="mt-2"
              ></iframe>
            </figcaption>
          </figure>
        {% endfor %}
      </div>

      <!-- How to contribute markdown -->
      <div class="container markdown py-3 mt-5">
        {{ contribute | safe }}
      </div>
    
    </div>

    <!-- Vines -->
    {% include "cannlytics_website/components/art/vines.html" %}

  {% endblock %}

</html>
