<!-- Partners Page -->
{% extends "cannlytics_website/index.html" %}

{% comment %} Vivid Microscopy helps parhmetcutical companies create cancer-fighting pharmacuticals faster. {% endcomment %}
{% load static %}

<!-- Title -->
{% block title %}Partners | {{ general.title }}{% endblock %}

{% block material %}
  <div class="partners pb-5">

    <!-- Hero -->
    <div class="container">
      <div class="row featurette mt-5">
        <div class="col-md-7">
          <h2 class="h1 serif text-gradient-reverse pb-3 mt-0">
            Meet our awesome partners
          </h2>
          <p class="h5 double-line text-dark text-start text-muted font-italic">
            Cannlytics is proud of and thankful to our partners, who are the
            reason that Cannlytics is being built today.
          </p>
        </div>
        <div class="col-md-5">
          <img
            src="{% static 'cannlytics_website/images/illustrations/cannlytics_communication.svg' %}"
            width="100%"
          >
        </div>
      </div>
    </div>

    <!-- Partners -->
    <div class="container">
      <div class="row ">
        {% for item in partners_list %}
          <div class="col-9 col-md-6 pt-3 px-3 pe-lg-5 pt-md-5 text-start overflow-hidden">
            <div class="card text-white bg-success shadow my-3 py-3">
              <div class="card-body bg-transparent">
                <img src="{{ item.image_url }}"
                  height="50px"
                  class="mb-2"
                >
                <p class="fs-6 my-3">
                  {{ item.description }}
                </p>
                {% if item.action %}
                  <a
                    class="text-white underline-hover"
                    href="{{ item.website }}"
                  >
                    {{ item.action }} &rarr;
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div><!-- End of partners -->

    <!-- TODO: Partner application form -->
    {% comment %} <div class="row mb-3">

      <!-- User image -->
      <div class="col-md-6 text-center py-3 order-md-2">
        <img
          src="{% static 'cannlytics_website/images/illustrations/cannlytics_collaboration.svg' %}"
          style="height:200px;"
          class="pe-3"
        >
        <button
          class="btn btn-sm position-absolute text-dark"
          onclick="cannlytics.settings.uploadAccountPhoto()"
        >
          <span data-feather="image"></span>
        </button>
      </div>

      <!-- Fields -->
      <div class="col-md-6">
        <form>
          {% for item in partners.fields %}        
            <div class="row mb-3">

              <!-- Field label -->
              <label
                for="input-{{ item.key }}"
                class="col-sm-2 col-form-label col-form-label-sm"
              >
                {{ item.title }}
              </label>

              <!-- Field input -->
              <div class="col-sm-10">
                {% if item.group %}
                  <div class="input-group input-group-sm">
                    <div class="input-group-text">{{ item.group }}</div>
                    <input
                      type="{{ item.type }}"
                      class="form-control form-control-sm"
                      id="input-{{ item.key }}"
                    >
                  </div>
                {% else %}
                  <input
                    type="{{ item.type }}"
                    class="form-control form-control-sm"
                    id="input-{{ item.key }}"
                    spellcheck="false"
                  >
                {% endif %}
              </div>

            </div>
          {% endfor %}
        </form>
      </div><!-- End of fields -->

    </div> {% endcomment %}

  </div>

  <!-- Vines -->
  {% include "cannlytics_website/components/art/vines.html" %}

{% endblock %}
