<!doctype html>
<html>

  <!-- Team Page -->
  <!-- Created 11/17/2020 -->
  {% extends "cannlytics_website/index.html" %}
  {% load static %}
  {% block title %}Team | {{ general.title }}{% endblock %}
  {% block material %}
    <div class="contributors large-bottom-margin">

      <!-- Hero -->
      {% include "cannlytics_website/components/heros/hero_banner.html" with
        title='Team'
        description='All aboard! The Cannlytics team is responsible for developing the Cannlytics Engine and helping the Cannlytics ecosystem thrive.'
        primary_action='Join now'
        primary_action_url='/contact'
        secondary_action='Browse opportunities'
        secondary_action_url='https://github.com/orgs/cannlytics/projects'
        only
      %}

      <!-- Team -->
      <div class="container markdown">

        <h1 class="mb-5">
          Cannlytics is built with the love by...
        </h1>
        <div class="row">
        {% for item in team %}
          <figure class="figure col-md-4">
            <a href="{{ item.url }}" title="{{ item.name}}">
              <img
                class="figure-img img-fluid rounded-3"
                src="{{ item.image }}"
                style="height:150px"
              >
            </a>
            <figcaption class="figure-caption w-50">
              <div class="fs-5 text-dark fw-bold">{{ item.name}}</div>
              <div>{{ item.company}}</div>
              <div>{{ item.location}}</div>
              <div>{{ item.description}}</div>
              <!-- Optional: Add phone number and email-->
            </figcaption>
          </figure>
        {% endfor %}
        </div>
      </div>

      <!-- How to join -->
      {% comment %} <div class="container markdown py-3 mt-5">
        {{ contribute | safe }}
      </div> {% endcomment %}
    
    </div>

    <!-- Vines -->
    {% include "cannlytics_website/components/art/vines.html" %}

  {% endblock %}

</html>
