<!doctype html>
<html>
  <!-- Header | Cannlytics Website -->
  <!-- Created 1/7/2021 -->
  {% load static %}

  <!-- Banner offer -->
  <!-- AB TEST: Phone number and email banner -->
  {% if 'docs' not in request.path %}
    <div class="info-bar text-dark d-flex justify-content-between py-2 px-2 px-lg-3">
      <div class="d-flex"></div>
      <div class="d-flex align-items-center fw-bold">
        <small class="d-none d-lg-block">
          Questions? Call&nbsp;
        </small>
        <a
          class="text-dark underline-hover"
          href="tel:{{ general.phone_number }}"
          title="Call us."
        >
          <small class="d-none d-lg-block">
            {{ general.phone }}
          </small>
        </a>
        <span class="px-2 d-none d-lg-block">|</span>
        <!-- A/B Test: promotionals -->
        <a
          class="text-dark underline-hover"
          href="/events"
          title="Join us Wednesdays at 8:30am PST to talk about cannabis data science."
        >
          <small>
            Join the Cannabis Data Science meetup 🤝
          </small>
        </a>
        {% comment %} <a
          class="text-dark underline-hover"
          href="/whitepapers"
          title="Premium subscriptions starting at $1/mo."
        >
          <small class="d-none d-lg-block">
            Get 2021's first whitepaper 🎉
          </small>
        </a> {% endcomment %}
        <!-- Optional: Star on github -->
        {% comment %} <iframe
          src="https://ghbtns.com/github-btn.html?user=cannlytics&repo=cannlytics-website&type=star&count=true"
          frameborder="0"
          scrolling="0"
          width="150"
          height="20"
          title="GitHub"
        ></iframe> {% endcomment %}
      </div>
      <div class="d-flex d-lg-none"></div>
    </div>
  {% endif %}

  <!-- Theme Toggle -->
  {% include "cannlytics_website/components/buttons/theme_toggle.html" %}

  <!-- Header Template -->
  <nav class="navbar navbar-expand-lg navbar-light justify-content-start p-3 px-md-4 {% if 'docs' in request.path %}border-bottom{% endif %}">
    <div class="container-fluid">

      <!-- Title -->
      <!-- AB TEST: Logo font -->
      <a 
        class="navbar-brand d-flex align-items-center me-2"
        href="{% url 'index' %}"
      >
        <img
          src="{% static 'cannlytics_website/images/logos/cannlytics_logo_with_text_light.png' %}"
          class="light-only"
          height="{% if 'docs' in request.path %}32px{% else %}42px{% endif %}"
        >
        <img
          src="{% static 'cannlytics_website/images/logos/cannlytics_logo_with_text_dark.png' %}"
          class="dark-only"
          height="{% if 'docs' in request.path %}32px{% else %}42px{% endif %}"
        >
      </a>

      <!-- Menu Toggle -->
      <button
        class="navbar-toggler me-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span data-feather="menu"></span>
      </button>

      <!-- Navigation Links -->
      <div
        id="navbarNavDropdown"
        class="collapse navbar-collapse justify-content-between"
      >
        <ul class="navbar-nav me-2">
          <li class="nav-item h6 mb-0">
            <a
              class="nav-link sliding-action {% if 'community' in request.path %}active{% endif %}"
              href="{% url 'community' %}"
            >
              Community
            </a>
          </li>
          <li class="nav-item h6 mb-0">
            <a
              class="nav-link sliding-action {% if 'docs' in request.path %}active{% endif %}"
              href="{% url 'cannlytics_docs:index' %}"
            >
              Docs
            </a>
          </li>
          <li class="nav-item h6 mb-0">
            <a
              class="nav-link sliding-action {% if 'contact' in request.path %}active{% endif %}"
              href="{% url 'contact' %}"
            >
              Contact
            </a>
          </li>
          <!-- AB TEST: contact vs. help dropdown-->
          {% comment %} <li class="nav-item h6 mb-0 dropdown">
            <a
              class="nav-link sliding-action dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Help
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
              <a class="dropdown-item" href="{% url 'pricing' %}">Consulting</a>
            </div>
          </li> {% endcomment %}
        </ul>

        <!-- Right Navigation (Not signed in) -->
        <ul class="navbar-nav indicates-auth align-items-center me-3">
          {% comment %} {% include 'cannlytics_console/components/buttons/donate_button.html' %} {% endcomment %}
          <li class="nav-item h6 mb-0">
            <a
              class="nav-link app-action sliding-action text-nowrap me-2"
              data-bs-target="#login-dialog"
              data-bs-toggle="modal"
            >
              Sign in
            </a>
          </li>
          <li class="nav-item">
            <a
              type="button"
              class="btn btn-sm bg-gradient-green text-white text-nowrap"
              href="https://console.cannlytics.com/account/sign-up/"
            >
              Sign up
            </a>
          </li>
        </ul>

        <!-- Right navigation (Signed in) -->
        <ul class="navbar-nav requires-auth align-items-center me-3">
          {% comment %} {% include 'cannlytics_console/components/buttons/donate_button.html' %} {% endcomment %}
          <li class="nav-item h6 mb-0">
            <a
              class="nav-link sliding-action text-nowrap me-2"
              href="https://console.cannlytics.com"
            >
              Console
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle py-0" href="#" id="navbarUserMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img id="user-photo" class="rounded-circle" style="max-width:60px; max-height:60px;" src="">
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow mx-2" aria-labelledby="navbarUserMenu">
              <div class="px-3 py-1"><!-- TODO: Make display name / email standout -->
                <h5 class="serif" id="user-name"></h5>
                <h6 class="serif" id="user-email"></h6>
              </div>
              <li><hr class="dropdown-divider"></li>
              <li><a class="serif dropdown-item" href="https://console.cannlytics.com/settings/account/">Your account</a></li>
              <li><a class="serif dropdown-item" href="https://console.cannlytics.com/settings/invite/">Invite user</a></li>
              <li><a class="serif dropdown-item" href="https://console.cannlytics.com/help/feedback/">Send feedback</a></li>
              <li><button class="serif dropdown-item" onClick="cannlytics.auth.signOut()">Sign Out</button></li>
            </ul>
          </li>
        </ul><!-- End of right navigation -->

      </div><!-- End of navigation links-->

    </div>
  </nav><!-- End of header -->

</html>
